﻿@model Dividabill.Models.HouseModel

@{
    ViewBag.Title = "Details";
    var address = @Model.Address.ToString();
}

<div class="row profile">

    <div class="col-md-12">

        <!--BEGIN TABS-->

        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1_1" data-toggle="tab">Overview</a></li>
                <li><a href="#tab_1_6" data-toggle="tab">Tenants</a></li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="tab_1_1">

                    <div class="row">

                        <div class="col-md-3">

                            <ul class="list-unstyled profile-nav">
                                <li><img src="http://maps.googleapis.com/maps/api/streetview?size=400x400&location=@{@address}" class="img-responsive" alt="" /></li>
                                <li>@Html.ActionLink("Add Bill", "Create", "Bills", new { houseId = Model.ID }, null)</li>
                                <li><a href="#">Messages<span>3</span></a></li>
                                <li>@Html.ActionLink("Export to Excel", "Export", "Users", new {  id = "Excel", includeHouse = true, houseID = Model.ID }, null)</li>
                                <li>@Html.ActionLink("Send BG Email", "SendBGEmail", new { id = Model.ID })</li>
                                <li>@Html.ActionLink("Generate BG Form", "GenerateBGForm", new { id = Model.ID })</li>
                                <li>@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</li>
                            </ul>

                        </div>

                        <div class="col-md-9">

                            <div class="row">

                                <div class="col-md-8 profile-info">

                                    <h1>House @Model.ID</h1>

                                    <p>@Model.Note</p>

                                    <ul class="list-inline">
                                        <li><i class="fa fa-map-marker"></i> @address</li>
                                        <li><i class="fa fa-calendar"></i> @Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</li>
                                        <li><i class="fa fa-users"></i> @Model.Tenants.Count()/@Model.Housemates</li>
                                    </ul>

                                </div>

                                <!--end col-md-8-->

                                <div class="col-md-4">

                                    <div class="portlet sale-summary">

                                        <div class="portlet-title">
                                            <div class="caption">Subscriptions</div>
                                        </div>

                                        <div class="portlet-body">

                                            <ul class="list-unstyled">

                                                <li>

                                                    <span class="sale-info">

                                                        @Html.DisplayNameFor(model => model.Electricity)

                                                    </span>

                                                    <span class="sale-num">

                                                        @Html.DisplayFor(model => model.Electricity)

                                                    </span>

                                                </li>

                                                <li>

                                                    <span class="sale-info">

                                                        @Html.DisplayNameFor(model => model.Gas)

                                                    </span>

                                                    <span class="sale-num">

                                                        @Html.DisplayFor(model => model.Gas)

                                                    </span>

                                                </li>

                                                <li>

                                                    <span class="sale-info">

                                                        @Html.DisplayNameFor(model => model.Water)

                                                    </span>

                                                    <span class="sale-num">@Html.DisplayFor(model => model.Water)</span>

                                                </li>

                                                <li>

                                                    <span class="sale-info">

                                                        @Html.DisplayNameFor(model => model.Media)

                                                    </span>

                                                    <span class="sale-num">

                                                        @Html.DisplayFor(model => model.Media)

                                                    </span>

                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                                <!--end col-md-4-->

                            </div>

                            <!--end row-->

                            <div class="tabbable tabbable-custom tabbable-custom-profile">

                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1_11" data-toggle="tab">Bills</a></li>
                                </ul>

                                <div class="tab-content">

                                    <div class="tab-pane active" id="tab_1_11">

                                        <div class="portlet-body">

                                            <table class="table table-striped table-bordered table-advance table-hover">

                                                <thead>

                                                    <tr>

                                                        <th>

                                                            <i class="fa fa-briefcase"></i> Bill

                                                        </th>

                                                        <th class="hidden-xs">

                                                            <i class="fa fa-calendar"></i> Date

                                                        </th>

                                                        <th>

                                                            <i class="fa fa-money"></i> Amount

                                                        </th>

                                                        <th>

                                                        </th>

                                                    </tr>

                                                </thead>

                                                <tbody>
                                                    @foreach (Dividabill.Models.HouseholdBill bill in @Model.HouseholdBills)
                                                    {
                                                        <tr>

                                                            <td>

                                                                @Html.ActionLink("Bill " + bill.ID, "Details", "HouseholdBills", new { id = bill.ID }, null)

                                                            </td>

                                                            <td class="hidden-xs">

                                                                @bill.StartDate.ToShortDateString() - @bill.EndDate.ToShortDateString()

                                                            </td>

                                                            <td>

                                                                @bill.TotalBill

                                                                @{
                                                        var statusClass = "";
                                                        if (bill.Status == Dividabill.Models.BillStatus.Paid)
                                                        {
                                                            statusClass = "label-success";
                                                        }
                                                        else if (bill.Status == Dividabill.Models.BillStatus.Pending)
                                                        {
                                                            statusClass = "label-warning";
                                                        }
                                                        else
                                                        {
                                                            statusClass = "label-danger";
                                                        }

                                                                }
                                                                <span class="label label-sm @{@statusClass}">

                                                                    @bill.Status

                                                                </span>

                                                            </td>

                                                            <td>

                                                                @Html.ActionLink("View", "Details", "Bills", new {  id = bill.ID }, new { @class = "btn default btn-xs green-stripe" })

                                                            </td>

                                                        </tr>
                                                    }


                                                </tbody>

                                            </table>

                                        </div>

                                    </div>

                                    <!--tab-pane-->

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!--tab_1_2-->
                <!--end tab-pane-->
                <!--end tab-pane-->

                <div class="tab-pane" id="tab_1_6">

                    <div class="row">

                        <div class="col-md-3">

                            <ul class="ver-inline-menu tabbable margin-bottom-10">
                                @{var j = 0;}
                                @foreach (Dividabill.Models.User user in Model.Tenants)
                                {
                                    j++;
                                    <li class="">

                                        <a data-toggle="tab" href="#tab_@j">

                                            <i class="fa fa-user"></i> @user.FirstName @user.LastName

                                        </a>

                                        <span class="after">

                                        </span>

                                    </li>

                                }
                            </ul>

                        </div>

                        <div class="col-md-9">

                            <div class="tab-content">
                                @{var i = 0;
                                var active = "active";}
                                @foreach (Dividabill.Models.User user in Model.Tenants)
                                {
                                    i++;
                                    if (i > 1)
                                    {
                                        active = "";
                                    }
                                    <div id="tab_@i" class="tab-pane @active">
                                        <div id="accordion1" class="panel-group">
                                            @Html.Partial("~/Areas/Admin/Views/Shared/_UserProfile.cshtml", user)
                                        </div>

                                    </div>

                                }


                            </div>

                        </div>

                    </div>

                </div>

                <!--end tab-pane-->

            </div>

        </div>

        <!--END TABS-->

    </div>

</div>

<!-- END PAGE CONTENT-->
@section Scripts {
    @Styles.Render("~/Content/metronic-profile")
}