html,
body {
    width: 100%;
    height: 100%;
    /* overflow-x: hidden;
    overflow-y: scroll;*/
    -webkit-overflow-scrolling: touch;
    padding: 0px !important;
    margin: 0px !important;
}

@font-face {
    font-family: 'HelveticaNeueLTStd UltLt';
    src: url("/Content/Fonts/HelveticaNeueLTStd-UltLt.otf");
    src: local('☺'), url('/Content/Fonts/HelveticaNeueLTStd-UltLt.woff') format('woff'), url('/Content/Fonts/HelveticaNeueLTStd-UltLt.ttf') format('truetype'), url('/Content/Fonts/HelveticaNeueLTStd-UltLt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaCE Cond';
    src: url("/Content/Fonts/HelveticaCE-Cond.otf");
    src: local('☺'), url('/Content/Fonts/HelveticaCE-Cond.woff') format('woff'), url('/Content/Fonts/HelveticaCE-Cond.ttf') format('truetype'), url('/Content/Fonts/HelveticaCE-Cond.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Light';
    src: url("/Content/Fonts/Helvetica-Light.ttf");
    src: local('☺'), url('/Content/Fonts/Helvetica-Light.woff') format('woff'), url('/Content/Fonts/Helvetica-Light.ttf') format('truetype'), url('/Content/Fonts/Helvetica-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd Lt';
    src: url("/Content/Fonts/HelveticaNeueLTStd-Lt.otf");
    src: local('☺'), url('/Content/Fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('/Content/Fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'), url('/Content/Fonts/HelveticaNeueLTStd-Lt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd Th';
    src: url("/Content/Fonts/HelveticaNeueLTStd-Th.otf");
    src: local('☺'), url('/Content/Fonts/HelveticaNeueLTStd-Th.woff') format('woff'), url('/Content/Fonts/HelveticaNeueLTStd-Th.ttf') format('truetype'), url('/Content/Fonts/HelveticaNeueLTStd-Th.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

label, p, a {
    font-family: 'HelveticaCE Cond';
    font-size: 18px;
    color: #000000;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 33px;
    font-family: 'HelveticaNeueLTStd UltLt';
}

h3 {
	font-family: 'HelveticaCE Cond';
	font-size: 30px;
}
.img-title {
	font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 3em;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    margin: 0px;
}

.ad-info {
	padding: 10px 0px 20px 0px;
    background-color: #29AAE1;
    color: white;
}

.video {
	margin-top: 0.5em;
    width: 100%;
    position: relative;
    z-index: -1;
    bottom: -5px;
}

.video-header{
    position: relative;
    width: 100%;
}

.in-img {
    z-index: 1;
    position: absolute;
    bottom: 80px;
    left: 30px;
}
.social-link{
	border: 1px solid black;
	border-radius: 50%;
	padding: 6px;
	margin-top: 15px;
	color:black;
}

.social-link:hover{
	color: #428bca;
	border-color: #428bca;
}

.party-people {
	margin-top: 0.5em;
    /* margin-top: 10.5em; */
    background-image: url("../img/party.jpeg");
    background-size: cover;
    background-position-y: 48%;
    width: 100%;
    height: 30em;
    display: table;
    position: relative;
}

.img-info{
	    margin-top: 2em;
}

#get_postcode {
	border: 1px solid black;
	color: black;
}

.ad-info p{
	color: white;
}

/*#postcode_btn {
    background-color: rgb(205, 23, 26);
    color: white;
    font-size: 4em;
    padding: 6px 16px 6px 15px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 1em;
    border: 0px;
}*/

.service-info {
	border: 1px solid black; 
	border-top:0px;
	border-bottom: 0px;
	padding-top: 10px;
}

hr {
    border-top: 1px solid #ccc;
}

.info_services-img{
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.switch {
    background-color: rgb(205, 23, 26);
    color: white;
    padding: 6px 16px 6px 15px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 1em;
    border: 0px;
    text-decoration: none;
}

.switch:hover{
    color: white;
}

.switch-small {
    font-size: 2em;
}

.switch-big {
    font-size: 4em;
}

a {
	 color: black;
    text-decoration: underline;
}

.info_services-img {
	cursor: pointer;
}

.b-left{
	border-bottom: 1px solid #ccc;
	float:left; 
	width:30em
}

.b-right{
	border-bottom: 1px solid #ccc;
	float:right; 
	width:30em
}

.b-full {
    border-bottom: 1px solid #ccc;
    width: 100%
}

@media (max-width: 767px) {
	.switch {
	    font-size: 2em;
	    margin: 0px;
	}
	.justeat {
		padding: 0px !important;
	}

	.switch-big {

    font-size: 2em !important;
    margin-top: 0.5em !important;
	}

	.b-left{
		width: 7em !important;
	}

	.b-right{
		width: 7em !important;
	}

    .in-img h2{
        font-size: 20px;
        margin-top: 0;
    }

    .in-img img {
        width: 100px;
    }

    .in-img {
            bottom: 30px;
            left: 15px;
    }
}

@media (max-width: 850px) {
	.b-left{
		width: 20em;
	}

	.b-right{
		width: 20em;
	}

	.switch-big {
    font-size: 2.5em;
    margin-top: 2em;
	}

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 28px;
    }

}