﻿@model DividaBill.ViewModels.TenantViewModel
@{
    ViewBag.Title = "Edit tenant";
}


<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "Tenants", null, FormMethod.Post, new { @class = "form-horizontal form-row-seperated", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.House_ID)
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-pencil"></i>Edit User
                    </div>
                    <div class="actions btn-set">
                        <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-angle-left"></i> Back</a>
                        <a href="@Request.Url.PathAndQuery" class="btn default"><i class="fa fa-reply"></i> Reset</a>
                        <button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_personal" data-toggle="tab">Personal</a>
                            </li>
                            <li>
                                <a href="#tab_bank" data-toggle="tab">Bank</a>
                            </li>
                            <li>
                                <a href="#tab_notes" data-toggle="tab">Notes</a>
                            </li>
                            <li>
                                <a href="#tab_tenancy" data-toggle="tab">Tenancy</a>
                            </li>
                        </ul>
                        <div class="tab-content no-space">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            <div class="tab-pane active" id="tab_personal">
                                <div class="form-body">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.RefTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.RefTitle, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.RefTitle, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DDRef, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.DDRef, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.DDRef, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" }) 
                                        <div class="col-md-10">
                                            @Html.JQueryUI().DatepickerFor(model => model.DOB, new { @class = "form-control datepicker" } )
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NewsletterSubscription, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.NewsletterSubscription, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NewsletterSubscription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_bank">
                                <div class="form-body">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountHolder, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.AccountHolder, new {htmlAttributes = new {@class = "form-control"}})
                                            @Html.ValidationMessageFor(model => model.AccountHolder, "", new {@class = "text-danger"})
                                            <label class="control-label col-md-2 errorLabel" id="AccountHolderLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                                            <label class="control-label col-md-2 errorLabel" id="AccountNumberLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountSortCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.AccountSortCode, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AccountSortCode, "", new { @class = "text-danger" })
                                            <label class="control-label col-md-2 errorLabel" id="AccountSortCodeLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountSoleHolder, htmlAttributes: new {@class = "control-label col-md-2"})
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.AccountSoleHolder, new {htmlAttributes = new {@class = "form-control"}})
                                            @Html.ValidationMessageFor(model => model.AccountSoleHolder, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 successLabel" for="ValidateBankDetails" id ="ValidateBankDetailsLabel"></label>
                                        <div class="col-md-10">
                                            <button id="ValidateBankDetails" class="btn green">
                                                Check bank details
                                            </button>
                                        </div>
                                        <label class="control-label col-md-2 errorLabel" for="ValidateBankDetails" id="ValidateBankDetailsErrorLabel"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_notes">
                                <div class="form-body">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_tenancy">
                                <div class="form-body">
                                    <div class="form-group">
                                        <a href="@Url.Action("Create", "Tenancies", new {id = Model.Id})" class="btn green" target="_blank">Add tenancy</a>
                                        @{Html.RenderAction("GetTenancies", "Tenancies", new {id = Model.Id});}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- END PAGE CONTENT-->


@section Scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/editHouse")
    @Scripts.Render("~/bundles/bankDetailsValidation")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/metronic-profile")
    <style>
        .errorLabel {
            color: red;
        }
        .successLabel {
            color: green;
        }
    </style>
    <script>


        $(function() {

            checkSupportForInputTypeDate();

            $('#DOB').datepicker({
                dateFormat: 'dd/mm/yyyy',
                weekStart: 1,
                calendarWeeks: false,
                autoclose: true,
                todayBtn: true
            });
        });

        //Function to configure date format as the native date type from chrome and safari browsers clashes with jQuery ui date picker.
        function checkSupportForInputTypeDate() {
            jQuery.validator.methods.date = function(value, element) {
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
                if (isSafari || isChrome) {
                    var d = new Date();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                } else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            }
        }
    </script>

}