﻿@model Dividabill.Models.User

@{
    ViewBag.Title = "Details";
}
<!-- BEGIN PAGE CONTENT-->

<div class="row profile">

    <div class="col-md-12">

        <!--BEGIN TABS-->

        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">

                <li class="active">

                    <a href="#tab_1_1" data-toggle="tab">

                        Overview

                    </a>

                </li>

            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="tab_1_1">

                    <div class="row">

                        <div class="col-md-3">

                            <ul class="list-unstyled profile-nav">

                                <li>
                                    <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=400" class="img-responsive" alt="" />

                                    <a href="#" class="profile-edit">

                                        edit

                                    </a>

                                </li>


                                <li>

                                    <a href="#">

                                        Send message

                                    </a>

                                </li>

                                <li>
                                    @Html.ActionLink("House " + @Model.House_ID, "Details", "Houses", new { id = @Model.House_ID }, null)
                                </li>


                                <li>

                                    @Html.ActionLink("Edit", "Edit", "Users", new { id = Model.Id }, null)

                                </li>

                            </ul>

                        </div>

                        <div class="col-md-9">

                            <div class="row">

                                <div class="col-md-8 profile-info">

                                    <h1>@Model.FullName</h1>

                                    <p>

                                        @Model.Note
                                    </p>

                                    <ul class="list-inline">

                                        <li>

                                            <i class="fa fa-map-marker"></i> @Model.HomeAddress.ToString()

                                        </li>

                                        <li>

                                            <i class="fa fa-calendar"></i> @Model.DOB.ToShortDateString()

                                        </li>

                                        <li>

                                            <i class="fa fa-briefcase"></i> @Model.DDRef

                                        </li>

                                        <li>

                                            <i class="fa fa-lock"></i> @Model.LockoutEnabled

                                        </li>

                                        <li>

                                            <i class="fa fa-mobile-phone"></i> @Model.PhoneNumber

                                        </li>

                                    </ul>

                                </div>

                                <!--end col-md-8-->

                                <div class="col-md-4">

                                    <div class="portlet sale-summary">

                                        <div class="portlet-title">

                                            <div class="caption">

                                                Bank Details

                                            </div>

                                        </div>

                                        <div class="portlet-body">

                                            <ul class="list-unstyled">

                                                <li>

                                                    <span class="sale-info">

                                                        @Html.DisplayNameFor(model => model.AccountHolder)

                                                    </span>

                                                    <span class="sale-num">

                                                        @Html.DisplayFor(model => model.AccountHolder)

                                                    </span>

                                                </li>

                                                <li>

                                                    <span class="sale-info">

                                                        @Html.DisplayNameFor(model => model.AccountNumber)

                                                    </span>

                                                    <span class="sale-num">

                                                        @Html.DisplayFor(model => model.AccountNumber)

                                                    </span>

                                                </li>

                                                <li>

                                                    <span class="sale-info">

                                                        @Html.DisplayNameFor(model => model.AccountSortCode)

                                                    </span>

                                                    <span class="sale-num">

                                                        @Html.DisplayFor(model => model.AccountSortCode)

                                                    </span>

                                                </li>

                                                <li>

                                                    <span class="sale-info">

                                                        @Html.DisplayNameFor(model => model.AccountSoleHolder)

                                                    </span>

                                                    <span class="sale-num">

                                                        @Html.DisplayFor(model => model.AccountSoleHolder)

                                                    </span>

                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                                <!--end col-md-4-->

                            </div>

                            <!--end row-->

                            <div class="tabbable tabbable-custom tabbable-custom-profile">

                                <ul class="nav nav-tabs">

                                    <li class="active">

                                        <a>

                                            Bills

                                        </a>

                                    </li>

                                </ul>

                                <div class="tab-content">

                                    <div class="tab-pane active">

                                        <div class="portlet-body">

                                            <table class="table table-striped table-bordered table-advance table-hover">

                                                <thead>

                                                    <tr>

                                                        <th>

                                                            <i class="fa fa-briefcase"></i> Company

                                                        </th>

                                                        <th class="hidden-xs">

                                                            <i class="fa fa-question"></i> Descrition

                                                        </th>

                                                        <th>

                                                            <i class="fa fa-bookmark"></i> Amount

                                                        </th>

                                                        <th>

                                                        </th>

                                                    </tr>

                                                </thead>

                                                <tbody>

                                                    <tr>

                                                        <td>

                                                            <a href="#">

                                                                Pixel Ltd

                                                            </a>

                                                        </td>

                                                        <td class="hidden-xs">

                                                            Server hardware purchase

                                                        </td>

                                                        <td>

                                                            52560.10$

                                                            <span class="label label-success label-sm">

                                                                Paid

                                                            </span>

                                                        </td>

                                                        <td>

                                                            <a class="btn default btn-xs green-stripe" href="#">

                                                                View

                                                            </a>

                                                        </td>

                                                    </tr>

                                                </tbody>

                                            </table>

                                        </div>

                                    </div>

                                    <!--tab-pane-->

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!--end tab-pane-->

            </div>

        </div>

        <!--END TABS-->

    </div>

</div>

<!-- END PAGE CONTENT-->
@section Scripts {
    @Styles.Render("~/Content/metronic-profile")
}