﻿<script type="text/template" id="bankdetails-tpl">
    @model DividaBill.ViewModels.SignUpViewModel
    <section class="row text-center"><h3 class="signup-header"> Please Enter Your Bank Details </h3> <br /> </section>

    <section class='col-sm-8 col-sm-offset-2'>
        <div class="row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(m => m.AccountName, new { @class = "control-label text-right" })
                @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control cust-para", required = "required" })
                @Html.ValidationMessageFor(model => model.AccountName)
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(m => m.AccountNumber, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control cust-para", required = "required" })
                @Html.ValidationMessageFor(model => model.AccountNumber)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(m => m.AccountSortCode, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.AccountSortCode, new { @class = "form-control cust-para", required = "required" })
                @Html.ValidationMessageFor(model => model.AccountSortCode)
            </div>
        </div>
        <aside class='col-sm-12'>
            <hr /> <hr />
            <div class="form-group">
                <aside class='col-md-1 col-sm-2 col-xs-3'>
                    <i id="check1" class="bank-checkbox fa fa-circle-thin fa-2x" style='color:#29AAE1' data-checkbox-id="AccountStandalone"></i>
                    @Html.CheckBoxFor(m => m.AccountStandalone, new { @style = "display:none"})
                </aside>
                <aside class='col-md-11 col-sm-10'>
                    <p class="par"> I confirm that I am the account holder and am the only person required to authorise debits on this account </p> <br />
                    @*<p class="par"> Checking this box indicates that I am the Bank/Building Society accountholder and no authority other than my own is required. If more than one person is required to authorise Debits from the account, leave this box unchecked and we will send you a paper Direct Debit Instruction for completion.</p><hr />*@
                </aside>
            </div>
            <!--<divc lass='form-group'>
                <aside class='col-md-1 col-sm-2 col-xs-3'>
                    <i class="bank-checkbox fa fa-circle-thin fa-2x" id="check3" style='color:#29AAE1' data-checkbox-id="NewsletterSubscription"></i>
                    @Html.CheckBoxFor(m => m.NewsletterSubscription, new { @style = "display:none" })
                </aside>
                <aside class='col-md-11'>
                    <p class="par"> Tick this box if you WANT to receive newsletters and offers in your area for goods or services that you might be interested in.</p> <br />
                </aside>
            </div>-->
        </aside> <br /><br />
    </section>
 
</script>