﻿<script type="text/template" id="personaldetails-tpl">

    @model DividaBill.ViewModels.SignUpViewModel


    @{
        string[] months = { "MR", "MRS", "MS", "MISS", "MX" };
        var values = new SelectList(months);
    }

    <section class="row text-center"><h3 class="signup-header"> Please Enter Your Personal Details</h3><br/> </section>

    <section class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control cust-para", placeholder = "First Name", required = "required" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control cust-para", placeholder = "Last Name", required = "required" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control cust-para", placeholder = "Email", required = "required" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control cust-para", placeholder = "Confirm Email", required = "required" })
                    @Html.ValidationMessageFor(model => model.ConfirmEmail)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control cust-para", placeholder = "Password", required = "required" })
                    <div class="progress pass-validate">
                        <div class="progress-bar" role="progressbar" id="PassMeter" style="width: 0%;">
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control cust-para", placeholder = "Confirm Password", required = "required" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control cust-para", placeholder = "Phone number", required = "required" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.DoB, new { @class= "form-control cust-para", placeholder="Date of Birth", required = "required", data_date_end_Date="-16y",  data_date_autoclose = "true"})
                    @Html.ValidationMessageFor(model => model.DoB)
                </div>
            </div>
        </div>


        <hr /> <hr />
   </section>
</script>