﻿<script type="text/template" id="building-tpl">
    <select id="building" required class="form-control">
        <option value=""> Please Select Building </option>
        <% _.each(items, function(item){ %>
        <option value="<%= item.PAId %>"><%= item.StreetAddress %>, <%= item.Place %></option>
        <% }) %>
    </select>
</script>
<script type="text/template" id="housedetails-tpl">
    @model DividaBill.ViewModels.SignUpViewModel


    @{
        var values = new SelectList(new List<Object>{
        new {value = 1, text= "1"},
        new {value = 2, text= "2"},
        new {value = 3, text= "3"},
        new {value = 4, text= "4"},
        new {value = 5, text= "5"},
        new {value = 6, text= "6"},
        new {value = 7, text= "7"},
        new {value = 8, text= "8"},
        new {value = 9, text= "9"},
    },
        "value",
        "text"
            );

        var period = new SelectList(new List<Object> {
        new { value = 9 , text = "9 Months"  },
        new { value = 10 , text = "10 Months"  },
        new { value = 11 , text = "11 Months"  },
        new { value = 12 , text = "12 Months"  }
    },
        "value",
        "text");
    }

    <!-- Postcode Error Modal -->
    <div class="modal fade" id="postcodeError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style='color:white; margin:0' id="ModalDividabill">Postcode Information</h4>
                </div>
                <div class="modal-body" style="text-align: center">
                    Please enter a valid postcode!
                </div>
                <div class="modal-footer">
                    <button type="button" id="reggedHouse" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <section class="row text-center"><h3 class="signup-header"> Please Enter Your House Details </h3> <br /> </section>
        <section class='col-sm-8 col-sm-offset-2'>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom:0px">
                        <div class="input-group s_postcode">
                            @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control cust-para", placeholder = "Postcode", @style = "text-transform:uppercase;    border-right-color: #29abe2;" })
                            <span class="input-group-addon quick-find"><i class="fa fa-search" id="quick-find"></i></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.PostCode)
                    </div>
                </div>
                <div class="col-sm-6 choose-building" style="display: none;">
                    <div class="form-group" id="select_building">
                    </div>
                </div>
            </div>
            <div id="filled-signup-info" class="hidden">
                <div class="row">
                    <div class="col-sm-5 col-xs-10">
                        <div class="form-group" style="margin-bottom:0px">
                            @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control", data_date_start_Date = "+15d", data_date_week_Start = "1", data_date_autoclose = "true", data_date_calendar_Weeks = "true", placeholder = "Start Date", required = "required" })
                        </div>
                    </div>
                    <div class="col-sm-1 col-xs-2">
                        <i class="fa fa-question-circle fa-2x question-info" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></i>
                    </div>
                    <div class="col-sm-4 col-xs-7">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Period, period, "Contract Length", new { @class = "col-xs-12 col-xs-12 selectpicker", placeholder = "End Date", required = "required" })
                        </div>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline col-sm-2 col-xs-5 col-sm-offset-0">
                        @Html.CheckBoxFor(m => m.Ongoing, new { @style = "margin-top: 0.3em;" })
                        @Html.LabelFor(m => m.Ongoing, new { @class = "par", @style = "margin-top: 0.3em;" })
                    </div>
                    <!-- <div class="col-xs-12" style="margin-bottom: 15px;">
             <div class="col-sm-4 col-sm-offset-2">
                 @Html.ValidationMessageFor(model => model.StartTime)
             </div>
             <div class="col-sm-4 col-sm-offset-2">
                 @Html.ValidationMessageFor(m => m.Period)
             </div>
         </div>-->
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Housemates, values, "Number of Tenants", new { @class = "selectpicker form-control cust-para col-sm-6", placeholder = "Number of Tenants", required = "required" })
                            @Html.ValidationMessageFor(m => m.Housemates)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Coupon, new { @placeholder = "Enter your discount code", @id = "Coupon", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Coupon)
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br /> <br />
</script>