﻿
        <!-- BEGIN EMPTY PAGE SIDEBAR -->

<div class="page-sidebar-wrapper">

    <div class="page-sidebar navbar-collapse collapse">

        <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">

            <li>

                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

                <form class="sidebar-search" action="extra_search.html" method="POST">

                    <div class="form-container">

                        <div class="input-box">

                            <a href="javascript:;" class="remove">

                            </a>

                            <input type="text" placeholder="Search..." />

                            <input type="button" class="submit" value=" " />

                        </div>

                    </div>

                </form>

                <!-- END RESPONSIVE QUICK SEARCH FORM -->

            </li>

            <li class="active">

                <a href="index.html">

                    Dashboard

                    <span class="selected">

                    </span>

                </a>

            </li>

            <li>

                <a href="#">

                    Mega

                    <span class="arrow">

                    </span>

                </a>

                <ul class="sub-menu">

                    <li>

                        <a href="#">

                            Layouts

                            <span class="arrow">

                            </span>

                        </a>

                        <ul class="sub-menu">

                            <li>

                                <a href="#">

                                    Promo Page

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Email Templates

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Sidebar Cloaded Page

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Blank Page

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Boxed Page

                                </a>

                            </li>

                        </ul>

                    </li>

                    <li>

                        <a href="#">

                            UI Features

                            <span class="arrow">

                            </span>

                        </a>

                        <ul class="sub-menu">

                            <li>

                                <a href="#">

                                    General Components

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Buttons & Icons

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Extended Modals

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Datepaginator

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Tree View

                                </a>

                            </li>

                        </ul>

                    </li>

                    <li>

                        <a href="#">

                            Form Stuff

                            <span class="arrow">

                            </span>

                        </a>

                        <ul class="sub-menu">

                            <li>

                                <a href="#">

                                    Form Controls

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Form Components

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Form Validation

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Multiple File Upload

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Dropzone File Upload

                                </a>

                            </li>

                        </ul>

                    </li>

                </ul>

            </li>

            <li>

                <a href="#">

                    Full Mega

                    <span class="arrow">

                    </span>

                </a>

                <ul class="sub-menu">

                    <li>

                        <a href="#">

                            Layouts

                            <span class="arrow">

                            </span>

                        </a>

                        <ul class="sub-menu">

                            <li>

                                <a href="#">

                                    Promo Page

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Email Templates

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Sidebar Cloaded Page

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Blank Page

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Boxed Page

                                </a>

                            </li>

                        </ul>

                    </li>

                    <li>

                        <a href="#">

                            UI Features

                            <span class="arrow">

                            </span>

                        </a>

                        <ul class="sub-menu">

                            <li>

                                <a href="#">

                                    General Components

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Buttons & Icons

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Extended Modals

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Datepaginator

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Tree View

                                </a>

                            </li>

                        </ul>

                    </li>

                    <li>

                        <a href="#">

                            Form Stuff

                            <span class="arrow">

                            </span>

                        </a>

                        <ul class="sub-menu">

                            <li>

                                <a href="#">

                                    Form Controls

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Form Components

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Form Validation

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Multiple File Upload

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    Dropzone File Upload

                                </a>

                            </li>

                        </ul>

                    </li>

                    <li>

                        <a href="#">

                            Accordions

                            <span class="arrow">

                            </span>

                        </a>

                        <ul class="sub-menu">

                            <li>

                                <div id="accordion2" class="panel-group mega-menu-responsive-content">

                                    <div class="panel panel-success">

                                        <div class="panel-heading">

                                            <h4 class="panel-title">

                                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" class="collapsed">

                                                    Mega Menu Info #1

                                                </a>

                                            </h4>

                                        </div>

                                        <div id="collapseOne2" class="panel-collapse in">

                                            <div class="panel-body">

                                                Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements.

                                            </div>

                                        </div>

                                    </div>

                                    <div class="panel panel-danger">

                                        <div class="panel-heading">

                                            <h4 class="panel-title">

                                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" class="collapsed">

                                                    Mega Menu Info #2

                                                </a>

                                            </h4>

                                        </div>

                                        <div id="collapseTwo2" class="panel-collapse collapse">

                                            <div class="panel-body">

                                                Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements.

                                            </div>

                                        </div>

                                    </div>

                                    <div class="panel panel-info">

                                        <div class="panel-heading">

                                            <h4 class="panel-title">

                                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2">

                                                    Mega Menu Info #3

                                                </a>

                                            </h4>

                                        </div>

                                        <div id="collapseThree2" class="panel-collapse collapse">

                                            <div class="panel-body">

                                                Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements.

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </li>

                        </ul>

                    </li>

                </ul>

            </li>

            <li>

                <a>

                    Classic

                    <span class="arrow">

                    </span>

                </a>

                <ul class="sub-menu">

                    <li>

                        <a href="#">

                            Section 1

                        </a>

                    </li>

                    <li>

                        <a href="#">

                            Section 2

                        </a>

                    </li>

                    <li>

                        <a href="#">

                            Section 3

                        </a>

                    </li>

                    <li>

                        <a href="#">

                            Section 4

                        </a>

                    </li>

                    <li>

                        <a href="#">

                            Section 5

                        </a>

                    </li>

                    <li>

                        <a href="javascript:;">

                            More options

                            <span class="arrow">

                            </span>

                        </a>

                        <ul class="sub-menu">

                            <li>

                                <a href="#">

                                    Second level link

                                </a>

                            </li>

                            <li class="sub-menu">

                                <a href="javascript:;">

                                    More options

                                    <span class="arrow">

                                    </span>

                                </a>

                                <ul class="sub-menu">

                                    <li>

                                        <a href="index.html">

                                            Third level link

                                        </a>

                                    </li>

                                    <li>

                                        <a href="index.html">

                                            Third level link

                                        </a>

                                    </li>

                                    <li>

                                        <a href="index.html">

                                            Third level link

                                        </a>

                                    </li>

                                    <li>

                                        <a href="index.html">

                                            Third level link

                                        </a>

                                    </li>

                                    <li>

                                        <a href="index.html">

                                            Third level link

                                        </a>

                                    </li>

                                </ul>

                            </li>

                            <li>

                                <a href="index.html">

                                    Second level link

                                </a>

                            </li>

                            <li>

                                <a href="index.html">

                                    Second level link

                                </a>

                            </li>

                            <li>

                                <a href="index.html">

                                    Second level link

                                </a>

                            </li>

                        </ul>

                    </li>

                </ul>

            </li>

            <li>

                <a href="">

                    Link

                </a>

            </li>

        </ul>

    </div>

</div>

<!-- END EMPTY PAGE SIDEBAR -->
<!-- END SIDEBAR -->