﻿@model DividaBill.ViewModels.SignUpViewModel

<div id='signupTwo' class="step_3" style="display:none;">
    <div id="error"></div>
    <hr/>
    <h2 class="big-size align"> Bank Account Info</h2> <hr /> <br />
    <section class='row'>
        <div class="form-group">
            @Html.LabelFor(m => m.BankAccountDetails.AccountName, new { @class = "col-sm-2 control-label text-right" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.BankAccountDetails.AccountName, new { @class = "form-control cust-para" })
                @Html.ValidationMessageFor(model => model.BankAccountDetails.AccountName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BankAccountDetails.AccountNumber, new { @class = "col-sm-2 control-label text-right" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.BankAccountDetails.AccountNumber, new { @class = "form-control cust-para" })
                @Html.ValidationMessageFor(model => model.BankAccountDetails.AccountNumber)
            </div>
        </div>
    </section>
    <section class='row'>
        <div class="form-group">
            @Html.LabelFor(m => m.BankAccountDetails.AccountSortCode, new { @class = "col-sm-2 control-label text-right" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.BankAccountDetails.AccountSortCode, new { @class = "form-control cust-para" })
                @Html.ValidationMessageFor(model => model.BankAccountDetails.AccountSortCode)
            </div>
        </div>
    </section> <hr /> <br />

    <section class='row'>
        <aside class='col-sm-8 col-sm-offset-2'>
            <div class="checkbox checkbox-custom checkbox-info checkbox-circle checkbox-inline">
                @Html.CheckBoxFor(m => m.AccountStandalone, new { required = "required" })
                @Html.LabelFor(m => m.AccountStandalone, "I confirm that I am the account holder and am the only person required to authorise debits on this account", new { @class = "par", @for = "AccountStandalone" })
            </div><br/>
            @Html.ValidationMessageFor(model => model.AccountStandalone)
        </aside>
    </section>
    <section class='row'>
        <aside class='col-sm-8 col-sm-offset-2'>
            <div class="checkbox checkbox-custom checkbox-info checkbox-circle checkbox-inline">
                <p class="par">View the <a target="_blank" href="/Home/DirectDebit">Direct Debit Guarantee</a>.</p>
            </div>
        </aside>
    </section> <hr /> <hr />
    <section class="row">
        <aside class="text-center">
            <button class="button " type="button" style="margin-bottom:0.5em" id="confirmBDetails">Save & Complete SignUp</button>
        </aside>
    </section>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id='lastModal' aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h2 class=" align about-header" style="color:white; margin:0" id="myModalLabel">Please Confirm Your Details</h2>
            </div>
            <div class="modal-body">
                <p class="par align"> I would like to <a href="#first-anchor" class="change" data-dismiss="modal"> change </a> my details</p>
                <section class='row'>
                    <aside class='col-md-8 col-md-offset-2'>
                        <hr />
                    </aside>
                </section>
                <section class='row'>
                    <section class='col-md-4 col-md-offset-2'>
                        <p class="par">Account Name</p>
                    </section>
                    <section class='col-md-4  '>
                        <p class="par" id="AccountNameConfirmation">John Smith</p>
                    </section>
                </section>
                <section class='row'>
                    <section class='col-md-4 col-md-offset-2'>
                        <p class="par">Account Number</p>
                    </section>
                    <section class='col-md-4  '>
                        <p class="par" id="AccountNumberConfirmation">xxxxxxxx</p>
                    </section>
                </section>
                <section class='row'>
                    <section class='col-md-4 col-md-offset-2'>
                        <p class="par">Account Sort Code</p>
                    </section>
                    <section class='col-md-4'>
                        <p class="par" id="AccountSortCodeConfirmation">xx-xx-xx</p>
                    </section>

                </section>
                <section class='row'>
                    <aside class='col-md-8 col-md-offset-2'
                        <hr />
                    </aside>
                </section>
                <section class='row'>
                    <aside class='col-md-8 col-md-offset-2'>
                        <p class="par text-center">By clicking Approve you agree to our <a href="/Home/Terms" target="_blank">Terms and Conditions</a>.</p> <br/>
                        <button type="submit" id='sign-btn3' onclick="document.getElementById('form1').submit(); ga('send', 'event', location.pathname, 'Click', 'Confirm Details');" class="button-green align-button" data-dismiss="modal">Approve & Complete</button>
                    </aside>
                </section>
                <section class='row'>
                    <aside class='col-md-8 col-md-offset-2'>
                        <button type="button" class="button-warning align-button" data-dismiss="modal">No, something is wrong.</button>
                    </aside>
                </section><br /> <br />
            </div>
        </div>
    </div>
</div>