﻿
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="img/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    @Styles.Render("~/Content/sitecss")
    @Scripts.Render("~/bundles/modernizr")
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>

@if(User.Identity.IsAuthenticated)
     { ViewBag.SignText = "LOG OUT"; }
else { ViewBag.SignText = "LOG IN"; }

<body>
    <div class="header-region">
        <header class="header-section" id="header"></header>
    </div>
    <div class="main-window-region"></div>
    @RenderBody()
    <script id="main-window-tpl" type="text/template">
        <div class="ajax-main">
            <!--[if lt IE 7]>
                <p >You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <main class="main" id="content"></main>
        </div>
    </script>

    <script type="text/template" id="header-tpl">
        <section class="container">
            <section class="row">
                <div class="col-xs-6">
                    <div class="col-xs-12 col-sm-8">
                        <img src="/Content/Images/Beta_Banner.png" width="100px" class="banner" />
                    </div>
                </div>
                <aside class="col-xs-6 pull-right">
                    <aside class="header-right">
                        <aside class="header-right1">
                            <p class="person-name">@ViewBag.PersonGreet</p>
                            <p class="person-welcome">@ViewBag.PersonWelcome</p>
                            <a href=""><i class="fa fa-question"></i></a> <span>|</span>
                            @if (User.Identity.IsAuthenticated) //logout form/button
                            {
                                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="sign-out">LOG OUT</a>
                                }
                            }
                            else    //log-in button
                            {
                                @Html.ActionLink("LOG IN", "Login", "Account", null, new { @class = "sign-out" });
                            }
                        </aside>
                        <div class="clear-fix"></div>
                    </aside>
                    <div class="clear-fix"></div>
                </aside>

            </section>
        </section>
    </script>


            @*<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            <div class="container body-content">

                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>*@

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/sitejs")
            @RenderSection("scripts", required: false)
    <script type="text/javascript">
    </script>
</body>
    </html>
