﻿@model IEnumerable<DividaBill.Models.HouseModel>

@{
    ViewBag.Title = "Active Houses";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>@ViewBag.Title
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body table-responsive">
                <div class="table-toolbar">
                    <div class="btn-group">
                        <button id="housesTable_new" class="btn green">
                            Add New <i class="fa fa-plus"></i>
                        </button>
                    </div>


                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#">
                                    Print
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Save as PDF
                                </a>
                            </li>
                            <li>
                                @Html.ActionLink("Send Mass Message", "MassMessage");
                            </li>
                            <li>
                                @Html.ActionLink("Export to Excel", "Export", new { id = "Excel", Type = "Active" })
                            </li>
                        </ul>
                    </div>
                </div>



                @using Mvc.JQuery.DataTables
                @using Mvc.JQuery.DataTables.Serialization
                @using DividaBill.ViewModels.DataTables

                @{
                    var vm = Html.DataTableVm<HouseViewModel>("table-houses", new Uri("/api/houses/ActiveHousesAsDataTable", UriKind.Relative));

                    //vm.JsOptions.Add("iDisplayLength", 5);
                    vm.LengthMenu = LengthMenuVm.Default();


                    vm.Dom = "<Blf<\"clear\"><'portlet-body't>ipr>";
                    vm.TableClass = "table table-striped table-bordered table-advance table-hover";
                    vm.AutoWidth = true;
                    vm.JsOptions.Add("buttons", new Raw(@"[
            'copy',
            'excel',
            'csv',
            'pdf'
    ]"));

                    vm.ColumnFilter = false;

                    //vm.FilterOn("HouseID", null, new { sSearch = Model.House_ID }).Number();
                }

                @Html.Partial("DataTable", vm, ViewData)


                @*<table class="table table-striped table-bordered table-hover" id="housesTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Housemates)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Electricity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gas)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Water)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Media)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RegisteredDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ActualStartDate)
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @{var i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr class="gradeX @{ if (i % 2 == 0)
                                                         { <text> even </text>       }
                                                         else
                                                         { <text> odd </text>      }} " data-id="@item.ID">

                                <td>
                                    @Html.DisplayFor(modelItem => item.Housemates)
                                </td>
                                <td>
                                    @item.Address.ToShortString()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Electricity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gas)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Water)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Media)
                                </td>
                                <td>
                                    @item.StartDate.ToShortDateString()
                                </td>
                                <td>
                                    @item.EndDate.ToShortDateString()
                                </td>
                                <td>
                                    @item.RegisteredDate.ToShortDateString()
                                </td>
                                <td>
                                    @item.ActualStartDate.GetValueOrDefault(new DateTime(1999, 1, 1)).Date.ToShortDateString()
                                </td>
                                <td>
                                    @Html.ActionLink("Get", "Get", new { id = item.ID }, new { @class = "btn btn-xs default btn-editable edit", @id = "edit" })
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-xs default btn-editable details", @id = "details" })
                                    @Html.ActionLink("Archive", "Archive", new { id = item.ID }, new { @class = "btn btn-xs default btn-editable archive", @id = "archive", @data_request_url = @Url.Action("Archive", "Houses") })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>*@
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/adminTables")
   @* @Scripts.Render("~/bundles/admin-housesDetailsTable")*@
    @Styles.Render("~/Content/adminTables")
    @*<script type="text/javascript">
        jQuery(document).ready(function () {
            TableManaged.init();
        });
    </script>*@
}