﻿@model DividaBill.Models.HouseModel

@{
    ViewBag.Title = "Get";
}

<div class="row">

    <div class="col-md-12">

        @using (Html.BeginForm("Edit", "Houses", FormMethod.Post, new { @class = "form-horizontal form-row-seperated", role = "form", @id = "house-edit" }))
        {
            @Html.AntiForgeryToken()

            <div class="portlet">

                <div class="portlet-title">

                    <div class="caption">

                        <i class="fa fa-pencil"></i>Get House

                    </div>

                    <div class="actions btn-set">

                        <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-angle-left"></i> Back</a>
                        <a href="@Request.Url.PathAndQuery" class="btn default"><i class="fa fa-reply"></i> Reset</a>
                        <button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>

                    </div>

                </div>

                <div class="portlet-body">

                    <div class="tabbable">

                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_general" data-toggle="tab">Personal</a>
                            </li>
                            <li>
                                <a href="#tab_services" data-toggle="tab">Services</a>
                            </li>
                            <li>
                                <a href="#tab_address" data-toggle="tab">Address</a>
                            </li>
                            <li>
                                <a href="#tab_notes" data-toggle="tab">Notes</a>
                            </li>
                            <li>
                                <a href="#tab_tenants" data-toggle="tab">Tenants</a>
                            </li>
                        </ul>

                        <div class="tab-content no-space">

                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.ID)

                            <div class="tab-pane active" id="tab_general">

                                <div class="form-body">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.JQueryUI().DatepickerFor(model => model.StartDate, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.JQueryUI().DatepickerFor(model => model.EndDate, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.RegisteredDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.JQueryUI().DatepickerFor(model => model.RegisteredDate, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.RegisteredDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Housemates, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Housemates, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Housemates, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane" id="tab_services">

                                <div class="form-body">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Electricity, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Electricity, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Electricity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Gas, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Gas, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Gas, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Water, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Water, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Water, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Broadband, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Broadband, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Broadband, "", new { @class = "text-danger" })
                                            <div id="BroadbandBox">
                                                @Html.EnumDropDownListFor(model => model.BroadbandType, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BroadbandType, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LandlinePhone, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.LandlinePhone, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.LandlinePhone, "", new { @class = "text-danger" })
                                            <div id="LandlinePhoneBox">
                                                @Html.EnumDropDownListFor(model => model.LandlineType, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.LandlineType, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NetflixTV, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.NetflixTV, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NetflixTV, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SkyTV, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.SkyTV, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.SkyTV, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TVLicense, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.TVLicense, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TVLicense, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane" id="tab_address">

                                <div class="form-body">


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane" id="tab_notes">
                                <div class="form-body">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab_tenants">
                                <div class="form-body">

                                    @foreach (DividaBill.Models.User tenant in Model.Tenants)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-md-3">@tenant.FullName</label>
                                            <div class="col-md-4">

                                                @Html.ActionLink("Edit", "Edit", "Tenants", new { id = tenant.Id }, null)
                                            </div>
                                        </div>
                                    }


                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        }
    </div>

</div>

<!-- END PAGE CONTENT-->
@section Scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/editHouse")
    @Styles.Render("~/Content/themes/base/css")
    <script src="@Scripts.Url("~/Scripts/moment.js")"></script>

    <script>
        $(document).ready(function () {
            $('#BroadbandBox').toggle($(this).is(':checked'));
            $('#Broadband').change(function () {
                $('#BroadbandBox').toggle($(this).is(':checked'));
            });

            $('#LandlinePhoneBox').toggle($(this).is(':checked'));
            $('#LandlinePhone').change(function () {
                $('#LandlinePhoneBox').toggle($(this).is(':checked'));
            });


            var form = $("#house-edit");
            var validator = form.data('validator');

            validator.settings.ignore = ":disabled,:hidden";

            jQuery.validator.methods.date = function (value, element) {
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);

                if (isChrome || isSafari) {
                    var d = new Date();
                    var secondValue = moment(value, "DD/MM/YYYY").toDate();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(secondValue.toLocaleDateString()));
                } else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            };
        });
    </script>
}