﻿@model IEnumerable<DividaBill.Models.HouseModel>

@{
    ViewBag.Title = "Last Week Houses";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>@ViewBag.Title
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body table-responsive">
                <div class="table-toolbar">
                    <div class="btn-group">
                        <button id="housesTable_new" class="btn green">
                            Add New <i class="fa fa-plus"></i>
                        </button>
                    </div>


                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#">
                                    Print
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Save as PDF
                                </a>
                            </li>
                            <li>
                                @Html.ActionLink("Export to Excel", "Export", new { id = "Excel" })
                            </li>
                            <li>
                                @Html.ActionLink("Export to EC", "ExportECPayForm")
                            </li>
                        </ul>
                    </div>
                </div>
                @using Mvc.JQuery.DataTables
                @using Mvc.JQuery.DataTables.Serialization
                @using DividaBill.ViewModels.DataTables

                @{
                    var vm = Html.DataTableVm<HouseViewModel>("table-houses", new Uri("/api/houses/AllHousesAsDataTable", UriKind.Relative));

                    //vm.JsOptions.Add("iDisplayLength", 5);

                    vm.Dom = "<Blf<\"clear\"><'portlet-body't>ipr>";
                    vm.TableClass = "table table-striped table-bordered table-advance table-hover";
                    vm.AutoWidth = true;
                    vm.JsOptions.Add("buttons", new Raw(@"[
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
    ]"));

                    vm.ColumnFilter = false;

                    //vm.FilterOn("HouseID", null, new { sSearch = Model.House_ID }).Number();
                }

                @Html.Partial("DataTable", vm, ViewData)
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/adminTables")
    @*@Scripts.Render("~/bundles/admin-housesDetailsTable")*@
    @Styles.Render("~/Content/adminTables")
    @*<script type="text/javascript">
        jQuery(document).ready(function () {
            TableManaged.init();
        });
    </script>*@
}