﻿Content-Type: text/html; charset=utf-8

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Subject</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="height: 100% !important; width: 100% !important; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; min-width: 100% !important; background-color: #F2F2F2; margin: 0; padding: 0;" bgcolor="#F2F2F2">
    &#13;
    <center>
        &#13;
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="height: 100% !important; width: 100% !important; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; background-color: #F2F2F2; margin: 0; padding: 0;" bgcolor="#F2F2F2">
            <tr>
                <td align="center" valign="top" id="bodyCell" style="height: 100% !important; width: 100% !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; border-top-width: 0; margin: 0; padding: 10px;">
                    &#13;
                    &#13;
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; max-width: 600px !important; width: 100% !important; border: 0;">
                        <tr>
                            <td align="center" valign="top" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                &#13;
                                &#13;
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; border-top-width: 0; border-bottom-width: 0; max-width: 600px !important; width: 100% !important; display: block !important; background-color: #FFFFFF;" bgcolor="#FFFFFF">
                                    <tr>
                                        <td valign="top" class="preheaderContainer" style="padding-top: 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                            &#13;
                                                            &#13;
                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; width: 100% !important;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top" class="mcnTextContent" style="color: #000080; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; font-family: Helvetica; font-size: 14px !important; line-height: 115% !important; text-align: left; padding: 9px 18px;" align="left">
                                                                            &#13;
                                                                            &#13;
                                                                            <h1 class="null" style="text-align: center; color: #606060 !important; display: block; font-family: Helvetica; font-size: 24px !important; font-style: normal; font-weight: bold; line-height: 125% !important; letter-spacing: -1px; margin: 0; padding: 0;" align="center"><span style="color: #04aff0;"><span style="font-size: 40px;"><span style="font-family: verdana,geneva,sans-serif;">WELCOME TO THE NEW WAYS OF DOING BILLS</span></span></span></h1>&#13;
                                                                            &#13;
                                                                        </td>&#13;
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>&#13;
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>&#13;
                                    </tr>
                                </table>
                            </td>&#13;
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                &#13;
                                &#13;
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; border-top-width: 0; border-bottom-width: 0; max-width: 600px !important; width: 100% !important; background-color: #FFFFFF;" bgcolor="#FFFFFF">
                                    <tr>
                                        <td valign="top" class="headerContainer" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                <tbody class="mcnImageBlockOuter">
                                                    <tr>
                                                        <td valign="top" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; padding: 9px;" class="mcnImageBlockInner">
                                                            &#13;
                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="mcnImageContent" valign="top" style="text-align: center; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; padding: 0 9px;" align="center">
                                                                            &#13;
                                                                            &#13;
                                                                            &#13;
                                                                            <img align="center" alt="" src="http://gallery.mailchimp.com/dbf884bc61b855d8bf95a5664/images/6192a995-8b49-4747-83df-817583d64519.png" width="300" style="max-width: 300px; padding-bottom: 0; display: inline !important; vertical-align: bottom; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: 100% !important; border: 0;" class="mcnImage" />
                                                                        </td>&#13;
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>&#13;
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                            &#13;
                                                            &#13;
                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; width: 100% !important;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top" class="mcnTextContent" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; color: #606060; font-family: Helvetica; font-size: 18px !important; line-height: 125% !important; text-align: left; padding: 9px 18px;" align="left">
                                                                            &#13;
                                                                            &#13;
                                                                            <font color="#4f4f4f"><span style="font-size: 14px;">Congratulations! Everyone in your house has now signed up to DividaBill.</span></font><br /><br /><font color="#4f4f4f"><span style="font-size: 14px;">This takes five days to take affect and your future bills after this point will be split between everyone. </span><br /><br /><span style="font-size: 14px;">You can sit back and relax knowing we're managing your bills, so you don't have to.</span></font><br /><br /><span style="color: #4F4F4F; font-size: 14px; line-height: 20.7999992370605px;">
                                                                                We will now be readying everything for your DividaBill start date.<br /><br />&#13;
                                                                                If you have any questions, email us at support@dividabill.co.uk or call us on
                                                                            </span><span style="color: #606060; font-family: helvetica; font-size: 14px; line-height: 20.7999992370605px;"> 02380223596.</span><br /><br /><span style="font-size: 14px;">
                                                                                <span style="color: #4f4f4f;">
                                                                                    <span style="line-height: 20.7999992370605px;">
                                                                                        All the best, and we hope you have a great year!<br />&#13;
                                                                                        The DividaBill Team
                                                                                    </span>
                                                                                </span>
                                                                            </span>&#13;
                                                                            &#13;
                                                                            <hr />
                                                                        </td>&#13;
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>&#13;
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>&#13;
                                    </tr>
                                </table>
                            </td>&#13;
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                &#13;
                                &#13;
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; border-top-width: 0; border-bottom-width: 0; max-width: 600px !important; width: 100% !important; background-color: #FFFFFF;" bgcolor="#FFFFFF">
                                    <tr>
                                        <td valign="top" class="bodyContainer" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                <tbody class="mcnFollowBlockOuter">
                                                    <tr>
                                                        <td align="center" valign="top" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; padding: 9px;" class="mcnFollowBlockInner">
                                                            &#13;
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" style="padding-left: 9px; padding-right: 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                            &#13;
                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContent" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; background-color: #FAFAFA; border: 1px solid #eeeeee;" bgcolor="#FAFAFA">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="center" valign="top" style="padding-top: 9px; padding-right: 9px; padding-left: 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                                            &#13;
                                                                                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td valign="top" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                                                            &#13;
                                                                                                            &#13;
                                                                                                            &#13;
                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right: 10px; padding-bottom: 5px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                                                                            &#13;
                                                                                                                            <a href="http://www.facebook.com/DividaBill" target="_blank" style="word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png" alt="Facebook" class="mcnFollowBlockIcon" width="48" style="width: 48px; max-width: 48px; display: block; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: 0;" /></a>&#13;
                                                                                                                        </td>&#13;
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right: 10px; padding-bottom: 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                                                                            &#13;
                                                                                                                            <a href="http://www.facebook.com/DividaBill" target="_blank" style="color: #606060; font-family: Arial; font-size: 11px; font-weight: normal; line-height: 100%; text-align: center; text-decoration: none; word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">Facebook</a>&#13;
                                                                                                                        </td>&#13;
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table><table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right: 10px; padding-bottom: 5px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                                                                            &#13;
                                                                                                                            <a href="http://www.twitter.com/DividaBill" target="_blank" style="word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-96.png" alt="Twitter" class="mcnFollowBlockIcon" width="48" style="width: 48px; max-width: 48px; display: block; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: 0;" /></a>&#13;
                                                                                                                        </td>&#13;
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right: 10px; padding-bottom: 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                                                                            &#13;
                                                                                                                            <a href="http://www.twitter.com/DividaBill" target="_blank" style="color: #606060; font-family: Arial; font-size: 11px; font-weight: normal; line-height: 100%; text-align: center; text-decoration: none; word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">Twitter</a>&#13;
                                                                                                                        </td>&#13;
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table><table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right: 0; padding-bottom: 5px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                                                                            &#13;
                                                                                                                            <a href="www.dividabill.co.uk" target="_blank" style="word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-link-96.png" alt="Website" class="mcnFollowBlockIcon" width="48" style="width: 48px; max-width: 48px; display: block; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: 0;" /></a>&#13;
                                                                                                                        </td>&#13;
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right: 0; padding-bottom: 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                                                                                                            &#13;
                                                                                                                            <a href="http://www.dividabill.co.uk" target="_blank" style="color: #606060; font-family: Arial; font-size: 11px; font-weight: normal; line-height: 100%; text-align: center; text-decoration: none; word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">Website</a>&#13;
                                                                                                                        </td>&#13;
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </td>&#13;
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>&#13;
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>&#13;
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>&#13;
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>&#13;
                                    </tr>
                                </table>
                            </td>&#13;
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;">
                                &#13;
                                &#13;
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important; border-top-width: 0; border-bottom-width: 0; max-width: 600px !important; width: 100% !important; background-color: #FFFFFF;" bgcolor="#FFFFFF">
                                    <tr>
                                        <td valign="top" class="footerContainer" style="padding-bottom: 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none !important;"></td>&#13;
                                    </tr>
                                </table>
                            </td>&#13;
                        </tr>
                    </table>
                </td>&#13;
            </tr>
        </table>
    </center>&#13;
</body>
</html>