﻿.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(Images/Preloader_8.gif) center no-repeat rgba(255,255,255,0.3);
}

body.loading {
    overflow: hidden;   
}

body.loading .se-pre-con {
    display: block;
}