﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

    .logging-targets {
        border: 0px;
        padding: 10px 10px 10px 30px;
    }

    .loggings {
        border-left: 1px solid rgba(0, 0, 0, 0.52);
    }

.bootbox {
    margin-top: 3em;
}

.error{
        color: #a94442;
}