﻿@model DividaBill.ViewModels.TenancyViewModel

@{
    Layout = "";
    var housesList = ViewBag.Houses as IEnumerable<SelectListItem>;
}

<style>
    .display_date {
        float: right;
        margin-left: 30px;
    }

    .tenancy-row { width: 1000px; }

    .input-line {
        float: left;
        width: 550px;
    }

    .modal-content, .modal-dialog {
        background-color: white;
        width: 1500px;
    }

</style>

<div class="">

    @using (Html.BeginForm("Edit", "Tenancies", null, FormMethod.Post, new {@id = "form-tenancy-edit", @class = "form-horizontal form-row-seperated"}))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.TenancyId)
        @Html.HiddenFor(m => m.UserId)

        <div class="form-group">
            <div class="col-md-10">
                <br/>
                <div class="portlet">
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.Label("Current house: ", new { @class = "control-label col-md-2" })
                        <div class="col-md-4 tenancy-row" style="width: 1000px">
                            @if (ViewBag.currentHouse != null)
                            {
                                @ViewBag.currentHouse
                                <span class="display_date">
                                    <strong>@Html.LabelFor(m => m.LeavingDate) </strong>
                                    @Html.JQueryUI().DatepickerFor(m => m.LeavingDate, new {htmlAttributes = new {@class = "form-control"}})
                                </span>
                            }
                            else
                            {
                                @ViewBag.noTenancy
                            }
                        </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                <div class="row">
                    <div class="form-group">
                        @Html.Label("Move to new house: ", new { @class = "control-label col-md-2" })
                        <div class="col-md-4 tenancy-row">
                            @Html.DropDownListFor(m => m.HouseId, housesList, "Select house", new { @id = "HouseDropDown", @class = "select2me form-control input-line"})
                            <span class="display_date">
                                <strong>@Html.LabelFor(m => m.JoiningDate) </strong>
                                @Html.JQueryUI().DatepickerFor(m => m.JoiningDate, new {htmlAttributes = new {@class = "form-control"}})
                            </span>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    }
</div>