﻿@model IEnumerable<DividaBill.ViewModels.TenancyViewModel>

@{
    Layout = "";
    var noTenancy = ViewBag.noTenancy;
}

<br />
<br/>
@if (@noTenancy == null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenancyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                House Id
            </th>
            <th>
                Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenancyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    <a href="~/Houses/Details/@item.HouseId">@item.HouseId</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseModel.houseDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoiningDate, new {@class = "datepicker"})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeavingDate, new {@class = "datepicker"})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Tenancies", new {item.TenancyId})" target="_blank">Edit</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>@noTenancy</div>
}