﻿@model DividaBill.ViewModels.TenancyViewModel

@{
    ViewBag.Title = "Create tenancy";
    var housesList = ViewBag.Houses as IEnumerable<SelectListItem>;
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create new tenancy for @Model.User.FullName </h4>

        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(m => m.UserId)
        <div class="form-group">
            @Html.LabelFor(model => model.HouseId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.HouseId, housesList, "Select house", new {htmlAttributes = new {@class = "form-control select2" } })
                @Html.ValidationMessageFor(model => model.HouseId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JoiningDate, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.JoiningDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.JoiningDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeavingDate, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.LeavingDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.LeavingDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Notes, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>

    </div>
    <div>
        <a href="@Url.Action("Edit", "Tenants", new { id = @Model.UserId})">Back to tenant edit</a>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/editHouse")
    @Styles.Render("~/Content/metronic-profile")

}