﻿@using Chart.Mvc.ComplexChart
@using Chart.Mvc.Extensions
@model List<DividaBill.Models.Business.MonthlyBillingReport>


@section scripts{
    @*@Scripts.Render("~/bundles/chart")*@

    
}
<script type="text/javascript" src="~/Scripts/Chart.js"></script>

<script type="text/javascript">

    $(document).ready(function() {
        var canvas = document.getElementsByTagName('canvas')[0];
        var width = window.innerWidth - 150;
        var height = (width / 3.25);
        //canvas.width = 2400;
        //canvas.height = y;



        canvas.style.width = width + "px";
        canvas.style.height = height + "px";

        //canvas.style.width = window.innerWidth + "px";
        //canvas.style.height = window.height + "";
        //canvas.height = 400;
    });

</script>

@{
    var lineChart = new LineChart();

    //lineChart.ChartConfiguration.ShowScale = true;
    lineChart.ChartConfiguration.ShowTooltips = true;
    lineChart.ChartConfiguration.Responsive = true;

    lineChart.ComplexData.Labels.AddRange(Model.Select(s => new DateTime(s.Year.Value, s.Month.Value, 1).ToString("MMM yyyy")).ToArray());
    var totalBilled = Model.Select(s => (double)s.TotalAmountBilled).ToList();
    lineChart.ComplexData.Datasets.Add(new ComplexDataset
    {
        Data = totalBilled,
        Label = "Total Billed",
        FillColor = "rgba(220,220,220,0.2)",
        StrokeColor = "rgba(220,220,220,1)",
        PointColor = "rgba(220,220,220,1)",
        PointStrokeColor = "#fff",
        PointHighlightFill = "#fff",
        PointHighlightStroke = "rgba(220,220,220,1)",
    });

    //lineChart.ComplexData.Labels.AddRange(new[] { "January", "February", "March", "April", "May", "June", "July" });
    //lineChart.ComplexData.Datasets.AddRange(new List<ComplexDataset>
    //                         {
    //                            new ComplexDataset
    //                                {
    //                                    Data = new List<double> { 65, 59, 80, 81, 56, 55, 40 },
    //                                    Label = "",
    //                                    FillColor = "rgba(220,220,220,0.2)",
    //                                    StrokeColor = "rgba(220,220,220,1)",
    //                                    PointColor = "rgba(220,220,220,1)",
    //                                    PointStrokeColor = "#fff",
    //                                    PointHighlightFill = "#fff",
    //                                    PointHighlightStroke = "rgba(220,220,220,1)",
    //                                },
    //                            new ComplexDataset
    //                                {
    //                                    Data = new List<double> { 28, 48, 40, 19, 86, 27, 90 },
    //                                    Label = "My Second dataset",
    //                                    FillColor = "rgba(151,187,205,0.2)",
    //                                    StrokeColor = "rgba(151,187,205,1)",
    //                                    PointColor = "rgba(151,187,205,1)",
    //                                    PointStrokeColor = "#fff",
    //                                    PointHighlightFill = "#fff",
    //                                    PointHighlightStroke = "rgba(151,187,205,1)",
    //                                }
    //                        });
}


<canvas id="myCanvas" width="1200" height="400" ></canvas>
@Html.CreateChart("myCanvas", lineChart)