﻿<script type="text/template" id="confirmation-page-tpl">
    @{
        ViewBag.Title = "Congratulations";
        ViewBag.SubTitle = "Congratulations";
        ViewBag.Heading = "Create a new account.";
    }
    <section class="container" id="container">
        <div id="signupThree" style="display: block;">
            <h2 class="text-center"> Congratulations, <br> You are Signed Up!</h2><hr>
            <form class="form-horizontal" action="signup3.html">
                <section class="row">
                    <div class="form-group">
                        <label for="house-cost" class="col-sm-2 col-md-offset-3 control-label">Housing Cost :</label>
                        <div class="col-sm-3">
                            <input type="text" disabled="disabled" value="5445.00" class="form-control cust-para" id="house-cost">
                        </div>
                    </div>
                </section>
                <section class="row">
                    <div class="form-group">
                        <label for="cost-person" class="col-sm-2 col-md-offset-3 control-label">Cost per Person :</label>
                        <div class="col-sm-3">
                            <input type="text" disabled="disabled" class="form-control cust-para" id="cost-person" value="5445.00">
                        </div>
                    </div>
                </section><br> <hr> <br>
                <section class="row">
                    <div class="form-group">
                        <label for="active-date" class="col-sm-3 col-md-offset-2 control-label">DividaBill Activate Date :</label>
                        <div class="col-sm-3">
                            <input type="text" disabled="disabled" value="10-10-2015" class="form-control cust-para" id="active-dat" style="background-color:#E8F4D9">
                        </div>
                    </div>
                </section><br> <hr> <br>
            </form>
            <section class="row">
                <aside class=" col-sm-6 col-sm-offset-3 orange-info-box">
                    <p class="text-center" style="color: #F7931E;"> You will be contacted about installation and a list of services you have selected. <br> <br> Please watch out for this email in your junkmail folder. </p>
                </aside>
            </section>
        </div>
        <div style="margin-bottom:20em"></div>
    </section>
</script>