
body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    background: url('http://client.dividabill.co.uk/Content/Images/Background/4.jpg')no-repeat;
    background-size: 100% 200%;
    overflow:auto;
}

#bg-style-5 {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    background: url('http://client.dividabill.co.uk/Content/Images/Background/4.jpg')no-repeat;
    background-size: 100% 981px;
}
.client-edit a {
    color: #666666;
    padding: 0 10px;
}

#changeService
{
   margin-right: 1em;
}
/*House Account*/
.house-ac-index51 {
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
}

.house-ac-index51 .span1 {
    font-size: 12px;
    font-family: Helvetica-Light;
    color: #989898;
    margin-right: 40px;
}

.house-ac-index51 .span2 {
    font-size: 16px;
    font-family: Helvetica;
    color: #333333;
}

.span2 span {
    color: white;
    padding: 2px 4px;
    border-radius: 100px;
    background-color: #4D4D4D;
    margin: 0 5px;
}

.house-ac-index51 .house-navi .span4 {
    margin-left: 73px;
    border: 1px solid #09ADEC;
    padding: 8px 10px;
    border-radius: 5px;
    color: #09ADEC;
    display: inline-block;
}

.house-ac-index51 .span6 {
    font-size: 12px;
    font-family: Helvetica-Light;
}

.house-ac-index51 .house-navi a {
    font-size: 15px;
    font-family: Helvetica-Light;
}
.house-ac-index52 .house-navi {
    margin-top: 15px;
}
.house-ac-index52 .house-navi a {
    font-size: 15px;
    font-family: Helvetica-Light;
    color: #989898;
}
.house-ac-index52 {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
}

.house-ac-index52 .span1 {
    font-size: 12px;
    font-family: Helvetica-Light;
    color: #989898;
    margin-right: 40px;
}

.house-ac-index52 .span2 {
    font-size: 16px;
    font-family: Helvetica;
    color: #333333;
}

.house-ac-index52 .house-navi .span4 {
    margin-left: 215px;
    border: 1px solid #09ADEC;
    padding: 8px 10px;
    border-radius: 5px;
    color: #09ADEC;
    display: inline-block;
}

.house-ac-index52 .house-navi a {
    font-size: 15px;
    font-family: Helvetica-Light;
    color: #989898;
}

.house-ac-index53 {
    margin-top: 20px;
    font-size: 12px;
    font-family: Helvetica-Light;
    color: #333333;
}


.house-ac-index53 .house-ac-a {
    margin-top: 20px;
    font-size: 16px;
    font-family: Helvetica;
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: #CBCBCB;
}

.house-ac-head-left2 {
    float: left;
    margin-top: 40px;
}

.house-ac-head-left2 .house-delete {
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.house-ac-head-left2 input {
    background-color: transparent;
    border: 0px solid;
}

.client-add
{
    outline:0;
    color:#222 !important;
    padding: 5px 15px !important;
    border: 1px solid black !important;
    border-radius:5px;
}

.gas-table2 table tbody tr td {
    padding-bottom: 20px;
    width: 10%;
    padding: 10px 0;
    border-bottom: 1px solid #E5E5E5;
    color: #989898;
    font-family: Helvetica-Light;
    font-size: 15px;
}
.client-edit button {
    color: #666666;
    padding: 0 10px;
}
.client-edit {
    width: 15% !important;
}
#page-item
{
        padding-bottom: 120px;
}
.gas-table1 {
    float: left;
    margin-right: 20px;
    font-size: 12px;
    font-family: Helvetica-Light;
    color: black;
}
/*-----------------------------*/
img {
    width: 100%;
    height: auto;
}

.clear-fix {
    clear: both;
}

aside, section, main, header, footer, figure, nav {
    display: block;
}

p, h1, h2, h3, h4, h5, h6, figure, img, ul {
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
    color: #29AAE1;
}

@font-face {
    font-family: HelveticaNeueLTCom-UltLt;
    src: url(fonts/HelveticaNeueLTStd-UltLt.ttf);
}

@font-face {
    font-family: Helvetica-Light;
    src: url(fonts/Helvetica-Light.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(fonts/HelveticaCE-Cond.otf);
}

.third-single table tr td a {
    color: black;
}

.white-bg {
       background-color: rgba(255, 255, 255, 0.72);
}
/*header section*/
.header-right {
    float: right;
}

.header-section {
    width: 100%;
    height: 100px;
    background: rgba(100, 100, 100, 0.60);
}

.header-right2 {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

    .header-right2 img {
        width: 50px;
    }

.header-right1 {
    color: white;
    float: left;
    text-align: right;
    margin-top: 10px;
}

    .header-right1 .person-name {
        font-size: 24px;
        color: #4C4C4C;
        font-family: HelveticaNeueLTCom-UltLt;
    }

    .header-right1 .person-welcome {
        color: #B2B2B2;
        font-size: 13px;
        font-family: Helvetica-Light;
    }

    .header-right1 i {
        padding: 1px 2px;
        border: 1px solid #29AAE1;
        font-size: 10px;
    }

    .header-right1 span {
        color: #29AAE1;
        margin: 0 10px;
        font-size: 10px;
    }

    .header-right1 .sign-out {
        color: #29AAE1;
        font-size: 10px;
        font-family: Helvetica-Light;
    }


/*style 2*/
/*house account*/
.house-body {
}

    .house-body .col-md-6 {
        padding: 5px;
    }

    .house-body .third-single {
        background: rgba(255, 255, 255, 0.80);
        padding: 30px;
        height: 310px;
        border-radius: 5px;
    }

    .house-body .third-single-img img {
        width: 25px;
    }

    .house-body .third-single-img i {
        font-size: 60px;
    }

    .house-body .third-single-img i {
        font-size: 60px;
    }

    .house-body .third-single-img {
        border-radius: 100px;
        height: 100px;
        margin: 0 auto;
        padding-top: 17px;
        text-align: center;
        width: 100px;
        margin-top: 20px;
    }

    .house-body .third-single {
    }

    .house-body .third-single-title {
        font-family: Helvetica;
        font-size: 15px;
        font-weight: bold;
    }

    .house-body .third-signle-td1 {
        text-align: right;
        font-family: Helvetica-Light;
        font-size: 12px;
    }

    .house-body .third-signle-td2 {
        font-size: 16px;
        font-weight: medium;
        font-family: Helvetica;
        padding-left: 20px;
    }

    .house-body .third-single .fa-question-fa {
        float: right;
        color: #AEA3A3;
        border: 1px solid #AEA3A3;
        padding: 3px 5px;
        border-radius: 100px;
        margin-top: 20px;
        margin-right: -20px;
    }

    .house-body .third-single-button1 {
        margin: 11px 93px;
        border: 1px solid #09ADEC;
        color: #09ADEC;
        padding: 7px 10px;
        border-radius: 5px;
        display: inline-block;
        font-family: Helvetica-Light;
        font-size: 12px;
    }

    .house-body .third-single-button2 {
        margin: 11px 93px;
        border: 1px solid #837A7A;
        color: #837A7A;
        padding: 7px 10px;
        border-radius: 5px;
        display: inline-block;
        font-family: Helvetica-Light;
        font-size: 12px;
    }

.house-body-bottom-p {
    margin-top: 90px;
    color: #B2B2B2;
    padding-bottom: 40px;
    font-family: Helvetica-Light;
    font-size: 12px;
}

.house-body .e-back {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 13px;
    font-family: Helvetica-Light;
    font-size: 12px;
    color: black;
}


.third-signle-td11 {
    font-size: 15px;
    text-align: left;
    font-family: Helvetica-Light;
    color: black;
}

.third-single .third-signle-td11 {
    text-align: left;
    font-family: Helvetica-Light;
    font-size: 12px;
    color: black;
}

.third-single .third-signle-td2 {
    font-size: 15px;
    padding-left: 120px;
}

.gas-title {
    font-size: 37px;
    font-family: Helvetica;
    padding: 10px 0;
    font-weight: bold;
}
/*water setting*/
.water p {
    font-size: 37px;
    color: black;
    font-family: Helvetica;
    padding-top: 20px;
    font-weight: bold;
}

.water .navi {
    text-align: right;
    margin-top: 30px;
}

    .water .navi ul {
        padding: 0;
        margin: 0;
        float: right;
    }

        .water .navi ul li {
            float: left;
        }

            .water .navi ul li a {
                font-family: Helvetica-Light;
                padding: 7px 15px;
                border: 1px solid transparent;
                border-radius: 20px;
                color: black;
            }

                .water .navi ul li a:hover {
                    text-decoration: none;
                    padding: 7px 15px;
                    border: 1px solid #29AAE1;
                    border-radius: 20px;
                    color: #29AAE1;
                }

            .water .navi ul li .active {
                padding: 7px 15px;
                border: 1px solid #29AAE1;
                border-radius: 20px;
                color: #29AAE1;
            }

.water-body-full {
    border: 1px solid rgba(0, 0, 0, 0.51);
    padding: 15px 0 150px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.56);
    margin-bottom: 120px;
}

.water-body-form {
    border-bottom: 1px solid #E5E5E5;
    padding: 30px 0;
    font-size: 12px;
    margin-bottom: 50px;
}

.broadband-phone2 a:hover {
    text-decoration: none;
}

.broadband-phone2 a {
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica-Light;
    color: #29AAE1;
}

    .broadband-phone2 a i {
        font-size: 15px;
        padding-right: 5px;
        padding-top: 30px;
    }

.water-title {
    font-size: 37px;
    font-family: Helvetica;
    padding: 10px 0;
    font-weight: bold;
}

.water-nav {
}

    .water-nav ul {
    }

        .water-nav ul li {
            float: left;
            list-style-type: none;
        }

            .water-nav ul li a {
                padding: 0 10px;
                color: #989898;
                font-size: 12px;
                font-family: Helvetica-Light;
            }
.water-nav ul li button {
    padding: 0 10px;
    color: #989898;
    font-size: 12px;
    font-family: Helvetica-Light;
}

.water-nav ul li button:hover{
    color: #989898 !important;
}

.water-search .water-button {
    margin-left: -15px;
}

.water-search {
    padding: 5px;
    border: 1px solid;
}

    .water-search i {
        color: #989898;
    }

.water-button {
    border: 0px solid;
    background: transparent;
}

.water-text {
    border: 0px solid;
    background: transparent;
    padding-left: 10px;
}

.water-calendar {
    margin: 0 10px;
}

.water-calendar-label {
    color: #666666;
    font-size: 12px;
    font-family: Helvetica-Light;
}

.water-calendar-input {
    margin: 0 10px 0 5px;
    border: 1px solid #29AAE1;
    border-radius: 10px;
    padding: 5px;
}

    .water-calendar-input i {
        color: #29AAE1;
    }

    .water-calendar-input input {
        border: 0px solid;
        background: transparent;
        width: 100px;
        padding-left: 5px;
    }

.filter {
    padding-right: 10px;
    color: #666666;
    font-size: 12px;
    font-family: Helvetica-Light;
    font-weight: normal;
}

.filter-select select {
    padding: 5px;
    border: 1px solid black;
}

    .filter-select select option {
        border: 1px solid black;
    }

.water-print {
    color: black;
    margin: 0 0 0 20px;
}

    .water-print:hover i {
        color: black;
    }

    .water-print span {
        font-size: 12px;
        font-family: Helvetica-Light;
        margin: 0 10px;
    }

.water-download {
    color: black;
    margin: 0 10px;
}

    .water-download:hover i {
        color: black;
    }

    .water-download span {
        font-size: 12px;
        font-family: Helvetica-Light;
        margin: 0 10px;
    }

.water-table-section table thead tr td {
    color: black;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: medium;
}

.water-table-section table tr td {
    width: 184px;
    color: #494747;
    font-size: 12px;
    font-family: Helvetica-Light;
}

.water-table-section table tr .water-table-td {
    color: #29AAE1;
    width: 400px;
}

.water-table-section table tbody tr td {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
    padding-top: 20px;
}

.e-third-single-img {
    border: 1px solid black;
    border-radius: 100px;
    height: 75px;
    margin: -30px auto 0;
    padding-top: 17px;
    text-align: center;
    width: 75px;
}

    .e-third-single-img img {
        width: 25px;
    }

    .e-third-single-img i {
        font-size: 43px;
    }

    .e-third-single-img i {
        font-size: 40px;
    }

.third-signle-td11 {
    font-size: 15px;
    text-align: left;
    font-family: Helvetica-Light;
    color: black;
}

/*style 2*/
/*Gas*/
.broadband-phone3 p {
    font-size: 37px;
    color: black;
    font-family: Helvetica;
    padding-top: 20px;
    font-weight: bold;
}

.broadband-phone3 .navi {
    text-align: right;
    margin-top: 30px;
}

    .broadband-phone3 .navi ul {
        padding: 0;
        margin: 0;
        float: right;
    }

        .broadband-phone3 .navi ul li {
            float: left;
        }

            .broadband-phone3 .navi ul li a {
                font-family: Helvetica-Light;
                padding: 7px 15px;
                border: 1px solid transparent;
                border-radius: 20px;
                color: black;
            }

                .broadband-phone3 .navi ul li a:hover {
                    text-decoration: none;
                    padding: 7px 15px;
                    border: 1px solid #29AAE1;
                    border-radius: 20px;
                    color: #29AAE1;
                }

            .broadband-phone3 .navi ul li .active {
                padding: 7px 15px;
                border: 1px solid #29AAE1;
                border-radius: 20px;
                color: #29AAE1;
            }

.gas-body-full {
    padding: 15px 0 150px;
}

.broadband-phone2 a:hover {
    text-decoration: none;
}

.broadband-phone2 a {
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica-Light;
    color: #29AAE1;
}

    .broadband-phone2 a i {
        font-size: 15px;
        padding-right: 5px;
        padding-top: 30px;
    }

.gas-title {
    font-size: 37px;
    font-family: Helvetica;
    padding: 10px 0;
    font-weight: bold;
}

.gas-nav {
}

    .gas-nav ul {
    }

        .gas-nav ul li {
            float: left;
        }

            .gas-nav ul li a {
                padding: 0 10px;
                color: #989898;
                font-size: 12px;
                font-family: Helvetica-Light;
            }

.billing-body {
    float: left;
    width: 400px;
    padding: 80px 0;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 40px;
}

.billing-body-aside1 {
    float: left;
    width: 150px;
    text-align: center;
    margin: 10px 25px;
}

    .billing-body-aside1 p {
        font-family: Helvetica-Light;
        font-size: 15px;
    }

    .billing-body-aside1 i {
        color: #F2F2F2;
        border: 1px solid #F2F2F2;
        padding: 1px 4px;
        border-radius: 100px;
    }

    .billing-body-aside1 .bill-box {
        padding: 10px 15px;
        border: 1px solid #F2F2F2;
        margin: 10px 0;
    }

.view-bottom {
    font-family: Helvetica-Light;
    font-size: 12px;
    margin-left: 30px;
}


/*style 3*/
.current-status {
    font-family: Helvetica-Light;
    font-size: 12px;
    margin-top: 20px;
    color: #B2B2B2;
}

.current-status a {
    margin: 0 15px;
    padding: 6px 10px;
    border: 1px solid #29AAE1;
    color: #29AAE1;
    border-radius: 5px;
    display: inline-block;
}
.current-status button {
    margin: 0 15px;
    padding: 6px 10px;
    border: 1px solid #29AAE1;
    color: #29AAE1;
    border-radius: 5px;
    display: inline-block;
    background-color:transparent;
}

.billing-body4 {
    float: left;
    padding: 50px 0 20px;
    border-bottom: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    margin-bottom: 40px;
    margin-top: 30px;
}


/*style 4*/
.gas-body-form {
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    padding: 30px 0;
    margin: 50px 0;
}

.gas-search .gas-button {
    margin-left: -15px;
}

.gas-search {
    padding: 5px;
    border: 1px solid;
}

    .gas-search i {
        color: #989898;
    }

.gas-button {
    border: 0px solid;
    background: transparent;
}

.gas-text {
    border: 0px solid;
    background: transparent;
    padding-left: 10px;
}

.gas-calendar {
    margin: 0 30px;
}

.gas-calendar-label {
    color: #666666;
    font-size: 12px;
    font-family: Helvetica-Light;
}

.gas-calendar-input {
    margin: 0 10px 0 5px;
    border: 1px solid #29AAE1;
    border-radius: 10px;
    padding: 5px;
}

    .gas-calendar-input i {
        color: #29AAE1;
    }

    .gas-calendar-input input {
        border: 0px solid;
        background: transparent;
        width: 100px;
        padding-left: 5px;
    }

.gas-calender {
    margin: 0 40px;
}

.filter {
    padding-right: 10px;
    color: #666666;
    font-size: 12px;
    font-family: Helvetica-Light;
}

.filter-select select {
    padding: 5px;
    border: 1px solid black;
}

    .filter-select select option {
        border: 1px solid black;
    }

.gas-print {
    color: black;
    margin: 0 30px 0 100px;
}

    .gas-print:hover i {
        color: black;
    }

    .gas-print span {
        font-size: 12px;
        font-family: Helvetica-Light;
        margin: 0 10px;
    }

.gas-download {
    color: black;
    margin: 0 30px;
}

    .gas-download:hover i {
        color: black;
    }

    .gas-download span {
        font-size: 12px;
        font-family: Helvetica-Light;
        margin: 0 10px;
    }

.gas-table-section table thead tr td {
    color: black;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: medium;
}

.gas-table-section table tr td {
    width: 184px;
    color: #989898;
    font-size: 12px;
    font-family: Helvetica-Light;
}

.gas-table-section table tr .gas-table-td {
    color: #29AAE1;
    width: 400px;
}

.gas-table-section table tbody tr td {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #989898;
    font-family: Helvetica-Light;
    font-size: 15px;
}


/*style 9*/
.map-section-head {
    font-size: 12px;
    font-family: Helvetica-Light;
    color: #B2B2B2;
    margin: 30px 0 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E5E5E5;
}

.map-section p {
    padding-left: 50px;
    font-size: 12px;
    font-family: Helvetica-Light;
    color: #B2B2B2;
    margin: 30px 0 20px;
    padding-bottom: 12px;
}

.map-section i {
    color: #B2B2B2;
    border-radius: 100px;
    border: 1px solid #B2B2B2;
    padding: 2px 4px;
    margin-left: 15px;
}

.map-section .fa-signal {
    color: black;
    border-radius: 0px;
    border: 0px solid #B2B2B2;
    padding: 0px 0px;
    margin-left: 15px;
}


/*style 10*/
.map-single {
    margin-top: 85px;
}

.map-full {
    margin-top: 50px;
}

.map-single-main {
    text-align: center;
    border: 1px solid #E5E5E5;
    padding: 18px 18px 40px;
    border-radius: 5px;
    font-size: 12px;
    font-family: Helvetica-Light;
    color: #B2B2B2;
}

    .map-single-main .map-s-m-head {
        color: #333333;
        font-size: 15px;
        padding-bottom: 15px;
    }

    .map-single-main .map-single-a1 {
        color: #CBCBCB;
        padding: 10px 20px;
        border: 1px solid #B2B2B2;
        display: inline-block;
        margin: 40px 0 20px;
    }

    .map-single-main .map-single-a2 {
        color: #29AAE1;
        padding: 10px 23px;
        border: 1px solid #29AAE1;
        border-radius: 20px;
        display: inline-block;
        background: transparent;
    }

.map-single1 {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

    .map-single1 .map-single1-p {
        font-size: 12px;
        font-family: Helvetica-Light;
        color: #B2B2B2;
    }

        .map-single1 .map-single1-p i {
            padding: 2px 4px;
            border-radius: 100px;
            border: 1px solid #B2B2B2;
            margin-left: 10px;
        }

.map-single11 {
    margin-top: 20px;
}

.map-single111 {
    width: 50%;
    float: left;
    text-align: center;
}

    .map-single111 p {
        padding-bottom: 10px;
        font-size: 15px;
        font-family: Helvetica-Light;
        color: #333333;
        margin-bottom: 10px;
    }

    .map-single111 .map-p1 {
        padding: 8px 20px;
        border: 1px solid #29AAE1;
        font-family: Helvetica-Light;
        color: black;
    }

    .map-single111 .map-p11 {
        padding: 8px 20px;
        border: 1px solid #00A89C;
        font-family: Helvetica-Light;
        color: black;
    }

.map-single1 img {
    width: 50%;
    margin-top: 50px;
}

.third-signle-td11 {
    font-size: 15px;
    text-align: left;
    font-family: Helvetica-Light;
    color: black;
}


/*style 11*/
.table-responsive
{
        overflow-x: visible !important;
}
.notifications-block
{
        opacity: 0.5;
}
.dash-body {
}

    .dash-body .col-md-4 {
        padding: 5px;
    }

.third-single {
    background: rgba(255, 255, 255, 0.80);
    padding: 30px;
    height: 310px;
    border-radius: 5px;
}

.third-single-img img {
    width: 40px;
}

.third-single-img i {
    font-size: 43px;
}

.third-single-img i {
    font-size: 40px;
}

.third-single-img {
    border: 1px solid black;
    border-radius: 100px;
    height: 75px;
    margin: 0 auto;
    padding-top: 17px;
    text-align: center;
    width: 75px;
}

.third-single {
}

.third-single-title {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
}

.third-signle-td1 {
    text-align: right;
    font-family: Helvetica-Light;
    font-size: 15px;
}

.third-signle-td2 {
    font-size: 16px;
    font-weight: medium;
    font-family: Helvetica;
    padding-left: 20px;
}

.third-single .fa-question-fa {
    float: right;
    color: #AEA3A3;
    border: 1px solid #AEA3A3;
    padding: 3px 5px;
    border-radius: 100px;
    margin-top: 20px;
    margin-right: -20px;
}

.third-single-button1 {
    margin: 11px 93px;
    border: 1px solid #09ADEC;
    color: #09ADEC;
    padding: 7px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 130px;
    font-family: Helvetica-Light;
    font-size: 12px;
}

.third-single-button2 {
    margin: 11px 93px;
    border: 1px solid #837A7A;
    color: #837A7A;
    padding: 7px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 120px;
    font-family: Helvetica-Light;
    font-size: 12px;
}

.dash-body-bottom-p {
    margin-top: 145px;
    color: #B2B2B2;
    padding-bottom: 40px;
    font-family: Helvetica-Light;
    font-size: 12px;
}

.e-third-signle-td2 {
    font-size: 15px;
    padding-left: 200px;
}

.e-back {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 13px;
    font-family: Helvetica-Light;
    font-size: 12px;
    color: black;
}

.broadband-phone4 {
    border: 1px solid black;
    padding: 20px;
    height: auto;
}

    .broadband-phone4 .body-text1 {
        color: #B2B2B2;
        width: 50%;
        padding-bottom: 20px;
        border-bottom: 1px solid #B2B2B2;
        font-family: Helvetica-Light;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .broadband-phone4 .body-text2 p {
        margin-bottom: 10px;
        font-family: Helvetica-Light;
        font-size: 13px;
        margin-bottom: 10px;
        color: #333333;
    }

        .broadband-phone4 .body-text2 p i {
            padding: 2px 5px;
            margin-right: 15px;
            background-color: black;
            color: white;
            border-radius: 100px;
        }

    .broadband-phone4 .body-text3 {
        color: #B2B2B2;
        width: 46%;
        margin-top: 235px;
        padding-top: 10px;
        border-top: 1px solid #B2B2B2;
        font-family: Helvetica-Light;
        font-size: 12px;
    }

/*bottom note*/
.bottom-note {
    margin-bottom: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 40px;
    padding: 20px;
    font-family: Helvetica-Light;
    font-size: 12px;
    color: #B2B2B2;
}

.bottom-note-title {
    margin-bottom: 5px;
}



/*tenant setting*/
.tenant3 p {
    font-size: 37px;
    color: black;
    font-family: Helvetica;
    padding-top: 20px;
    font-weight: bold;
}

.tenant3 .navi {
    text-align: right;
    margin-top: 30px;
}

    .tenant3 .navi ul {
        padding: 0;
        margin: 0;
        float: right;
        list-style:none;
    }

        .tenant3 .navi ul li {
            float: left;
        }

            .tenant3 .navi ul li a {
                font-family: Helvetica-Light;
                padding: 7px 15px;
                border: 1px solid transparent;
                border-radius: 20px;
                color: black;
            }

                .tenant3 .navi ul li a:hover {
                    text-decoration: none;
                    padding: 7px 15px;
                    border: 1px solid #29AAE1;
                    border-radius: 20px;
                    color: #29AAE1;
                }

            .tenant3 .navi ul li .active {
                padding: 7px 15px;
                border: 1px solid #29AAE1;
                border-radius: 20px;
                color: #29AAE1;
            }

.tenant-body-full {
    border: 1px solid black;
    padding: 15px 0 150px;
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 20px;
}

.tenant-body-form {
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    padding: 30px 0;
    margin: 50px 0;
}

.broadband-phone2 a:hover {
    text-decoration: none;
}

.broadband-phone2 a {
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica-Light;
    color: #29AAE1;
}

    .broadband-phone2 a i {
        font-size: 15px;
        padding-right: 5px;
        padding-top: 30px;
    }

.tenant-title {
    font-size: 37px;
    font-family: Helvetica;
    padding: 10px 0;
    font-weight: bold;
}

.tenant-search .tenant-button {
    margin-left: -15px;
}

.tenant-search {
    padding: 5px;
    border: 1px solid;
}

    .tenant-search i {
        color: #989898;
    }

.tenant-button {
    border: 0px solid;
    background: transparent;
}

.tenant-text {
    border: 0px solid;
    background: transparent;
    padding-left: 10px;
}

.tenant-calendar {
    margin: 0 30px;
}

.tenant-calendar-label {
    color: #666666;
    font-size: 12px;
    font-family: Helvetica-Light;
}

.tenant-calendar-input {
    margin: 0 10px 0 5px;
    border: 1px solid #29AAE1;
    border-radius: 10px;
    padding: 5px;
}

    .tenant-calendar-input i {
        color: #29AAE1;
    }

    .tenant-calendar-input input {
        border: 0px solid;
        background: transparent;
        width: 100px;
        padding-left: 5px;
    }

.tenant-calender {
    margin: 0 40px;
}

.filter {
    padding-right: 10px;
    color: #666666;
    font-size: 12px;
    font-family: Helvetica-Light;
}

.filter-select select {
    padding: 5px;
    border: 1px solid black;
}

    .filter-select select option {
        border: 1px solid black;
    }

.tenant-print {
    color: black;
    margin: 0 30px 0 100px;
}

    .tenant-print:hover i {
        color: black;
    }

    .tenant-print span {
        font-size: 12px;
        font-family: Helvetica-Light;
        margin: 0 10px;
    }

.tenant-download {
    color: black;
    margin: 0 30px;
}

    .tenant-download:hover i {
        color: black;
    }

    .tenant-download span {
        font-size: 12px;
        font-family: Helvetica-Light;
        margin: 0 10px;
    }

.tenant-table-section table thead tr td {
    color: black;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: medium;
}

.tenant-table-section table tr td {
    width: 184px;
    color: #989898;
    font-size: 15px;
    font-family: Helvetica-Light;
}

.tenant-table-section table tr .tenant-table-td {
    color: #29AAE1;
    width: 400px;
}

.tenant-table-section table tbody tr td {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
    padding-top: 20px;
}


.third-signle-td11 {
    font-size: 15px;
    text-align: left;
    font-family: Helvetica-Light;
    color: black;
}

.third-single .third-signle-td11 {
    text-align: left;
    font-family: Helvetica-Light;
    font-size: 12px;
    color: black;
}

.third-single .e-third-signle-td2 {
    font-size: 15px;
    padding-left: 195px;
}

.tanent-left .tanent-left-td {
    font-size: 12px;
    text-align: right;
    font-family: Helvetica-Light;
    color: #989898;
}

.tanent-left .tanent-left-td2 {
    font-size: 16px;
    text-align: left;
    font-family: Helvetica;
    color: #333333;
    font-weight: medium;
    padding-left: 20px;
}

.tanent-left {
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
}

.tanent-left2 {
    margin-bottom: 30px;
    padding-bottom: 20px;
    margin-top: 30px;
    border-bottom: 1px solid #E5E5E5;
    font-family: Helvetica-Light;
    color: #333333;
}

/*.tanent-left2-part1 {
    float: left;
    width: 200px;
    text-align: center;
}*/

 .tanent-pa-p {
        margin-top: 10px;
        padding: 8px 25px;
        border: 1px solid black;
        display: inline-block;
    }

.tanent-foot-a {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 12px;
    font-family: Helvetica-Light;
}

.tanent-right {
    border-left: 1px solid #B2B2B2;
    padding-left: 20px;
}

.tanent-right-part1 .tanent-span1 {
    font-weight: medium;
    font-size: 16px;
    font-family: Helvetica;
    color: black;
    margin-right: 100px;
    float: left;
}

.tanent-right-part1 a {
    margin: 0 10px;
    font-family: Helvetica-Light;
    color: black;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 1s all;
    display: block;
    width: 120px;
    float: left;
}
.tanent-right-part1 button {
    margin: 0 10px;
    font-family: Helvetica-Light;
    color: black;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 1s all;
    display: block;
    float: left;
    background-color:transparent;
}

button
{
    outline:0
}

.btn-link
{
    background-color: transparent;
    border: 0px;
    color: #337ab7;
    text-decoration: none;
    padding:0px;
}
.btn-link:hover
{
    text-decoration: none;
    color: #29AAE1;
}

.tanent-right7-part1 button {
    color: #666666;
    font-family: Helvetica-Light;
    font-size: 12px;
    border: 1px solid #666666;
    border-radius: 5px;
    padding: 8px 10px;
    background-color:transparent;
}

.tanent-right-part1 button:hover {
    color: white;
    background-color: #29AAE1;
    border: 1px solid #29AAE1;
    transition: 1s all;
}

.tanent-right-part1 a:hover {
    color: white;
    background-color: #29AAE1;
    border: 1px solid #29AAE1;
    transition: 1s all;
}

.ta-ri-part1 {
    margin-top: 50px;
    display: inline-block;
    margin-right: 20px;
    font-family: Helvetica-Light;
    font-size: 12px;
    color: #989898;
}

.ta-ri-part2 {
    border: 1px solid #CBCBCB;
    color: black;
    font-family: Helvetica;
    font-size: 16px;
    padding: 10px 25px;
}

.tanent-right-part2 i {
    color: #CBCBCB;
    border: 1px solid #CBCBCB;
    border-radius: 100px;
    padding: 2px 4px;
    margin-left: 10px;
}

.tanent-right-part2 {
    padding-bottom: 40px;
    margin-bottom: 50px;
    border-bottom: 1px solid #CBCBCB;
}

.tanent-rigth-part3 {
    font-family: Helvetica-Light;
    font-size: 12px;
    color: #B2B2B2;
}

.ta-right71 {
    font-family: Helvetica-Light;
    font-size: 12px;
    color: #666666;
}

.ta-right72 {
    font-family: Helvetica-Light;
    font-size: 12px;
    color: #B2B2B2;
}

.tanent-right7-part1 a {
    color: #666666;
    font-family: Helvetica-Light;
    font-size: 12px;
    border: 1px solid #666666;
    border-radius: 5px;
    padding: 8px 10px;
}

.tanent-right7-part1 {
    margin-bottom: 40px;
    float: left;
}

.tanent-right7-part2 i {
    border-radius: 100px;
    border: 1px solid #666666;
    color: #666666;
    margin: 0 5px;
    padding: 8px;
}

.tanent-left2-part12 {
    width: 100px;
    text-align: center;
    float: left;
}

    .tanent-left2-part12 img {
        width: 70px;
    }

    .tanent-left2-part12 a {
        color: #666666;
        font-family: Helvetica-Light;
        font-size: 12px;
    }

.tanent-bottom-a {
    margin-top: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #CBCBCB;
    display: inline-block;
    font-size: 16px;
}

    .tanent-bottom-a:hover {
        color: white;
    }

.tanent-left22 {
    color: #B2B2B2;
    font-family: Helvetica-Light;
    font-size: 12px;
}

.tanent-left2-part1 .fa-question {
    color: #CBCBCB;
    border: 1px solid #CBCBCB;
    border-radius: 100px;
    padding: 2px 4px;
    margin-top: 10px;
}

.tenant-date-input input {
    border: 0px solid;
    background-color: transparent;
    width: 90px;
}

.tenant-date-input i {
    color: #29AAE1;
}

.tenant-date-input {
    display: inline-block;
    border-radius: 10px;
    padding: 0 5px;
    border: 1px solid #29AAE1;
    margin-top: 10px;
}


.block
{
  background: rgba(255, 255, 255, 0.80);
  padding: 30px;
  height: auto;
  border-radius: 5px;
  padding-bottom: 10px;
}

.block-title
{
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold;
}

.notifications 
{
	  border: 1px solid #C0272D;
  color: #C0272D;
  margin-top: 0px;
}


.third-single-img
{
	border-radius: 100px;
    height: 75px;
	margin: 0 auto;
    padding-top: 17px;
	text-align: center;
    width: 75px;
}


.title-aligned
{
   display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 40%
}

.small-question
{
  color: #AEA3A3;
  border: 1px solid #AEA3A3;
  padding: 3px 5px;
  border-radius: 100px;
  margin-top: 20px;
  margin-right: -20px;
  background-color:transparent;
}

.right
{
	float:right;
}

.house_account
{
	border: 1px solid #F6921E;
  color: #F6921E;
  margin-top: 0px;
}

.active_service span
{
	  padding: 1px 4px;
  margin: 0 2px;
  color: white;
  border-radius: 100px;
  background-color: #4D4D4D;
  display: inline-block;
}

.tenant_settings
{
	  border: 1px solid #92278E;
  color: #92278E;
}

.services-settings
{
	border: 1px solid #18BA9A;
  color: #18BA9A;
}

.service-text
{
	font-size:15px;
	font-family:Helvetica-Light;
	color:black;
     padding-left: 0px;
     padding-right: 0px;
}

.start-service-btn
{
  border: 1px solid #09ADEC;
  color: #09ADEC;
  border-radius: 5px;
  font-family: Helvetica-Light;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0);
}

.pending-service-btn
{
  border: 1px solid #837A7A;
  color: #837A7A;
  border-radius: 5px;
  font-family: Helvetica-Light;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0);
}
.start-service-btn:hover
{
	border: 1px solid #837A7A;
 	color: #837A7A;
}

.pending-service-btn:hover
{
	border: 1px solid #000;
  color: #000;
}

.broadband
{
  border: 1px solid #19937B;
  color: #19937B;
}

.netflix
{
      border-color: #b6121d;
}

.sky
{
      border-color: #0E1058;
}

.television
{
  border: 1px solid #7863E0;
  color: #7863E0;
}

.water
{
	  border: 1px solid #3596DA;
      color:#3596DA;
}

.gas
{
   border: 1px solid #F29B11;
   color:#F29B11;
}

.coming-soon
{
	  border: 1px solid #949494;
  color: #949494;
}

.tenant-colored
{
	border:1px solid #92278E;
	color:white;
	background-color:#92278E;
	padding-top:23px;
	margin-top:0px;
}

.banner
{
    margin-top:5%;
}
@media (max-width: 450px)
{
    .banner
    {
      margin-top: 20%;
    }

    .block
    {
        margin-bottom:1em;
        
    }

    #card
    {
        margin-bottom:2em;

    }

    #card > aside
    {
        display:table;
    }

    .billing-body {
        width: max-content;
        width: -webkit-max-content;
        width: -moz-max-content;
    }
    .billing-body-aside1{
        float:none;
    }
}

#page-item > aside
{
    margin-bottom:1em;
}

#page-item > [class*="col-"]{
    padding-left: 0px !important;
}

.form-control:focus
{
	border-color:white  !important;
	outline:0;
	box-shadow: 0px 0px 0px 0px;
}
.input-icon
{
	background-color:white;
	border-right: 0px;
	color: #989898;
}
.calendar-input
{
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border: 0px;
}
.calendar-icon
{
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		border: 0px;
		color:#29AAE1;
}
.full-calendar
{
		border: 1px solid #29AAE1;
    	border-radius: 30px;
}
.search-label
{
	color: #666666;
	font-size: 12px;
	font-family: Helvetica-Light;
}

.backButton, #changeOfService, #tenantManagement, #houseEmails, #tenantAccount, #paymentDetails, #services, .body-header-back, #page-item > .col-sm-4
{
    cursor:pointer;
}

.sky > svg
{
  top: 7px;
  position: relative;
  fill:#0E1058;
}
/*Active Services CSS*/
.electricity-active
{
    color: white;
    border: 1px solid #E74B3C;
    background-color: #E74B3C;
    transition: 1s all;
}

.gas-active {
    border: 1px solid #F29B11;
    background-color: #F29B11;
    color:white;
}

.water-active {
    border: 1px solid #3596DA;
    background-color: #3596DA;
    color:white;
}

.broadband-active {
    border: 1px solid #19937B;
    color: white;
    background-color: #19937B;
}

.television-active {
    border: 1px solid #7863E0;
    color: white;
    background-color: #7863E0;
}

.telephone-active {
    border: 1px solid #19937B;
    color: white;
    background-color: #19937B;
}

.sky-active
{
    border-color: #0E1058;
    background-color: #0E1058;
}

.sky-svg-active
{
    fill:white;
}
/*Media Queries*/
@media (max-width: 400px) {
    #card
    {
        margin-bottom:5em;
    }
    .navi
    {
        padding:0;
    }

}

@media (max-width: 800px) {
    .banner
    {
            margin-top: 10%;
    }
    #back
    {
        width:100% !important;
    }
    #main
    {
        width:100% !important;
    }

    #notifications
    {
            transition: all 0.5s ease-out;
    }
    #services
    {
            transition: all 0.5s ease-out;
    }

}

@media (min-width: 800px) {
    .front {
        width: 100% !important;
    }
}

@media (max-width: 360px) {
    .tenant3 .navi ul li a {
        font-size: 11px;
    }

    .ta-ri-part1{
        width: 100%;
        margin-bottom: 20px;
    }
}