﻿@model DividaBill.Models.BankPayment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BankPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mandate.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mandate.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount_refunded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount_refunded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.charge_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charge_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reference)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Get", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
