﻿@using Mvc.JQuery.DataTables
@using Mvc.JQuery.DataTables.Models
@using Mvc.JQuery.DataTables.Serialization

@{
    ViewBag.Title = "Index";
    ViewData["TableTitle"] = "Payments";
    var vm = Html.DataTableVm("table-id", (DividaBill.SysOp.Controllers.BankPaymentsController h) => h.GetPayments(null));
    vm.TableTools = true;
    vm.Dom = "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>";
    vm.TableClass = "table table-striped table-bordered table-hover";
    vm.AutoWidth = true;
    //vm.TableTools = true;
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("DataTable", vm, ViewData)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dataTables")
    @Styles.Render("~/Content/dataTables")
}