﻿@{
    ViewBag.Title = "Partners";
    ViewBag.SubTitle = "Partners";
    ViewBag.Heading = "We only bill you your share of all the bills once a month.";
}

@section Header {
    <div class="grid">
        <div class="adjust_height toRight reset">
            <div id="page_info" class="padding">
                
                <h2>Simple bills for shared houses</h2>
            </div>
        </div><!-- /adjust_height -->

    </div><!-- grid -->
}


<div id="page_contents">

    <h1 style="text-align:center;">Bills Inclusive</h1>
    <section id="services_home">
        <div class="grid toRight reset">
            <div class="grid2 padding icons">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="612px" height="319.058px" viewBox="0 0 612 570" enable-background="" xml:space="preserve">
<g>
                <path fill="#454545" d="M510.799,280.611c0-112.927-91.873-204.799-204.799-204.799c-112.926,0-204.799,91.872-204.799,204.799
		c0,74.303,39.776,139.483,99.15,175.385l-32.789,65.936c-2.888,5.806,0.214,13.218,6.928,16.557l6.33,3.15
		c6.713,3.337,14.497,1.338,17.383-4.469l32.806-65.978c23.234,9.176,48.535,14.218,74.99,14.218
		c26.455,0,51.756-5.042,74.99-14.218l32.808,65.978c2.885,5.807,10.668,7.806,17.382,4.469l6.33-3.15
		c6.713-3.339,9.815-10.751,6.928-16.557l-32.79-65.936C471.023,420.095,510.799,354.914,510.799,280.611z M306,453.714
		c-95.449,0-173.103-77.653-173.103-173.103c0-95.448,77.654-173.102,173.103-173.102c95.448,0,173.103,77.654,173.103,173.102
		C479.103,376.061,401.448,453.714,306,453.714z"></path>
                <path fill="#454545" d="M434.323,50.465c-31.831-18.227-67.959-19.028-93.678-4.8l145.234,83.16
		C485.132,99.442,466.153,68.69,434.323,50.465z"></path>
                <path fill="#454545" d="M177.677,50.465c-31.832,18.225-50.809,48.977-51.557,78.36l145.234-83.16
		C245.635,31.438,209.508,32.239,177.677,50.465z"></path>
                <path fill="#454545" d="M397.141,315.123l-87.669-25.475l-58.967-98.281c-3.001-5.002-9.492-6.627-14.496-3.623
		c-5.003,3-6.626,9.491-3.624,14.495l61.1,101.833c1.371,2.284,3.554,3.968,6.112,4.71l91.65,26.633
		c0.983,0.285,1.976,0.423,2.952,0.423c4.58,0,8.8-3.003,10.142-7.622C405.968,322.613,402.745,316.751,397.141,315.123z"></path>
</g>
</svg>            </div>
            <div class="grid4 padding">
                <h3>Save Valuable Time</h3>
                <p>DividaBill makes offering bills inclusive simple. We make setting up, managing, and overseeing tenant change overs of bills-inclusive easy.</p>
            </div>
        </div>
    </section>

    <section id="services_home">
        <div class="grid toRight reset">
            <div class="grid2 padding icons">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="1763.889px" height="579.058px" viewBox="0 0 1763.889 579.058" enable-background="new 0 0 1763.889 579.058" xml:space="preserve">
<g>
                <g>
                <circle fill="#4E5050" cx="302.974" cy="177.045" r="139.804" />
                <path fill="#4E5050" d="M558.363,541.816H47.584c1.109-101.779,57.51-190.279,140.569-236.892    c29.91,28.392,70.33,45.812,114.82,45.812c44.499,0,84.931-17.42,114.829-45.812C500.863,351.547,557.264,440.047,558.363,541.816    z" />
	</g>
                <g>
                <circle fill="#4E5050" cx="881.944" cy="177.045" r="139.804" />
                <path fill="#4E5050" d="M1137.334,541.816H626.555c1.109-101.779,57.51-190.279,140.569-236.892    c29.91,28.392,70.33,45.812,114.82,45.812c44.499,0,84.931-17.42,114.829-45.812    C1079.834,351.547,1136.234,440.047,1137.334,541.816z" />
	</g>
                <g>
                <circle fill="#4E5050" cx="1460.915" cy="177.045" r="139.804" />
                <path fill="#4E5050" d="M1716.305,541.816h-510.779c1.109-101.779,57.51-190.279,140.569-236.892    c29.91,28.392,70.33,45.812,114.82,45.812c44.499,0,84.931-17.42,114.829-45.812    C1658.805,351.547,1715.205,440.047,1716.305,541.816z" />
	</g>
</g>
</svg>
            </div>
            <div class="grid4 padding">
                <h3>Greater Tenant Demand</h3>
                <p>Keep up with the increasing demand of tenants for bills-inclusive with our fully managed and simple service.</p>
            </div>
        </div>
    </section>

    <section id="services_home">
        <div class="grid toRight reset">
            <div class="grid4 padding">
                <h3>Manage Your Portfolio</h3>
                <p>Monitor and manage your entire portfolio online, including viewing metering data, which makes dealing with high usage simple.</p>
            </div>
        </div>
    </section>

    <hr />

    <h1 style="text-align:center;">DividaBill Referral</h1>

    <section id="services_home">
        <div class="grid toRight reset">
            <div class="grid4 padding">
                <h3>Manage Your Portfolio</h3>
                <p>Help simplify your tenants moving in, and earn a healthy commission in return.</p>
            </div>
        </div>
        <div class="grid toLeft">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="1311.131px" height="579.058px" viewBox="0 0 1311.131 579.058" enable-background="new 0 0 1311.131 579.058"
                 xml:space="preserve">
<g>
            <circle fill="#00A6EE" cx="349.647" cy="174.856" r="135.403" />
            <path fill="#00A6EE" d="M596.996,528.144H102.297c1.074-98.575,55.699-184.289,136.143-229.433
		c28.969,27.496,68.116,44.368,111.206,44.368c43.099,0,82.257-16.872,111.215-44.368
		C541.306,343.863,595.931,429.577,596.996,528.144z" />
</g>
<g>
            <circle fill="#4E5050" cx="812.039" cy="64.163" r="42.102" />
            <path fill="#4E5050" d="M888.95,174.015H735.128c0.334-30.651,17.318-57.303,42.332-71.34c9.008,8.55,21.18,13.796,34.578,13.796
		c13.401,0,25.577-5.246,34.582-13.796C871.633,116.714,888.619,143.366,888.95,174.015z" />
</g>
<g>
            <circle fill="#4E5050" cx="1070.365" cy="174.792" r="42.102" />
            <path fill="#4E5050" d="M1147.276,284.643H993.455c0.334-30.651,17.318-57.303,42.332-71.34c9.008,8.55,21.18,13.796,34.578,13.796
		c13.401,0,25.577-5.246,34.582-13.796C1129.959,227.342,1146.945,253.994,1147.276,284.643z" />
</g>
<g>
            <circle fill="#4E5050" cx="941.781" cy="396.048" r="42.102" />
            <path fill="#4E5050" d="M1018.692,505.899H864.871c0.334-30.651,17.318-57.303,42.332-71.34
		c9.008,8.549,21.18,13.795,34.578,13.795c13.401,0,25.577-5.246,34.582-13.795C1001.375,448.599,1018.361,475.251,1018.692,505.899
		z" />
</g>
<g>
            <g>
		
            <line fill="none" stroke="#4E5050" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" x1="715.775" y1="178.31" x2="709.967" y2="179.817" />

		
            <line fill="none" stroke="#4E5050" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="11.3561,11.3561" x1="698.975" y1="182.67" x2="572.568" y2="215.477" />

		
            <line fill="none" stroke="#4E5050" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" x1="567.072" y1="216.903" x2="561.264" y2="218.41" />
	</g>
</g>
<g>
            <g>
		
            <line fill="none" stroke="#4E5050" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" x1="955.754" y1="276.64" x2="949.754" y2="276.64" />

		
            <line fill="none" stroke="#4E5050" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="11.6349,11.6349" x1="938.12" y1="276.64" x2="571.622" y2="276.64" />

		
            <line fill="none" stroke="#4E5050" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" x1="565.804" y1="276.64" x2="559.804" y2="276.64" />
	</g>
</g>
<g>
            <g>
		
            <line fill="none" stroke="#4E5050" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" x1="880.174" y1="443.45" x2="874.51" y2="441.473" />

		
            <line fill="none" stroke="#4E5050" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="12.0664,12.0664" x1="863.118" y1="437.494" x2="572.625" y2="336.057" />

		
            <line fill="none" stroke="#4E5050" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" x1="566.928" y1="334.067" x2="561.264" y2="332.09" />
	</g>
</g>
</svg>
        </div>
    </section>

</div>
<!-- /page_contents -->

@section Scripts {
<script>
    $(document).ready(function () {
        $("header").animate({ height: "46px" }, 500);
        });
</script>
}