﻿@{
    ViewBag.Title = "Shared house bills - Divide student accommodation bills";
    ViewBag.SubTitle = "Simple bills for shared houses.";
    ViewBag.Heading = "We only bill you your share of all the bills once a month.";
    ViewBag.HeaderImage = "<video id=\"video\" preload=\"auto\" muted=\"true\" loop=\"loop\" canplay=\"false\" autoplay=\"\"><source src=\"/Content/Videos/v2/bg.webm\" type=\"video/webm\"><source src=\"/Content/Videos/v2/bg.mp4\" type=\"video/mp4\"></video>";
    ViewBag.HeadingElement = true;
    ViewBag.HeaderImageLocation = "https://az754941.vo.msecnd.net/Content/Images/v4/img1.jpg";
    ViewBag.MetaDescription = "DividaBill offer you an easy way to split your student or shared accommodation bills. Get your water, gas & electric bills sorted for the year in 2 minutes!";
    ViewBag.MetaKeywords = "shared house bills, student accommodation bills, house bills, accommodation bills, bill management, divide house bills, divide accommodation bills, DividaBill";
}
@section Header {
    <aside class='row video-cont'>
        @*<link rel="stylesheet" type="text/css" href="http://services.postcodeanywhere.co.uk/css/captureplus-2.30.min.css?key=gu69-wf86-wk56-fp92" />*@
        @*<script type="text/javascript" src="http://services.postcodeanywhere.co.uk/js/captureplus-2.30.min.js?key=gu69-wf86-wk56-fp92"></script>*@
        <video id="my-video" class="video" muted loop autoplay poster="https://az754941.vo.msecnd.net/Content/Images/v4/image-001.jpeg">
            <source src="~/Content/Videos/v4/homepage_1.mp4" type="video/mp4">
            <source src="~/Content/Videos/v4/homepage_1.ogv" type="video/ogg">
        </video>
        <div class="header feel-home">

            <div class='in-img'>
                <div class="bck">
                    <p class='header-title-onpic'>The smarter way of doing bills</p>
                    <br />
                    @*<p>
                            @Html.ActionLink("Get a Quote", "GetQuote", "Account", null, new { @class = "btn btn-lg btn-get-quote button-onpic" })
                        </p>
                            poster="https://az754941.vo.msecnd.net/Content/Images/v4/image-001.jpeg"
                        <br />
                        <p>
                            @Html.ActionLink("Why It Works", "WhyItWorks", null, new { @class = "btn btn-lg btn-why-works button-onpic" })
                            <br class="visible-xs-block">
                            <br class="visible-xs-block">
                            @Html.ActionLink("Sign Up", "SignUp", "Account", null, new { @class = "btn btn-lg btn-sign-up button-onpic" })
                        </p>*@
                    <form method="GET" action="~/Account/SignUp">
                        <div class="input-group col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 img-aligned ">
                            <div class="text-center">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div class="input-group input-group-lg ">
                                            <span class="input-group-addon" id="get_geo">
                                                <i class="fa fa-map-marker" id="marker"></i>
                                            </span>
                                            <input class="form-control postcode" style="text-transform:uppercase" name="postcode" id="quote_postcode" placeholder="Enter postcode" type="text" />
                                            <span class="input-group-btn btn-quote-group">
                                                <button class="btn btn-primary btn-lg " id="quote_search" type="submit"> Get a Quote </button>
                                            </span>
                                        </div>
                                        <div id="btn-quote">
                                            <button class="btn btn-primary btn-lg " id="quote_search" type="submit"> Get a Quote </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /input-group -->
                    </form>
                    <br /> <br />
                    <!-- <div class="row">
                        <button class='button-onpic btn btn-success' type="button">Live Chat</button>
                    </div>-->
                </div>
            </div>
        </div>
        <!--<div class='in-img active-onpic' style="padding: 10px;">

        </div>-->
        <!--$('video').get(0).pause();-->
        <!-- /video -->
    </aside>
}
<main class="">
    <br /> <br /> <br />
    <section class="row">
        <aside class="col-md-12 align">
            <h2 class="big-size">We Simplify Your Life</h2>
        </aside>
    </section>
    <br /> <br />
    <section class='container'>
        <section class="row">
            <aside class="col-sm-4 simplify-content">
                <div class="simplify-box move-in" height="525px" width="100%">
                    <div class="img-title">
                        <div class="oval">
                            <p class="home-img-title align">Move In</p>
                        </div>
                    </div>
                    <div class="img-info">
                        <p class="in-img-text">Moving home is exciting but a mounting to do list isn't. </p>
                        <p class="in-img-text">Registering with DividaBill shortens that list instantly as you tick off those household bills in minutes.</p>
                    </div>
                </div>
                <hr style="margin-right:5%; margin-left:5%;" />
            </aside>

            <aside class="col-sm-4 simplify-content">
                <div class="simplify-box get-settled" height="525px" width="100%">
                    <div class="img-title">
                        <div class="oval">
                            <p class="home-img-title align">Get Settled</p>
                        </div>
                    </div>
                    <div class="img-info">
                        <p class="in-img-text">Choose your entertainment and utility package at our competitive prices.</p>
                        <p class="in-img-text"> We'll certainly save you time and could save you £200</p>
                    </div>
                </div>
                <hr style="margin-right:5%; margin-left:5%;" />
            </aside>
            <aside class="col-sm-4 simplify-content">
                <div class="simplify-box live-simple" height="525px" width="100%">
                    <div class="img-title">
                        <div class="oval">
                            <p class="home-img-title align">Share Happy</p>
                        </div>
                    </div>
                    <div class="img-info">
                        <p class="in-img-text">Let DividaBill set up and manage your utilities so you can live the life you choose!</p>
                        <br />
                    </div>
                </div>
                <hr style="margin-right:5%; margin-left:5%;" />
            </aside>
        </section>
        <section class='row text-center'>
                @Html.ActionLink("Get a Quote", "SignUp", "Account", null, new { @class = "home-button" })
        </section>
    </section>
    <br /><br />
    <section class='grey'>
        <section class="row">
            <aside class="col-md-12 align">
                <h2 class="big-size"> How We Simplify Your Life? </h2>
            </aside>
        </section>
        <div id="OpinionsCarousel" class="carousel slide" data-ride="carousel" data-pause="false">
            <!-- Indicators -->
            <div class="change-indi-colour">
                <ol class="carousel-indicators carousel-friends">
                    <li data-target="#OpinionsCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#OpinionsCarousel" data-slide-to="1"></li>
                    <li data-target="#OpinionsCarousel" data-slide-to="2"></li>
                    <li data-target="#OpinionsCarousel" data-slide-to="3"></li>
                    <li data-target="#OpinionsCarousel" data-slide-to="4"></li>
                    <li data-target="#OpinionsCarousel" data-slide-to="5"></li>
                    <li data-target="#OpinionsCarousel" data-slide-to="6"></li>
                </ol>
            </div>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <section class="row">
                        <aside class='col-sm-3 col-sm-offset-1 hidden-xs'>
                            <img src="https://az754941.vo.msecnd.net/Content/Images/v4/Ref/JadeRef.jpg?width=100&height=100&mode=max" width="170px" height="170px" class='img-circle img-aligned'>
                        </aside>
                        <aside class="col-sm-7">
                            <br /> <br />
                            <p class='par'>Managing the bills is one of the most stressful parts of sharing a house. Thanks to DividaBill our bills were taken care of at the click of a button. This meant less arguments and more time enjoying the good things in life!</p>
                            <br />
                            <p class='par'>Jade – Nottingham University </p>
                        </aside>

                    </section>
                </div>

                <div class="item">
                    <section class="row">
                        <aside class='col-sm-3 col-sm-offset-1 hidden-xs'>
                            <img src="https://az754941.vo.msecnd.net/Content/Images/v4/Ref/JoRegUniPortsmouth.jpg?width=200&height=200&mode=max" class='img-circle img-aligned' width="170px" height="170px">
                        </aside>
                        <aside class="col-sm-7">
                            <br /> <br />
                            <p class='par'>Living with friends can be fun but there are lots of problems and we fell out over the bills. DividaBill stops that happening and takes the awkwardness away when asking friends for money</p>
                            <br />
                            <p class='par'>Jo – Portsmouth University </p>
                        </aside>
                    </section>
                </div>

                <div class="item">
                    <section class="row">
                        <aside class='col-sm-3 col-sm-offset-1 hidden-xs'>
                            <img src="https://az754941.vo.msecnd.net/Content/Images/v4/Ref/ValRef.jpg?width=200&height=200&mode=max" class='img-circle img-aligned' width="170px" height="170px">
                        </aside>
                        <aside class="col-sm-7">
                            <br /> <br />
                            <p class='par'>I like my job but I am busy and don’t have much free time, I especially don’t want to spend it doing my bills. Now I can spend my free time how I want and not doing chores!</p>
                            <br />
                            <p class='par'>Val – Accountant in Reading</p>
                        </aside>
                    </section>
                </div>

                <div class="item">
                    <section class="row">
                        <aside class='col-sm-3 col-sm-offset-1 hidden-xs'>
                            <img src="https://az754941.vo.msecnd.net/Content/Images/v4/Ref/JoshRef.jpg?width=200&height=200&mode=max" class='img-circle img-aligned' width="170px" height="170px">
                        </aside>
                        <aside class="col-sm-7">
                            <br /> <br />
                            <p class='par'>I went back to university to do a further degree and bills still caused problems for me. With DividaBill I can enjoy my final year as a student!</p>
                            <br />
                            <p class='par'>Alex – University of Oxford</p>
                        </aside>
                    </section>
                </div>
                <div class="item">
                    <section class="row">
                        <aside class='col-sm-3 col-sm-offset-1 hidden-xs'>
                            <img src="https://az754941.vo.msecnd.net/Content/Images/v4/Ref/RachNaRef.jpg?width=200&height=200&mode=max" class='img-circle img-aligned' width="170px" height="170px">
                        </aside>
                        <aside class="col-sm-7">
                            <br /> <br />
                            <p class='par'>I've always been responsible for organising bills in the house, but this caused arguments and took up so much of my time. I found DividaBill so easy to set up and they handle everything including switchovers which means I have more time for more important things!</p>
                            <br />
                            <p class='par'>Rach Na – Teacher in London</p>
                        </aside>
                    </section>
                </div>
                <div class="item">
                    <section class="row">

                        <aside class='col-sm-3 col-sm-offset-1 hidden-xs'>
                            <img src="https://az754941.vo.msecnd.net/Content/Images/v4/Ref/AlexRefUniBristol.jpg?width=200&height=200&mode=max" class='img-circle img-aligned' width="170px" height="170px">
                        </aside>
                        <aside class="col-sm-7">
                            <br /> <br />
                            <p class='par'>With all of my hobbies and job I don’t get much time off. DividaBill means that I don’t have to think about my bills and I don’t have to make time for them</p>
                            <br />
                            <p class='par'>Alex – University of Bristol</p>
                        </aside>

                    </section>
                </div>
                <div class="item">
                    <section class="row">
                        <aside class='col-sm-3 col-sm-offset-1 hidden-xs'>
                            <img src="https://az754941.vo.msecnd.net/Content/Images/v4/Ref/GeorgieRef.jpg?width=200&height=200&mode=max" class='img-circle img-aligned' width="170px" height="170px">
                        </aside>
                        <aside class="col-sm-7">
                            <br /> <br />
                            <p class='par'>I often work night shifts or long days so I am never around when most companies are open. With DividaBill I can do everything online for all of the bills so I don’t have to worry</p>
                            <br />
                            <p class='par'>Georgie – Nurse in London</p>
                        </aside>
                    </section>
                </div>
            </div><!-- End of carousel-->
        </div>
    </section>
    <br /> <br />
   
</main>
<!-- /call_to_actions -->
@section Scripts {
    @*@Scripts.Render("~/bundles/postcodefinder")*@
    @*@Scripts.Render("~/bundles/autocomplete")*@
    @Scripts.Render("~/bundles/postcodefinderOnly")

    <script>
        (function() {
            ga('send', 'pageview', '/Home');
            var video = document.getElementById("my-video");
            video.addEventListener("canplay", function() {
                video.play();
                $('.active-onpic').toggleClass('active-onpic', 450)
                $('#header-title-onpic').css('color', '');
            });

        })();

    </script>
}
