﻿<div id="main-content">



    <article id="post-981" class="post-981 page type-page status-publish hentry">


        <div class="entry-content">
            <div class="et_pb_section et_pb_fullwidth_section" style="background-color:#6aceb6;">
                <section class="et_pb_fullwidth_header et_pb_bg_layout_dark et_pb_text_align_left">
                    <div class="et_pb_row">
                        <h1>Interested in Virgin Media?</h1>
                        <p class="et_pb_fullwidth_header_subhead">Please send us your details below and we will be in touch about the latest offers with Virgin Media in Southampton</p>
                    </div>
                </section>

            </div> <!-- .et_pb_section --><div class="et_pb_section">
                <div class="et_pb_row">
                    <div class="et_pb_column et_pb_column_4_4">
                        <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_left">

                            <div class="wpcf7" id="wpcf7-f980-p981-o1">
                                @using (Html.BeginForm("Media2", "Home", FormMethod.Post, new { @class = "form-horizontal well wpcf7-form", role = "form", @id = "form1" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <p>
                                        Your Name (required)<br>
                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="Name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span>
                                    </p>
                                    <p>
                                        Your Email (required)<br>
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="Email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span>
                                    </p>
                                    <p>
                                        Your Mobile number (required)<br>
                                        <span class="wpcf7-form-control-wrap Mobile"><input type="tel" name="Phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false"></span>
                                    </p>
                                    <p>
                                        The Address that you are interested in using a media provider (required)<br>
                                        <span class="wpcf7-form-control-wrap your-message"><textarea name="Address" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></textarea></span>
                                    </p>
                                    <p>
                                        The approximate date that you would like to start using a media provider (required)<br>
                                        <span class="wpcf7-form-control-wrap Date"><input type="text" name="RequestDate" value="" size="40" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-required" aria-required="true"> </span><br>
                                    </p>
                                    <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit"></p>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                }
                            </div>

                        </div> <!-- .et_pb_text -->
                    </div> <!-- .et_pb_column -->
                </div> <!-- .et_pb_row -->

            </div> <!-- .et_pb_section -->
        </div> <!-- .entry-content -->


    </article> <!-- .et_pb_post -->



</div>