﻿@{
    ViewBag.Title = "Privacy - DividaBill";
    ViewBag.SubTitle = "Privacy Policy";
    ViewBag.Heading = "We only bill you your share of all the bills once a month.";
	ViewBag.MetaDescription = "DividaBill make it our prerogative to protect your personal data. Read our privacy statement.";
	ViewBag.MetaKeywords = "privacy, privacy statement, DividaBill";
}
@section Header {
    <div id="image1"></div>
}
<main class="">
    <section class="container">
        <br /><br />
        <div class="row">
            <h1 class="big-size text-center"> Privacy Policy </h1> <hr />
        </div> <br /><br />
        <p class="par">Your privacy is extremely important to us. We recognise that when you choose to provide us with information about yourself, you trust us to act in a responsible manner. This policy is intended to give you confidence in the privacy and security of the personal information we obtain from you.</p> <br />
        <p class="par">By using our website or by joining the DividaBill service, you consent to the collection, use and transfer of your information under the terms of this policy.</p>


        <br /> <h3 class="about-header">Information that we collect</h3> <hr /> <br />
        <p class="par">We collect information to provide better services and better websites to all of our users.</p>
        <ul>
            <li>
                We collect information in two ways:
                <ul>
                    <li>For example, our services require you to sign up and when you do, we'll ask for your personal information such as your name, email address, telephone number and payment details.</li>
                    <li>If you give us sensitive personal information about yourself or other people living in your property (such as health details or details of any criminal convictions of members of your household), you agree that we may use this information in the way set out in this policy.</li>
                </ul>
            </li>
            <li>
                Information that we get from your use of our services and websites
                We may collect information about the services and websites that you use and how you use them, such as where you visit on our websites. This information includes:
                <ul>
                    <li>
                        Log information
                        When you use our websites, we may automatically collect and store certain information in our server logs including details of your IP address.
                    </li>
                    <li>
                        Cookie and anonymous identifiers
                        We use various technologies to collect and store information when you visit our websites, which may include one or more cookies or anonymous identifiers sent to your device. We also use cookies and anonymous identifiers when you interact with services that we use through third party vendors.
                    </li>
                </ul>
            </li>
        </ul>

        <br /> <h3 class="about-header">Information about someone else</h3> <hr /> <br />
        <p class="par">If you give us information on behalf of someone else, you confirm you have given them the information set out in this policy, and that they have given permission for us to use their personal information in the way we describe in this policy.</p>

        <br /> <h3 class="about-header">How we use information that we collect</h3> <hr /> <br />
        <p class="par">We or our agents may use information we hold about you to:</p>
        <br />
        <ul>
            <li>provide, maintain, protect and improve our services and websites</li>
            <li>provide the services you have asked for, which may include providing information to members of your family or household or anyone acting on your behalf or other people who may be interested (such as landlords or letting agents)</li>
            <li>develop new services and websites</li>
            <li>protect Soleus and our users</li>
            <li>provide any loyalty, rewards and promotional schemes</li>
            <li>contact you or offer you accounts, services and products from us or our selected partners</li>
            <li>create statistics, test computer systems, analyse customer information, create profiles and create marketing opportunities</li>
            <li>help prevent and detect debt, fraud or loss</li>
            <li>help us protect you and your households' health, safety and security</li>
            <li>help us train our staff</li>
            <li>help us sell one or more of our businesses</li>
            <li>provide information for legal or regulatory purposes</li>
            <li>provide information as part of current or future legal action</li>
            <li>monitor and analyse data from your gas or electricity (or both) smart meters</li>
            <li>make decisions about you, your character and how likely we think you are able to pay for your services</li>
            <li>give you more relevant adverts through third party vendors on websites across the internet</li>
            <li>allow third party vendors to use cookies to serve adverts based on your past visits to our websites</li>
            <li>improve your user experience and the overall quality of our services</li>
        </ul>
        <br />
        <p class="par">We may monitor and record any communications we have with you, including telephone and email conversations, to make sure we are providing excellent customer service and meeting our regulatory and legal responsibilities.</p> <br />
        <p class="par">We will ask for your consent before using your personal information for a purpose other than those set out in this policy.</p>

        <br /> <h3 class="about-header">Accessing and updating your personal information</h3> <hr /> <br />
        <p class="par">We aim to provide you with access to your personal information through myDividaBill. If that information is wrong, we strive to give you ways to update it quickly or to delete it – unless we have to keep that information for legitimate business or legal purposes. When updating your personal information, we may ask you to verify your identity before we can act on your request.</p> <br />
        <p class="par">We may reject requests that are unreasonably repetitive, require disproportionate technical effort (for example, developing a new system or fundamentally changing an existing practice), risk the privacy of others or would be extremely impractical (for instance, requests concerning information residing on backup tapes).</p> <br />
        <p class="par">Any disclosure of personal information will be strictly controlled and made fully in accordance with current UK legislation, in particular the UK Data Protection Act 1998 (the "Act"). For the purpose of the Act, the data controller is:</p> <br />

        <p class="par">
            Soleus Ltd. <br>
            142 Lodge Road <br>
            Southampton, Hampshire <br>
            SO17 6QR <br>
        </p>
        <br />
        <p class="par">Where we provide information access and correction through your online portal, we will do so free of charge. For any other personal information we hold about you, you can obtain access to this by sending a cheque for £10 (to cover administration cost for manually collating this information) made payable to Soleus Ltd along with a letter confirming your request to the above address.</p>

        <br /> <h3 class="about-header">Information that you share</h3> <hr /> <br />
        <p class="par">Many of our websites let you share information with others. Remember that when you share information publicly, it may be indexed by search engines.</p>
        <br /> <h3 class="about-header">Information that we share</h3> <hr /> <br />
        <p class="par">We do not share personal information with companies, organisations and individuals outside Soleus unless one of the following circumstances apply.</p>
        <br />
        <ul>
            <li>
                With your consent
                We will share personal information with companies, organisations or individuals outside Soleus when we have your consent to do so.
            </li>

            <li>
                For external processing
                We provide personal information to our affiliates or other trusted businesses or persons to process it for us, based on our instructions and in compliance with this policy and other confidentiality and security measures.
            </li>

            <li>
                For legal reasons
                We will share personal information with companies, organisations or individuals outside of Soleus if we have a belief in good faith that access, use, preservation or disclosure of the information is reasonably necessary to:
                <ul>
                    <li>Meet any applicable law, regulation, legal process or enforceable government request</li>
                    <li>Enforce our terms and conditions, including investigation of potential violations</li>
                    <li>Detect, prevent or otherwise address fraud, security or technical issues</li>
                    <li>Protect against harm the rights, property or safety of Soleus, our users or the public, as required or permitted by law</li>

                </ul>
            </li>

            <li>
                With credit reference agencies
                We may share information on how you manage your DividaBill account with credit reference agencies.
            </li>

            <li>
                With other suppliers
                We may share information with your previous or new suppliers to allow us to transfer your services (such as information about meter readings and equipment or charges you owe your previous supplier).
            </li>

            <li>
                With parties interested in your meters
                If we suspect someone has committed fraud or stolen energy by tampering with your electricity or gas meters or by diverting the energy supply, we will share this information with Ofgem and other people who are interested (such as energy suppliers, landlords and housing associations).
            </li>

            <li>
                With organisations that may be able to help you
                If we believe that you (or a member of your household) need extra care (for example, because of your age, health, disability or financial circumstances), we may record and share this information with:
                <ul>
                    <li>social services, charities, health care and other support organisations, if we believe at any time that they may be able to help you, or the other members of your household, by making sure there is a gas or electricity supply to your home</li>
                    <li>other energy suppliers if we believe you are considering changing supplier</li>
                    <li>the relevant gas transporter, metering agents or network operator</li>

                </ul>
            </li>


        </ul>

        <p class="par">If Soleus is involved in a merger, acquisition or asset sale, we will continue to ensure the confidentiality of any personal information and give affected users notice before personal information is transferred or becomes subject to a different privacy policy.</p>

        <br /> <h3 class="about-header">Credit Reference and Fraud Prevention Agencies</h3> <hr /> <br />
        <p class="par">When you join DividaBill, we may check your details with one or more credit reference and fraud prevention agencies to help us decide whether there is a risk that you may not pay your bills and also to help us make decisions about the goods and services we can offer you.</p> <br />
        <p class="par">We may search at credit reference and fraud prevention agencies for information about you and all the people you are applying with. If you are providing information about other people on a joint application, you must make sure they agree that we can use their information to do this. If you give us false or inaccurate information and we suspect fraud, we will pass your details to credit reference and fraud prevention agencies. Law enforcement agencies (such as the police and HM Revenue & Customs) may receive and use this information.</p> <br />
        <p class="par">We and other organisations may also see and use information about you that the credit reference and fraud prevention agencies give us to:</p> <br />

        <ul>
            <li>check details on applications you make for credit and credit-related services</li>
            <li>check your identity</li>
            <li>prevent and detect fraud and money laundering</li>
            <li>manage credit and credit-related accounts or services</li>
            <li>recover debt</li>
            <li>check details on proposals and claims for all types of insurance</li>
            <li>check details of employees and people applying for jobs with us</li>

        </ul>
        <br />
        <p class="par">When credit reference agencies receive a search from us, they will record this on your credit file whether your application is successful or not.</p><br />
        <p class="par">If you have an account with us, we may give details of it and how you manage it to credit reference agencies. If you have an account and do not repay money you owe in full or on time, credit reference agencies will record this debt. They may give this information to other organisations and fraud prevention agencies to carry out similar checks, find out where you are and deal with any money you owe. The credit reference agencies keep records for six years after your account has been closed, you have paid the debt or action has been taken against you to recover the debt.</p> <br />
        <p class="par">We and other organisations may see and use information from other countries that is recorded by fraud prevention agencies.</p> <br />
        <p class="par">If you want to see what information credit reference and fraud prevention agencies hold about you, you can contact the following agencies in the UK. The information they hold may not be the same, so it is worth contacting them all. They will charge you a small fee.</p> <br />

        <div class="reset" style="margin:4rem 0;">
            <div class="grid3">
                Callcredit Ltd<br>
                Consumer Services Team<br>
                PO Box 491<br>
                Leeds<br>
                LS3 1WZ <br>
                Phone: 0845 366 0071<br>
                www.callcredit.co.uk<br>
            </div>
            <div class="grid3">
                Experian Ltd<br>
                Customer Support Centre <br>
                PO Box 9000<br>
                Nottingham<br>
                NG80 7WF<br>
                Phone: 0844 481 8000<br>
                www.experian.co.uk<br>

            </div>
        </div>

        <br /> <h3 class="about-header">Where we store your personal data</h3> <hr /> <br />
        <p class="par">The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area. It may also be processed by staff operating outside the European Economic Area who work for us or for one of our agents or suppliers. Such staff may be engaged in, among other things, the fulfilment of your order, the processing of your payment details and the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this policy.</p>

        <br /> <h3 class="about-header">Your rights</h3> <hr /> <br />
        <p class="par">You have the right to ask us not to process your personal data for marketing purposes. You can exercise this right by writing to us at Soleus Ltd, 142 Lodge Road, Southampton, Hampshire, SO17 6QR.</p> <br />
        <p class="par">Our site may, from time to time, contain links to and from the websites of our selected partners, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.</p>

        <br /> <h3 class="about-header">Cookies</h3> <hr /> <br />
        <p class="par">Cookies are small text files that are placed on your computer by websites that you visit or emails that you open. They are used extensively in order to make websites work, or work more efficiently as well as provide statistical information to owners of the website. By using our services or websites you agree to the use of cookies as set out below. For more details on how businesses use cookies on websites, please visit www.allaboutcookies.org</p> <br />
        <p class="par">We use different types of cookie to run our websites. Some or all of the cookies may be stored in your browser. You can view and manage cookies in your browser (though browsers for mobile devices may not offer this visibility).</p> <br />
        <p class="par">You can find an overview of the various types of cookies used by Soleus and our third party vendors in the table below.</p><br />

        <table>
            <thead>
                <tr>
                    <th style="width:20%">Category to use</th>
                    <th>Example</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Processes</th>
                    <td>
                        <p class="par">Process cookies help make the website work and deliver services that the website visitor expects</p>
                    </td>
                </tr>
                <br />
                <tr>
                    <th>Session state</th>
                    <td>
                        <p class="par">Session state cookies help us improve our users' browsing experience</p>
                    </td>
                </tr>
                <br />
                <tr>
                    <th>Performance</th>
                    <td>
                        <p class="par">Performance cookies help us to analyse and monitor how our websites are performing. These cookies do not let us identify users. We use this information to maintain, operate and continually improve our websites and services.</p>
                    </td>
                </tr>
                <tr>
                    <th>Social Networks</th>
                    <td>
                        <p class="par">Social network cookies allow us to use social networks on our websites to help you to interact and share content through social media.</p>
                        <p class="par">DividaBill uses Twitter. For more information, see Twitter Privacy Policy</p>
                        <p class="par">DividaBill uses Facebook. For more information, see Facebook Privacy Policy</p>

                    </td>
                </tr>
                <tr>
                    <th>Advertising / Retargeting</th>
                    <td>
                        <p class="par">Advertising cookies let us make advertising more engaging for our users using third party vendors. Some common applications of cookies are to select advertising based on what's relevant to a user; to improve reporting on campaign performance and to avoid showing adverts that the user has already seen.</p>
                        <p class="par">Retargeting cookies allow us to advertise to visitors to our websites via third party vendors. Third party vendors will show our adverts on sites across the internet and use cookies to serve adverts based on past visits to our websites.</p>
                        <p class="par">DividaBill uses Google Display Advertising and you can learn more about what cookies Google uses here.</p>
                    </td>
                </tr>
                <tr>
                    <th>Analytics</th>
                    <td>
                        <p class="par">We use Google Analytics which is Google's enterprise-class web analytical tool that helps us to understand how our visitors engage with our website. It also sets cookies on the domain of our websites that you are visiting. It collects information anonymously and report website trends without identifying individual visitors. Learn more about about how Google safeguards your data here.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <p class="par">Although cookies can be used to track movements across and between websites, they do so without identifying any personal or confidential information about existing or potential DividaBill customers.</p> <br />
        <p class="par">If you delete your cookies, some features of our websites may not function as a result. You can find more information on controlling and/or deleting your cookies at www.allaboutcookies.org.</p><br />

        <br /> <h3 class="about-header">Transparency and choice</h3> <hr /> <br />
        <p class="par">People have different privacy concerns. Our goal is to be clear about what information we collect, so that you can make meaningful choices about how it is used. For example, you can:</p> <br />

        <ul>
            <li>opt out of Google Analytics by using the Google Analytics Opt-out Browser Add-on</li>
            <li>opt out of third party vendors' use of behavioural advertising by visiting the Network Advertising Initiative opt-out page and Your Online Choices</li>
            <li>you can use the Google Ads Preferences Manager to manage the Google adverts you see</li>

        </ul>
        <br />
        <p class="par">You may also set your browser to block all cookies, including cookies associated with our services, or to indicate when a cookie is being set by us. However, it's important to remember that many of our services may not function properly if your cookies are disabled.</p><br />

        <br /> <h3 class="about-header">Information security</h3> <hr /> <br />
        <p class="par">We work hard to protect DividaBill and our users from unauthorised access to or unauthorised alteration, disclosure or destruction of information that we hold. In particular:</p> <br />
        <ul>
            <li>we encrypt all website traffic as standard</li>
            <li>we review our information collection, storage and processing practices, including physical security measures, to guard against unauthorised access to our systems</li>
            <li>we restrict access to personal information to DividaBill employees, contractors and agents who need to know that information in order to process it for us and who are subject to strict contractual confidentiality obligations. They may be disciplined or their contract terminated if they fail to meet these obligations</li>

        </ul> <br />

        <p class="par">Whilst we will always work hard to protect your information, we cannot always guarantee the security of your data and when you provide us with your personal information, it is at your own risk.</p> <br />
        <p class="par">We strongly recommend that you use the latest version of your web browser and ensure your anti-virus software is kept fully updated in order to protect yourself online.</p><br />
        <p class="par">DividaBill will never send you any emails which request your security information or login details. If you receive an email that appears to be from us that you suspect is fraudulent, do not click on any links contained within the email or provide any details whatsoever.</p><br />
        <p class="par">Where we have given you a password which enables you to access certain parts of our site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.</p>

        <br /> <h3 class="about-header">Application</h3> <hr /> <br />
        <p class="par">This policy applies to all of the services and websites offered by DividaBill.</p><br />
        <p class="par">This policy does not apply to services or websites offered by Soleus, other companies or individuals and this policy does not cover the information practices of other companies and organisations that advertise our services and that may use cookies, pixel tags and other technologies.</p><br />
        <br /> <h3 class="about-header">Policy changes</h3> <hr /> <br />
        <p class="par">Should this policy change, we'll inform you of the changes by posting an updated policy on our websites.</p><br /><br />
    </section><!-- privacy / -->
</main>
<!-- /page_contents -->
