﻿@{
    ViewBag.Title = "Terms of Use - DividaBill";
    ViewBag.SubTitle = "Terms of use";
    ViewBag.Heading = "Before contacting us, please browse our FAQ.";
	ViewBag.MetaDescription = "Terms & Conditions - Read our Terms & Conditions - DividaBill.";
	ViewBag.MetaKeywords = "terms & conditions, DividaBill";
}
@section Header {
    <div id="image1"></div>
}
<main>
    <section class='row'>
        <aside class='col-md-10 col-md-offset-1'>
            <br /> <br />
            <h1 class="big-size align"> Terms of Use </h1><br /> <hr />
        </aside>
    </section>
    <br /> <br /> <br />
    <section class='row'>
        <section class='col-md-10 col-md-offset-1'>
            <p class="par">
                The following are the terms and conditions of use upon which we, DividaBill, the trading name of Soleus Ltd. ("Soleus"), make available
                to you at the website located at the URL www.dividabill.co.uk ("the Site"). All users of the Site agree to be bound by these terms of use ("Terms of Use"). If you do not wish to be bound by these Terms of Use then you should not access or use the Site.
            </p> <br />
            <p class="par">Your use of the Site is also governed by our Privacy & cookies policy ("Privacy & cookies policy"), the provisions of which are hereby incorporated within these Terms of Use.</p> <br />
            <p class="par">Soleus is a limited company registered in England and Wales under company 08653447 and has our registered office at Soleus, 142 Lodge Road, Southampton, Hampshire, SO17 6QR. We are registered as a data controller in the Data Protection Register as required by the Data Protection Act 1998. </p> <br />
            <p class="par"> "Content" means any and all material contained on the Site. <br /> "You" means any user of the Site. </p><br />

            <h2 class="about-header">1. Nature of the Site</h2><hr /> <br />
            <p class="par">1.1 You acknowledge and agree that You will be liable for any charges from third parties incurred by you during any use by You of the Site. </p> <br />
            <p class="par">1.2 All information contained on the Site is owned by or licensed to Soleus (and/or its associates, assignees, licensees or sub-licensees).Accordingly, you acknowledge and agree that the copyright in the text, artwork, graphics and images on the Site is (except where expressly stated otherwise) owned by Soleus. </p> <br /> <br />

            <h2 class="about-header">2. Use of the Site</h2><hr /> <br />
            <p class="par">2.1 In addition to your obligations pursuant to Clause 3 below, you undertake that you will not use the Site: </p> <br />
            <ul style="list-style:none">
                <li class="par"> - to send a message or communication which is offensive, abusive, defamatory, obscene, menacing or illegal;</li>
                <li class="par">- to cause annoyance, inconvenience or needless anxiety to, or breach the rights of any other person;</li>
                <li class="par">- to perform any illegal activity;</li>
                <li class="par">- to receive, use, possess, post, transmit or publish obscene material; or</li>
                <li class="par">- to upload, post, publish or transmit any Content, information or software which is protected by copyright or other proprietary right with out the prior written consent of its owner;</li>
                <li class="par">- to introduce viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful;</li>
                <li class="par">- to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site; or</li>
                <li class="par">- to attack our site via a denial-of-service attack or to distribute a denial-of service attack.</li>
            </ul> <br />
            <p class="par">2.2 You agree not to attempt to reverse engineer, decipher, decompile or disassemble the Site or any Content or otherwise reduce it to human readable form or knowingly allow others to do so, except to the extent that applicable laws specifically prohibit such restriction. <br /><br /> You may not modify any Content or create derivative works of any Content. You also may not transmit or distribute any Content electronically or via the internet. </p> <br />
            <p class="par">2.3 You expressly agree that Soleus may use any information disclosed by you pursuant to your use of the Site (including, without limitation, your name and address), in accordance with those purposes set out on the Site associated with such disclosure. </p> <br /> <br />
            <h2 class="about-header">3. Intellectual Property Rights, Warranties and Indemnity</h2><hr /><br />
            <p class="par">3.1 You acknowledge and agree that all intellectual property rights in all Content, and software (if any), that is made available to view and/or download in connection with the Site remains the property of Soleus, its associated companies and/or thirdparties.  </p> <br />
            <p class="par">Such intellectual property rights include (without limitation) copyrights, database rights, registered designs, unregistered design rights, registered trade marks, passing-off rights or rights protected under unfair competition laws. All such rights are reserved. </p> <br />
            <p class="par">3.2 You undertake: </p> <br />
            <ul style="list-style:none">
                <li class="par"> - that You will only view and use the Site for Your own private purpose and will not publish, reproduce, store or retransmit any of the Content; not to use the Site for any unlawful or unauthorised purpose;</li>
                <br />
                <li class="par">- not to use or interfere with the Site other than in accordance with these Terms of Use and (without limitation) not in any way so that all or part of the Site or any Content is or could be interrupted, reproduced, stored, retransmitted, published, damaged, rendered less efficient, corrupted or in anyway impaired;</li>
                <br />
                <li class="par">- not to use the Site or the Content in any manner which constitutes an infringement of any third party rights (including but not limited to rights of copyright, trade mark or confidentiality);</li>
                <br />
                <li class="par">- not to use the Site or the Content to transmit any material for the purposes of publicity, promotion and/or advertising without the prior written consent of Solues;</li>
                <br />
                <li class="par">- that in the event You have right, claim, or action against any other user or other third party arising out of the use of the Site You shall pursue such right, claim or action independently of and without recourse to Soleus;</li>
                <br />
                <li class="par">- that all intellectual property rights whatsoever in any Content and the Sites shall remain vested in Soleus at all times; and acknowledge that Soleus has no obligation to provide the Site or any Content or to ensure You are able to use and/or access the Site or any Content.</li>
                <br />
                <li class="par"></li>
            </ul>
            <p class="par">3.3 You agree to indemnify and keep indemnified Soleus (and all associated companies of Soleus) against all claims, liabilities, damages, costs and expenses including legal fees arising out of any breach or misuse of any Content, the Site or any breach of any of Your obligations set out in these Terms of Use. </p> <br />
            <h2 class="about-header">4. Exclusion of Liability </h2><hr /><br />
            <p class="par">4.1 Soleus provides the Site and the Content on an "as is" basis and makes no warranty or representation about the availability, completeness, accuracy, satisfactory quality, merchantability and/or fitness of the same for a particular purpose. </p>
            <p class="par">4.2 Advertisers and advertisements appearing (by way of, for example, banners and hyperlinks) upon the Site have not been checked by Soleus and any information submitted or any use and/or reliance placed by You upon the same is entirely at Your risk. </p>
            <p class="par"> 4.3 Further, Soleus makes no warranty or representation about:</p> <br />
            <ul class="par" style="list-style:none">
                <li class="par">-the reliability or technical efficiency of the Site; </li>
                <br />
                <li class="par">-the security measures contained on the Site and in particular the protection afforded to any information and data that you may disclose to Soleus by way of your use of the Site; </li>
                <br />
                <li class="par">- the suitability of the advertisements on the Site or the other web sites which may be accessible (directly or indirectly) from the Site.</li>
                <br />
            </ul>
            <p class="par">4.4 Except for death or personal injury or for fraudulent misrepresentation, Soleus excludes all liability (so far as is permitted by law) in respect of: </p> <br />
            <ul class="par" style="list-style:none">
                <li class="par">any advertisements or other web sites which can be accessed directly or indirectly via the Site; </li>
                <br />
                <li class="par">any opinions and expressions made by third parties which can be accessed via the Site or which are contained in any Content; </li>
                <br />
                <li class="par">any damage to You, Your computer hardware, software or other material or equipment resulting from Your accessing and/or using the Site and/or any Content; and </li>
                <br />
                <li class="par">any direct, indirect or consequential loss or damage incurred by any user in connection with our Site or use of our Site. </li>
                <br />
            </ul>
            <p class="par"> 4.5 Soleus does not warrant that Your use of the Site or any Content will be uninterrupted or that the operation of the Site or any Content will be error free, virus free or secure, or that the Site or any Content and the functions of the Site or any Content will be merchantable and will meet your requirements, or that no third parties' rights are infringed thereby.</p> <br />
            <p class="par">4.6 The information, Content, products and services (and related graphics) included in or available through the Site may include inaccuracies or typographical errors. Changes to the Site may be made from time to time. We make no representations and give no warranties (including implied warranties) whatsoever relating to the suitability, reliability, availability, accuracy, timeliness, merchantability, fitness for a particular purpose, lack of viruses or other harmful components of the information, Content, products and services (and related graphics) contained in the Site. </p> <br />
            <p class="par">4.7 Soleus shall have no obligation to maintain any Content, products and/or services available at any time through the Site. </p> <br />
            <p class="par"> 4.8 All brand names, product names and/or service names used on the Site and within any Content are trade marks, trade names, service marks or copyrights of their respective holders. Any use of any such brand name, product name and/or service name without the express, prior, written consent of the relevant rights holder may constitute an infringement of that rights holder's rights and Soleus gives no permission for the use of any such item in any way whatsoever.</p> <br />
            <h2 class="about-header">5. Changing these Terms of Use</h2><hr /><br />
            <p class="par"> 5.1 Soleus may amend or vary these Terms of Use (including the Privacy policy) from time to time by posting an amended version of these Terms of Use (and any such amendment or variation shall be effective immediately). You are responsible for regularly reviewing these Terms of Use and any additional terms posted on third party sites. Continued use of the Site constitutes your agreement to all such revised Terms of Use.</p> <br />
            <p class="par">5.2 Soleus may at any time improve, modify or otherwise alter any party of the Site and any Content. </p> <br />
            <h2 class="about-header">6. Third Party Sites and Third Party Transactions</h2><hr /><br />
            <p class="par">6.1 Soleus does not warrant the availability or content of any third party sites that may be available (directly or indirectly) via the Site, and have no liability in relation to such availability or lack of availability. </p> <br />
            <p class="par">6.2 You may enter into or seek to enter into transactions with third parties in relation to the sale, rental or provision of goods via the Site. Soleus will not be a party to such transactions and will not be liable whether in contract, tort (including liability for negligence), or otherwise for any loss, cost of damage incurred by you arising out of or in relation thereto. </p> <br />
            <h2 class="about-header">7. Termination</h2><hr /><br />
            <p class="par">7.1 Soleus shall, at any time, have the right to terminate these Terms of Use (and Your use of the Site) immediately and without notice to You. </p> <br />
            <h2 class="about-header">8. General</h2><hr /><br />
            <p class="par">8.1 These Terms of Use supersedes any previous agreement(s) between Soleus and You in relation to the matters dealt with in it and You acknowledge and agree that they have not entered into these Terms of Use in reliance upon any representation, or statement (whether oral or written) made or alleged to have been made by Soleus.. </p> <br />
            <p class="par">8.2 The failure by Soleus to insist on the performance of any of the provisions of these Terms shall not be construed as a waiver or a relinquishment of those rights to future performance of such provisions and the obligations in respect of such future performance shall continue in full force and effect. </p> <br />
            <p class="par">8.3 If and in so far as any part or provision of these Terms of Use is or becomes void or unenforceable, it should be deemed not to be and never to have been nor formed a part of these Terms of Use and the remaining provisions of these Terms shall continue in full force and effect. </p> <br />
            <h2 class="about-header">9. Jurisdiction</h2><hr /><br />
            <p class="par">9.1 These Terms of Use and any dispute or claim arising out of or in connection with it or its subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the laws of England and Wales and all parties irrevocably submit to the exclusive jurisdiction of the English Courts. </p> <br /> <br /> <br />
        </section>
    </section>
</main>