﻿@{
    ViewBag.Title = "Who's it for? How students & young professionals split bills easily";
    ViewBag.SubTitle = "Who is it for?";
    ViewBag.Heading = "We only bill you your share of all the bills once a month.";
	ViewBag.MetaDescription = "Students & young professionals can now split housing bills easily. Dividabill will sort out bill payments so you can get on with the things that really matter.";
	ViewBag.MetaKeywords = "split bills, student housing bills, young professional housing bills, shared house bills, Dividabill";
}

<div id="page_contents">
    <section id="who">
        <div class="grid icons toLeft">
            <div class="grid2 padding">
                <a href="#students">
                    <img src="~/Content/Images/v4/who/students.png" width="200">
                    <h3>Students</h3>
                </a>
            </div>
            <div class="grid2 padding">
                <a href="#parents">
                    <img src="~/Content/Images/v4/who/parents.png" width="200">
                    <h3>Parents</h3>
                </a>
            </div>
            <div class="grid2 padding">
                <a href="#professionals">
                    <img src="~/Content/Images/v4/who/professionals.png" width="200">
                    <h3>Young Professionals</h3>
                </a>
            </div>

            <div class="reset"></div>

            <div class="padding"><hr></div>

        </div>

        <div class="grid who reset padding" id="sections">
            <div id="students">
                <h3>Students</h3>
                <p>Living with your friends is great fun! You’ll get up to all sorts of mischief and make some of your best memories…..until your first bill comes through the door and a massive argument erupts on how to pay it!</p>
                <p>Since you’re smart and know what the easiest way to sort your utility bills are, you’ve realised that DividaBill is the way to go, so what’s next?</p>
                <p>Well, once you and your housemates have signed up to our service, we get working behind the scenes to set up your accounts with our various suppliers and set up your Direct Debit payment plan.</p>
                <p>
                    Now all you have to do is sit back, relax and wait until your tenancy starts!
                    Once your tenancy begins, we will require a meter reading so we can figure out your usage come the end of the year.
                </p>
                <p>We’ll begin charging each member of the house for their share of the bills on a set date each month. This means you don’t need to worry about bills coming in at different times as we’ll charge you a set amount each month at the same time that covers everything.</p>
                <p>It also means you don’t have to worry if your housemates have paid as you are only responsible for your share of the bills! We do all the hard work of collecting the payments and making sure you are up to date with your bills.</p>
                <p>This means you can budget ahead and know exactly how much you’re paying to cover all your utility bills and don’t need to worry about large unexpected bills coming through the door. (and it means more time for doing the things your love!).</p>
                <p>Whilst you don’t have to give us meter readings, we recommend that you give us regular readings via the myDividaBill portal so we can see your exact usage and adjust your payments so you don’t pay for more than you use! It also means if we see you are overusing, we’ll get in touch and help you reduce your usage.</p>
                <p>Once your tenancy comes to an end, we require another meter reading so we can match your usage to what you have paid. This means if you’ve used less than you’ve paid for, we’ll give you money back! However if you’ve used more than you’ve paid for, we may require an extra payment.</p>
                <p>We’ll then make sure your accounts are closed in line with your tenancy ending so you don’t get stung by any further bills.</p>
                <p>We do this absolutely free and do not charge any termination fees!</p>

                @Html.ActionLink("Give me a free quote", "GetQuote", "Account", null, new {@class="cta" })
            </div>
            <div id="parents">
                <h3>Parents</h3>
                <p>If you’re here, you’ve probably got a child about to embark on their journey through university or perhaps they are part-way through it. Even more worryingly, they will be moving in to their own house soon and will have to take on all of the hassle that goes with it.</p>
                <p>We know how steep and costly the learning curve of independent living can be. They have to learn how to take on all of the complications and problems of living in a house, without affecting their studies or work. This includes cooking, cleaning and compromises, when all they want to do is have fun.</p>
                <p>Out of all of these, bills are one of the biggest challenges. They just don’t work for shared houses:</p>
                <ul>
                    <li>There is a lot to set-up for such a short stay in the house with each bill needing lots of research and time just to get started.</li>
                    <li>Next the tenants have to work out payment between themselves and there is always the risk of someone not paying the account holder.</li>
                    <li>Then someone needs to stay on top of all of the bills and to manage the accounts all year.</li>
                    <li>This is before spending hours trying to close the accounts and sorting out final payments.</li>
                    <li>Not only are these difficult and confusing, but they are also one of the main causes of arguments in shared housing and no one loves call centre queues.</li>
                </ul>

                <p>Simply put, the system doesn’t work and this is where DividaBill comes in. We do all of the gas, electricity and water bills for our customers, so that they can concentrate on the more important things. The DividaBill service sets-up the accounts on our shared house package, splits the payments fairly between all of the people in the house through direct debit across the year, and even closes the accounts at the end of the tenancy.</p>
                <p>The service has a payment plan to spread the cost out as evenly as possible, and we send loads of information to help them keep their costs down. This means that your child can go through university without you (or them) having to worry about their basic needs. If you want, you can even take over their share of the bills so that you know they are covered!</p>

                @Html.ActionLink("Give me a free quote", "GetQuote", "Account", null, new {@class="cta" })
            </div>
            <div id="professionals">
                <h3>Young professionals</h3>
                <p>As a young professional, you’re probably sharing your house with others whilst working hard everyday so you’re tired when you get home and don’t want to deal with the hassle of bills after a long day of work. Furthermore, it’s a hassle trying to find a time everyone can sit down to organise and pay the utilities.</p>
                <p>We set up, organise and manage your bills so you don’t have to worry about finding time out of your busy schedule to deal with utilities.</p>

                @Html.ActionLink("Give me a free quote", "GetQuote", "Account", null, new {@class="cta" })
            </div>
        </div>
    </section>
    <!-- who / -->

</div>
<!-- /page_contents -->
@section Scripts {
<script>
        $(document).ready(function(){
            $('.icons a').not('a.partners').each(function(){
              var getSection = $(this).attr('href');
              var fromTop = $("#sections").offset().top;

              $(this).click(function(){
                $('.icons a').removeClass('selected');
                $('.who > div').fadeOut(400);
                $(this).addClass('selected');
                $(getSection).delay(400).fadeIn();
                $('html,body').animate({scrollTop: fromTop}, 1000);
                return false;
              });
            });

        });
</script>
}