﻿@{
    ViewBag.Title = "Who's it for? How students & young professionals split bills easily";
    ViewBag.SubTitle = "Who is it for?";
    ViewBag.Heading = "We only bill you your share of all the bills once a month.";
    ViewBag.MetaDescription = "Students & young professionals can now split housing bills easily. Dividabill will sort out bill payments so you can get on with the things that really matter.";
    ViewBag.MetaKeywords = "split bills, student housing bills, young professional housing bills, shared house bills, Dividabill";
}

@section Header {
    <div id="image1"></div>
    <link rel="canonical" href="https://www.dividabill.co.uk/Home/WhyItWorks" />
}

<main>
    <br /> <br /> <br />
    <section class='row'>
        <section class='col-md-4 col-md-offset-1 col-sm-5' id="left-sidebar">
            <ul class="nav nav-pills nav-stacked sidebar" data-spy="affix" data-offset-top="160">
                <h2 class="big-size"> Why it Works </h2>
                <li role="presentation" class="active">
                    <a href="#info-one" class=" align-left mybtn" id="first-btn">
                        <span class='img-circle rounded rounded-numbers' style='background-color:white'>1 </span>
                        <span class="btn-text">You have less stress</span>
                        <i class="fa fa-angle-double-right double-right-angle" style="line-height: inherit;"></i>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#info-two" class="align-left mybtn ">
                        <span class='img-circle rounded rounded-numbers' style='background-color:white'>2 </span>
                        <span class="btn-text">You save time</span>
                        <i class="fa fa-angle-double-right double-right-angle" style="line-height: inherit;"></i>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#info-three" class="align-left mybtn ">
                        <span class='img-circle rounded rounded-numbers' style='background-color:white'>3 </span>
                        <span class="btn-text">You save money</span>
                        <i class="fa fa-angle-double-right double-right-angle" style="line-height: inherit;"></i>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#info-four" class="align-left mybtn ">
                        <span class='img-circle rounded rounded-numbers' style='background-color:white'>4 </span>
                        <span class="btn-text">You get sorted quickly </span>
                        <i class="fa fa-angle-double-right double-right-angle" style="line-height: inherit;"></i>
                    </a>
                </li>
            </ul>
        </section>
        <section class='col-md-5 col-sm-offset-1 col-sm-6'>
            <div id="header-info">
                <p class="header-info" style="font-weight: normal">
                    <strong>At DividaBill, we don’t accept that it should be complicated, time-consuming and awkward to split shared house bills with your housemates, or that utilities and entertainment package contracts for rented and shared houses should be complex, overpriced or not appropriate for the length of your tenancy.</strong>
                    <br/>
                    <br/>
                    We believe that there is a better way to split the bills, so welcome to DividaBill bill management services - the smarter way of managing your shared house utilities, TV and broadband bills.
                    <br/>
                    <br>
                    Here’s why splitting shared utility bills with DividaBill works:
                </p>
            </div>
            <br/>
            <div class="" id='info-one'>
                <p class="big-size"><strong>1 . You have less stress </strong></p> <br />
                <p class="cust-para">
                    DividaBill eliminates many of the main stresses and hassles you’ve told us you experience with managing and paying shared house bills.
                    Our bill management platform charges individual tenants directly on a monthly Direct Debit basis.
                    You can avoid stressful arguments and awkward conversations if there’s a payment missing, as we will automatically follow up with the specific individual. 
                    But, of course, you are still able to use a single account for payment if that’s your preference.                  
                </p>
                <p class="cust-para">
                    You also told us another big shared house annoyance is having to pay for full 12-month energy and entertainment package contracts, even if you won’t be living in that house for the whole year (students, in particular or tenants on a 6-month tenancy lease).
                    So, DividaBill listened to you and created a solution.
                    DividaBill offers variable contract lengths for all of our bill management services, which means that if your tenancy is shorter than a year you can simply select a 9, 10 or 11-month contract instead in the <a href="/Account/SignUp">Sign Up</a> options. 
                    We also offer an ongoing bill management service if you’re not planning on moving out of your shared house or flat any time soon.
                </p>
            </div><br /><hr />
            <div id="info-two">
                <p class="big-size"><strong>2 . You save time</strong></p> <br />
                <p class="cust-para">
                    Time is one resource we all share equally.
                    Time is precious, and we know you don’t want to be spending yours on tedious tasks like setting up shared house and other rental property bills. 
                    That’s why DividaBill has been specifically designed to make shared house bill management as quick and easy as possible, taking less than 5 minutes to <a href="/Account/SignUp">Sign Up</a>, and requiring minimal effort on your part over the year.                
                </p>
            </div><br /><hr />
            <div id="info-three">
                <p class="big-size"><strong>3 . You save money</strong></p> <br />
                <p class="cust-para">
                    With this in mind, we’ve ensured that not only is our bill management service something to shout about, but our utilities and other service prices also match up.
                    The average 4-person shared house can <strong>save £100</strong> with us, compared to the nation’s leading providers*.
                    DividaBill achieves this by buying utility supply contracts in bulk to get a reduced and preferential price. 
                    That’s how we’re able to offer such great prices, pass the savings on to our customers every time they secure cheaper energy and water contracts through us, and still make a profit as a business. 
                </p>
                <p class="bank-header align-left">*Based on a standard 12-month contract for Gas, Electricity and Water with medium average usage</p>
            </div><br /><hr />
            <div id="info-four">
                <p class="big-size"><strong>4 . You get sorted quickly</strong>
                </p> <br/>
                <p class="cust-para">
                    Getting your shared house bills sorted with Dividabill’s bill management services is so quick and easy that it actually only takes three steps:
                </p>
                <ol class="cust-para">
                    <li>Visit our <a href="/Account/SignUp">Sign Up</a> page and enter your house details</li>
                    <li>Select your desired services (which will provide you with an estimated bill breakdown)</li>
                    <li>Type in a few user details and your payment information</li>
                </ol>
                <p class="cust-para">
                    There. Done. You’ve been successfully switched to DividaBill. Sorted.
                </p>
                <p class="cust-para">
                    If you want to split your bill between multiple tenants or housemates in your shared house or flat, then all they need to do is register their details with DividaBill through the same quick and easy registration process. 
                </p>
                <p class="cust-para">
                    Your bill will be emailed to you once a month, about five days before each payment is taken. 
                    The first bill covers the remainder of the first month, plus the second month in advance, but don’t worry, you won’t be charged again in your second month.
                </p>
                <p class="cust-para">
                    All utilities and entertainment and internet services can be set up and ready for you within just fifteen days. 
                    Alternatively, you can register in advance for your next move or contract end date and everything will be ready for your new moving-in date.
                </p>
                <p class="cust-para">
                    When it’s time to move on, we ensure that you have options. 
                    Either you can transfer your account to a new address or, if you wish to end your contract, we close down all of your shared utilities and entertainment services for you.
                </p>
                <p class="cust-para">
                    So, what are you waiting for? Start saving time and money today - <a href="/Account/SignUp">Sign Up</a> with DividaBill bill management services now and get your shared house bills sorted.
                </p>
            </div><br /><hr /><br /><br />
        </section>
    </section>
    <div style="margin-bottom:10em"></div>

</main>
<!-- /call_to_actions -->
@section Scripts {
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/site")


    <script>
        $('body').scrollspy({
            target: '#left-sidebar',
            offset: 200
        });

        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() < 200) {
                    $(".sidebar").find("li:first").addClass("active");
                }
            });
        })
    </script>
}