﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li style="margin-top:10px">@Html.ActionLink("Get a Quote", "GetQuote", "Account", routeValues: null, htmlAttributes: new { id = "quoteLink", @class = "btn btn-default btn-sm", style = "color: white; background-color: #0fbffa; font-size: 16px; border:hidden; height: 30px; padding-top:4px;  padding-bottom: 10px;" })</li>
        <li>@Html.ActionLink("Sign Up", "SignUp", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Media", "Media", "Home", routeValues: null, htmlAttributes: new { id = "mediaLink", style = "margin-left:25px;" })</li>
    </ul>
}
