﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ViewBag.Title ?? "Ooops.. something went wrong. ";
    ViewBag.Message = ViewBag.Message ?? "This error has been logged and is already on its way to our tech team.";
}
<main>
    <section class='container'>
        <section class='row align'>
            <br /> <br />
            <p class='big-size '>@ViewBag.Title</p> <br />
            <a href="/" style="font-size:20px;"> Go to home page <i class="fa fa-angle-double-right"></i></a><hr />
            <p class="error-text">4<img class="error-img" src="~/Content/Images/V4/error-face.png" width="300" height="300" />4</p>
            <p class="par align">@ViewBag.Message</p>
        </section>
    </section>
    <div style="margin-bottom:10em"></div>
</main>