﻿<main class="white-bg">
    <div class="container">
        <br /><br /><br />
        <div class="col-sm-3 logging-targets">
            <p> Logging Targets</p>

                <label class="label-control" for="1"> 
                    <input type="radio" value="0" class="" id="1" name="targets" checked>
                    House Models 
                </label>
            <br/>
                <label class="label-control" for="2">
                    <input type="radio" value="1" class="" id="2" name="targets">
                     Contracts 
                </label>
            <br />
                <label class="label-control" for="3">
                    <input type="radio" value="2" class="" id="3" name="targets">
                     Users 
                </label>
            <input type="hidden" id="lastSeen" value=""/>
            <br />
            <br />
            <div class="form-group clearfix">
                <label class="" style="margin-right: 0.5em; float: left; margin-top: 5px;" for="no_entries"># of entries to display: </label>
                <input type="text" id="nrows" style="float:left;width: 5em;" class="form-control" value="50" />
            </div>
            <input type="button" id="getChanges" class="btn btn-primary col-sm-12" value="Go">
        </div>
        <div class="col-sm-9 loggings" style="border-left: 1px solid rgba(0, 0, 0, 0.52);">
            <p> Please get loggings from the form on the left! </p>
        </div>
    </div>
</main>
@section Scripts {
 @*  @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@

    <script type="text/javascript">
        $("#getChanges").click(function () {
            var target = $('input:radio[name=targets]:checked').val();
            var nrows = $("#nrows").val();
            console.log(target);
            console.log(nrows);
            $(".loggings").text("Searching....")
            $.getJSON('/api/logs/last?feedId=' + target + '&nItems=' + nrows).done(
            function (result) {
                console.log(result);
                // Check if there were any items found
                document.getElementById("lastSeen").value = result.LastLineId;
                if (result.length == 0)
                    alert("Sorry, there were no results");
                else {
                    $(".loggings").empty();

                    $.each(result.Lines, function (key, value) {
                        $(".loggings")
                            .append($("<p> </p>")
                            .text(value));
                    });
                    $("<p class='text-center'>").append("<button type='button' class='col-sm-4 col-sm-offset-4 btn btn-lg btn-default' onClick='seeMoreLogs(" + result.LastLineId + ")' id='seeMoreLogs'>See More </button>").appendTo(".loggings");
                }
            })
        });

        function seeMoreLogs(lastSeenId) {
            var target = $('input:radio[name=targets]:checked').val();
            $.getJSON('/api/logs/newest?feedId=' + target + '&lastSeenId=' + lastSeenId).done(
           function (result) {
               console.log(result);
               // Check if there were any items found
               
           })
        }

    </script>
}