﻿@model Dividabill.Models.User

@{
    ViewBag.Title = "Edit";
    var housesList = ViewBag.Houses as IEnumerable<SelectListItem>;
}



<!-- BEGIN PAGE CONTENT-->

<div class="row">

    <div class="col-md-12">

        @using (Html.BeginForm("Edit", "Users",null, FormMethod.Post, new { @class = "form-horizontal form-row-seperated", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="portlet">

                <div class="portlet-title">

                    <div class="caption">

                        <i class="fa fa-pencil"></i>Edit User

                    </div>

                    <div class="actions btn-set">

                        <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-angle-left"></i> Back</a>
                        <a href="@Request.Url.PathAndQuery" class="btn default"><i class="fa fa-reply"></i> Reset</a>
                        <button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>

                    </div>

                </div>

                <div class="portlet-body">

                    <div class="tabbable">

                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_personal" data-toggle="tab">Personal</a>
                            </li>
                            <li>
                                <a href="#tab_address" data-toggle="tab">Address</a>
                            </li>
                            <li>
                                <a href="#tab_bank" data-toggle="tab">Bank</a>
                            </li>
                            <li>
                                <a href="#tab_notes" data-toggle="tab">Notes</a>
                            </li>
                            <li>
                                <a href="#tab_house" data-toggle="tab">House</a>
                            </li>
                        </ul>

                        <div class="tab-content no-space">

                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.Id)

                            <div class="tab-pane active" id="tab_personal">

                                <div class="form-body">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.RefTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.RefTitle, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.RefTitle, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DDRef, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.DDRef, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DDRef, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.JQueryUI().DatepickerFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NewsletterSubscription, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.NewsletterSubscription, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NewsletterSubscription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane" id="tab_address">

                                <div class="form-body">


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HomeAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.HomeAddress, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.HomeAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane" id="tab_bank">
                                <div class="form-body">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountHolder, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.AccountHolder, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AccountHolder, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountSortCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.AccountSortCode, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AccountSortCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountSoleHolder, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.AccountSoleHolder, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AccountSoleHolder, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane" id="tab_notes">
                                <div class="form-body">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab_house">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">@Html.LabelFor(model => model.House_ID, htmlAttributes: new { @class = "control-label col-md-2" })</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.House_ID, housesList, new { @class = "form-control input-xlarge select2me" })
                                            @Html.ValidationMessageFor(model => model.House_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        }
    </div>

</div>

<!-- END PAGE CONTENT-->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
}