﻿Content-Type: text/plain; charset=utf-8

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- NAME: 1 COLUMN -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Subject</title>

    <style type="text/css">
        body, #bodyTable, #bodyCell {
            height: 100% !important;
            width: 100% !important;
            margin: 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
        }

        img, a img {
            border: 0;
            outline: none;
            text-decoration: none;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        p {
            margin: 1em 0;
            padding: 0;
        }

        a {
            word-wrap: break-word;
        }

        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
        }

        table, td {
            mso-table-lspace: 0;
            mso-table-rspace: 0;
        }

        #outlook a {
            padding: 0;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        body, table, td, p, a, li, blockquote {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        #bodyCell {
            border-top: 0;
            padding: 20px;
        }

        .mcnImage {
            vertical-align: bottom;
        }

        .mcnTextContent img {
            height: auto !important;
        }

        body, #bodyTable {
            background-color: #F2F2F2;
        }

        #templateContainer {
            border: 0;
        }

        h1 {
            color: #606060 !important;
            display: block;
            font-family: Helvetica;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: -1px;
            text-align: left;
            margin: 0;
        }

        h2 {
            color: #404040 !important;
            display: block;
            font-family: Helvetica;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: -.75px;
            text-align: left;
            margin: 0;
        }

        h3 {
            color: #606060 !important;
            display: block;
            font-family: Helvetica;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: -.5px;
            text-align: left;
            margin: 0;
        }

        h4 {
            color: gray !important;
            display: block;
            font-family: Helvetica;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: normal;
            text-align: left;
            margin: 0;
        }

        .ReadMsgBody, .ExternalClass {
            width: 100%;
        }

        #templatePreheader, #templateHeader, #templateBody, #templateFooter {
            background-color: #FFF;
            border-top: 0;
            border-bottom: 0;
        }

        .preheaderContainer .mcnTextContent, .preheaderContainer .mcnTextContent p, .footerContainer .mcnTextContent, .footerContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 11px;
            line-height: 125%;
            text-align: left;
        }

            .preheaderContainer .mcnTextContent a, .footerContainer .mcnTextContent a {
                color: #606060;
                font-weight: 400;
                text-decoration: underline;
            }

        .headerContainer .mcnTextContent, .headerContainer .mcnTextContent p, .bodyContainer .mcnTextContent, .bodyContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 15px;
            line-height: 150%;
            text-align: left;
        }

            .headerContainer .mcnTextContent a, .bodyContainer .mcnTextContent a {
                color: #6DC6DD;
                font-weight: 400;
                text-decoration: underline;
            }

        @@media only screen and max-width 480px {
            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
            }

            body {
                width: 100% !important;
                min-width: 100% !important;
            }

            td[id=bodyCell] {
                padding: 10px !important;
            }

            table[class=mcpreview-image-uploader] {
                width: 100% !important;
                display: none !important;
            }

            td[class=mcnImageGroupContent] {
                padding: 9px !important;
            }

            td[class=mcnImageGroupBlockInner] {
                padding-bottom: 0 !important;
                padding-top: 0 !important;
            }

            tbody[class=mcnImageGroupBlockOuter] {
                padding-bottom: 9px !important;
                padding-top: 9px !important;
            }

            td[class=mcnImageCardLeftImageContent], td[class=mcnImageCardRightImageContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
                padding-bottom: 0 !important;
            }

            td[class=mcnImageCardBottomImageContent] {
                padding-bottom: 9px !important;
            }

            table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent], table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent] {
                padding-top: 9px !important;
            }

            td[class=mcnBoxedTextContentColumn] {
                padding-left: 18px !important;
                padding-right: 18px !important;
            }

            td[class=mcnTextContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
            }

            table[id=templateContainer], table[id=templatePreheader], table[id=templateHeader], table[id=templateBody], table[id=templateFooter] {
                max-width: 600px !important;
                width: 100% !important;
            }

            h1 {
                font-size: 24px !important;
                line-height: 125% !important;
            }

            h2 {
                font-size: 20px !important;
                line-height: 125% !important;
            }

            h4 {
                font-size: 16px !important;
                line-height: 125% !important;
            }

            table[class=mcnTextContentContainer], table[class=mcnBoxedTextContentContainer], img[class=mcnImage], table[class=mcnImageGroupContentContainer], table[class=mcnCaptionTopContent], table[class=mcnCaptionBottomContent], table[class=mcnCaptionLeftTextContentContainer], table[class=mcnCaptionRightTextContentContainer], table[class=mcnCaptionLeftImageContentContainer], table[class=mcnCaptionRightImageContentContainer], table[class=mcnImageCardLeftTextContentContainer], table[class=mcnImageCardRightTextContentContainer] {
                width: 100% !important;
            }

            td[class=mcnImageCardTopImageContent], td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent] {
                padding-top: 18px !important;
            }

            h3, table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent], td[class=mcnBoxedTextContentContainer] td[class=mcnTextContent] p, td[class=headerContainer] td[class=mcnTextContent], td[class=headerContainer] td[class=mcnTextContent] p, td[class=bodyContainer] td[class=mcnTextContent], td[class=bodyContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }

            table[id=templatePreheader], td[class=footerContainer] a[class=utilityLink] {
                display: block !important;
            }

            td[class=preheaderContainer] td[class=mcnTextContent], td[class=preheaderContainer] td[class=mcnTextContent] p, td[class=footerContainer] td[class=mcnTextContent], td[class=footerContainer] td[class=mcnTextContent] p {
                font-size: 14px !important;
                line-height: 115% !important;
            }
        }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top" id="bodyCell">
                    <!-- BEGIN TEMPLATE // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN PREHEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader">
                                    <tr>
                                        <td valign="top" class="preheaderContainer" style="padding-top:9px;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="366" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:0;"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <table align="right" border="0" cellpadding="0" cellspacing="0" width="197" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:0;">

                                                                            <a href="*|ARCHIVE|*" target="_blank">View this email in your browser</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END PREHEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN HEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                    <tr>
                                        <td valign="top" class="headerContainer">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                                                <tbody class="mcnImageBlockOuter">
                                                    <tr>
                                                        <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">


                                                                            <img align="left" alt="" src="http://gallery.mailchimp.com/dbf884bc61b855d8bf95a5664/images/1de67ac1-8e00-4a91-93f6-f30f642bb6d1.png" width="200" style="max-width:200px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" />


                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END HEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN BODY // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    <tr>
                                        <td valign="top" class="bodyContainer">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                                                <tbody class="mcnImageBlockOuter">
                                                    <tr>
                                                        <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">


                                                                            <img align="left" alt="" src="https://gallery.mailchimp.com/dbf884bc61b855d8bf95a5664/images/b2491e68-c6de-4a0e-ae87-85771df55de8.jpg" width="564" style="max-width:600px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" />


                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <h1>Congratulations!&nbsp;</h1>

                                                                            <h3>Everyone in your house has now signed up to Team DividaBill!</h3>
                                                                            <br />
                                                                            You can sit back and relax knowing you have just avoided the stress and hassle of managing bills all year.<br />
                                                                            <br />
                                                                            Now you've done your bit, we're going to start doing ours. We will;
                                                                            <ul>
                                                                                <li>Take over your water payments from the date your whole house has&nbsp;completed the sign&nbsp;up, or when your tenancy starts&nbsp;</li>
                                                                                <li>Take over your gas and electricity payments&nbsp;within six weeks&nbsp;of joining (usually 21 days)</li>
                                                                                <li>Begin direct debiting you for your&nbsp;share of the bills and send you a breakdown&nbsp;each month</li>
                                                                            </ul>
                                                                            <span style="line-height:20.7999992370605px">
                                                                                There are a few things that you might have to do, but don't worry, this part is easy!<br />
                                                                                <br />
                                                                                If your tenancy started before you joined DividaBill pay off any water bills from before we signed you up with us.<br />
                                                                                You may receive a final gas or electric bill in the next few weeks from the previous supplier that you need to pay as well depending on how long the changeover takes (out of our hands unfortunately). Be sure to send them a meter reading so that you don't have problems later.
                                                                            </span>

                                                                            <p>
                                                                                If you have any questions, email us at info@dividabill.co.uk or&nbsp;call us on:&nbsp;03300 101 083<br />
                                                                                <br />
                                                                                All the best and hope you have a great year!&nbsp;<br />
                                                                                <br />
                                                                                The DividaBill Team&nbsp;
                                                                            </p>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END BODY -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN FOOTER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                                    <tr>
                                        <td valign="top" class="footerContainer" style="padding-bottom:9px;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <em>Copyright © 2014 Soleus Ltd., All rights reserved.</em><br />
                                                                            &nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END FOOTER -->
                            </td>
                        </tr>
                    </table>
                    <!-- // END TEMPLATE -->
                </td>
            </tr>
        </table>
    </center>
</body>
</html>