﻿@model DividaBill.ViewModels.ContractRemoveViewModel

@using DividaBill.Library
<div class="">
    @using (Html.BeginForm("/", "api/contracts", new {id = Model.ID}, FormMethod.Post, new {@id = "form-contract-" + Model.ID}))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.RequestedStartDate, new {@class = "col-sm-5 text-right"})
                @Html.TextBoxFor(model => model.RequestedStartDate, new {@class = "form-control datepicker col-sm-7", @Value = Model.RequestedStartDate.Date.ToStringDateFormat()})
            </div>
        </div>
        <div class="row" style="margin-top: 1em;">
            <div class="col-sm-12">
                <div class="input-daterange" id="datepicker">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Actual From</span>
                                @Html.TextBoxFor(model => model.StartDate, new {@class = "form-control datepicker", @disabled = "disabled", @readonly = "readonly", @Value = Model.StartDate.HasValue ? Model.StartDate.Value.Date.ToStringDateFormat() : string.Empty})
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">to</span>
                                @Html.TextBoxFor(model => model.EndDate, new {@class = "form-control datepicker", @Value = Model.EndDate.Date.ToStringDateFormat(), required = "required" })
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.StartDate)
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
            </div>
        </div>
    }
</div>