﻿@{
@model DividaBill.ViewModels.ContractViewModel 
    var servicesList = (ViewBag.Parameters as DividaBill.ViewModels.ContractViewsViewBagParameters).Services;
    var providersList = (ViewBag.Parameters as DividaBill.ViewModels.ContractViewsViewBagParameters).Providers;
    var contractLengths = (ViewBag.Parameters as DividaBill.ViewModels.ContractViewsViewBagParameters).ContractLengths;
    var houseTenants = (ViewBag.Parameters as DividaBill.ViewModels.ContractViewsViewBagParameters).HouseTenants;
    }
<div class="">
    @using (Html.BeginForm("/", "api/contracts", null, FormMethod.Post, new {@id = "form-contract-add"}))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.House_ID)
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.RequestedStartDate, new {@class = "col-sm-5 text-right"})
                @Html.TextBox("RequestedStartDate", Model.RequestedStartDate.Date.ToShortDateString(), new {@class = "form-control datepicker col-sm-7"})
            </div>
        </div>
        <div class="row" style="margin-top: 1em;">
            <div class="col-sm-12">
                <div class="input-daterange" id="datepicker">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Actual From</span>
                                @Html.TextBox("StartDate", Model.StartDate.HasValue ? Model.StartDate.Value.Date.ToShortDateString() : string.Empty, new {@class = "form-control datepicker"})
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">to</span>
                                @Html.TextBox("EndDate", Model.EndDate.Date.ToShortDateString(), new {@class = "form-control datepicker", required = "required" })
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.StartDate)
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="form-group">
                    <br/> <br/>
                    @Html.LabelFor(model => model.Length, new {@class = "label-control col-sm-4 text-right"})
                    <div class="col-sm-7">
                        @Html.DropDownListFor(model => model.Length, contractLengths, new {@class = "form-control select2me", required = "required" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Length)
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <br/>
                    @Html.LabelFor(model => model.Service, new {@class = "label-control col-sm-4 text-right"})
                    <div class="col-sm-7">
                        @Html.DropDownListFor(model => model.Service, servicesList, new {@class = "form-control select2me", @onchange = "Javascript:selectProvidersByServiceTypeId(this.value);", required = "required" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Service)
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <br/>
                    @Html.LabelFor(model => model.Provider_ID, new {@class = "label-control col-sm-4 text-right"})
                    <div class="col-sm-7">
                        @Html.DropDownListFor(model => model.Provider_ID, providersList, new {@class = "form-control select2me selectpicker", @id = "providers", required = "required" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Provider_ID)
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <br/>
                    @Html.LabelFor(model => model.RequestedTenantId, new {@class = "label-control col-sm-4 text-right"})
                    <div class="col-sm-7">
                        @Html.DropDownListFor(model => model.RequestedTenantId, houseTenants, new {@class = "form-control select2me", required = "required" })
                    </div>
                    @Html.ValidationMessageFor(model => model.RequestedTenantId)
                </div>
            </div><br/><br/>
        </div>
    }
</div>