﻿@{
    ViewBag.Title = "Congratulations";
    ViewBag.SubTitle = "Congratulations";
    ViewBag.Heading = "Create a new account.";
}
<main class="white-bg">
    <br> <br> <br>
    <section class="row">
        <aside class="col-md-10 col-md-offset-1 align">
            <p>
                <i class="fa fa-home steps active-green" id='step-one'></i>
                <i class="fa fa-user steps active-green" id='step-two'></i>
                <i class="fa fa-credit-card steps active-green" id='step-three'></i>
            </p> <br />
        </aside>
    </section>
    <br> <br>
    <section class="container" id="container">
        <div id="signupThree" style="display: block;">
            <h2 class="big-size align"> Congratulations, <br> You are Signed Up!</h2><hr>
            <section class="row">
                <aside class=" col-sm-6 col-sm-offset-3 orange-info-box">
                    <p class="par align" style="color: #F7931E;"> You will be contacted about installation and a list of services you have selected. <br> <br> Please watch out for this email in your junkmail folder. </p>
                </aside>
            </section>
        </div>
        <div style="margin-bottom:20em"></div>
    </section>
</main>
<!-- Facebook Pixel Code -->
<script>
		 !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		 n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		 n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		 t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		 document,'script','//connect.facebook.net/en_US/fbevents.js');

		 fbq('init', '518170085008924');
		 fbq('track', 'Purchase', { value: '1.00', currency: 'USD' });</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=518170085008924&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->
@section Scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        ga('send', 'pageview', location.pathname);
    </script>
}