﻿<main>
    <section class='container'>
        <section class='row align'>
            <br /> <br />
            <p class='big-size '>Congratulations, <br /> Your email has been verified successfully.</p> <br />
            <p> If you have any questions you can check our <a href="http://support.dividabill.co.uk/support/home">Help Centre</a> for more information <br /> or you can just <a href="/Home/ContactUs">Contact Us</a>.</p>
            <p class="home-img-title"> Thank you for using our services! <br /> <i style="color: #29AAE1;" class="fa fa-smile-o fa-5x"></i></p>

        </section>
    </section>
    <div style="margin-bottom:10em"></div>
</main>