﻿@model DividaBill.ViewModels.SignUpViewModel
@{
    ViewBag.Title = "Sign Up - Join DividaBill for easy student bills";
    ViewBag.SubTitle = "Sign Up";
    ViewBag.Heading = "Create a new account.";
    ViewBag.MetaDescription = "Sign up - Join DividaBill today to split your student & young professional housing bills easily.";
    ViewBag.MetaKeywords = "sign up, sign up to DividaBill, easy student bills, student bills, DividaBill";
}


@section Header {
    <div></div>
}
<main class="white-bg" id="main">
    <section class="signup-header"></section>
    <aside class="signup-sidebar">
        <div class="step-btn">
           <a href="#signupZero" class="fa fa-home steps active-step" id="step-one"></a>
        </div>
        <div class="step-btn">
            <a class="fa fa-user steps" id="step-two"></a>
        </div>
        <div class="step-btn">
            <a class="fa fa-credit-card steps" id="step-three"></a>
        </div>

</aside>
    <section class="container" id="container">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "", role = "form", @id = "form1", onkeypress = "return event.keyCode != 13;"}))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)

            if (Model.ValidationErrors != null)
            {
                int? stepForFocus = null;
                foreach (var item in Model.ValidationErrors)
                {
                    if (item.Key.Contains("BankAccountDetails"))
                    {
                        if (!stepForFocus.HasValue || stepForFocus.Value >= 2)
                        {
                            stepForFocus = 2;
                        }
                    }
                    else if (item.Key.Contains("Email") || item.Key.Contains("Password"))
                    {
                        if (!stepForFocus.HasValue || stepForFocus.Value >= 1)
                        {
                            stepForFocus = 1;
                        }
                    }
                }
                if (stepForFocus.HasValue)
                {
                    switch (stepForFocus.Value)
                    {
                        case 1:
                            <script type="text/javascript">
                                    window.location.href = "#signupOne";
                            </script>
                            break;
                        case 2:
                            <script type="text/javascript">
                                    window.location.href = "#Phone";
                            </script>
                            break;
                    }
                }
            }

            Html.RenderPartial("~/Views/Account/RegisterPartial/_TTPersonalDetails.cshtml", Model);
            Html.RenderPartial("~/Views/Account/RegisterPartial/_TTHouseAddress.cshtml", Model);
            Html.RenderPartial("~/Views/Account/RegisterPartial/_BankDetails.cshtml", Model);
        }
    </section>
    <div style="margin-top:10em;"></div>
</main>

<!-- /page_contents -->
@section Scripts {
    @Styles.Render("~/Content/css2")
    @Styles.Render("~/Content/signup")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/postcodefinder")
    @*@Styles.Render("~/Content/themes/base/css")*@
    @*<script type="text/javascript" src="@Scripts.Url("~/Scripts/moment.js")"></script>*@
    <script>
        //Calculates how much the sidebar to be scrolled
        $(window).scroll(function () {
            footertotop = ($('.footer').position().top);
            scrolltop = $(document).scrollTop() + 600;
            difference = scrolltop - footertotop;
            if ($(window).width() > 767) {
                if (scrolltop > footertotop) {
                    $('.signup-sidebar').css('margin-top', 0 - difference - 30);
                }
                else {
                    $('.signup-sidebar').css('margin-top', 0);
                }
            }
           
            if ($(window).width() < 767 && $(document).scrollTop() >= 365) {
                $(".signup-sidebar").addClass("fixed");
            }
            else {
                $(".signup-sidebar").removeClass("fixed");
            }
        });

        ga('send', 'pageview', '/Home');
    </script>
}