﻿@{
    ViewBag.Title = "About DividaBill - Split housing bills";
    ViewBag.SubTitle = "About DividaBill";
    ViewBag.Heading = "We only bill you your share of all the bills once a month.";
    ViewBag.MetaDescription = "DividaBill provides students & young professionals with a way to split housing bills easily. No fights, no stress; just get on with things that really matter.";
    ViewBag.MetaKeywords = "about us, housing bills, shared accommodation bills, accommodation bills, DividaBill";
}

<script type="text/template" id="aboutus-tpl">
    <br />
    <br />
    <br />
    <section class="row">
        <aside class="col-md-10 col-md-offset-1">
            <h2 class="text-center"> About DividaBill  </h2>
            <hr />
        </aside>
        <br />
    </section>
    <br />
    <section class='row'>
        <aside class='col-md-6 col-md-offset-1 col-sm-7'>
            <h3> What we stand For</h3>
            <hr />
            <p>Our ultimate belief is that bills should be easy. Time is precious and spending it organising your bills means you have less time for activities you really enjoy and we don’t think it has to be this way. </p> <br />
            <p>Everything we do at DividaBill is focused on making bill paying simpler, quicker and easier to understand.</p>
        </aside>
        <aside class='col-md-4 col-sm-5 hidden-xs'>
            <img src="/Content/Images/v4/aboutus-bigimg.jpg" width='100%' class="person img-square">
        </aside>
    </section>
    <br />
    <br />
    <section class='row'>
        <aside class='col-md-10 col-md-offset-1'>
            <h3> Awards </h3>
            <hr />
        </aside> <br /> <br />
    </section>
    <section class='row'>
        <aside class='col-sm-2 col-sm-offset-2 text-center'>
            <p class="award-year"> 2014 </p>
            <img src="/Content/Images/v4/Awards/Dragons evnt.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info"> LEN Dragons Investment Event Winners</p>
        </aside>
        <aside class='col-sm-2 text-center'>
            <p class="award-year"> 2014 </p>
            <img src="/Content/Images/v4/Awards/VPlogo.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info"> Finalists of the NACUE Varsity Pitch</p>
        </aside>
        <aside class='col-sm-2 text-center'>
            <p class="award-year"> 2014 </p>
            <img src="/Content/Images/v4/Awards/big-startup loanscomp.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info">Semi-Finalists for the Big Start Up Loans Competititon </p>
        </aside>
        <aside class='col-sm-2 text-center'>
            <p class="award-year"> 2014 </p>
            <img src="/Content/Images/v4/Awards/Shell livewire and young entrepreneur.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info"> Winners of the Shell LiveWire Grand Ideas Award</p>
        </aside>
    </section>
    <section class="row">
        <aside class='col-sm-2 col-sm-offset-2 text-center'>
            <p class="award-year"> 2014 </p>
            <img src="/Content/Images/v4/Awards/Shell livewire and young entrepreneur.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info">Shell LiveWire Young Entrepreneur of the Year of contestant </p>
        </aside>
        <aside class='col-sm-2 text-center'>
            <p class="award-year"> 2014 </p>
            <img src="/Content/Images/v4/Awards/SUlogo.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info">Take off Southampton Winners </p>
        </aside>
        <aside class='col-sm-2 text-center'>
            <p class="award-year"> 2014 </p>
            <img src="/Content/Images/v4/Awards/logo-lloyds-enterprise-awards-print.png?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info">Lloyds Enterprise Awards London & South East Shortlist </p>
        </aside>
        <aside class='col-sm-2 text-center'>
            <p class="award-year"> 2015 </p>
            <img src="/Content/Images/v4/Awards/Setsquared-square.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info"> Best Graduate Enterprise  </p>
        </aside>
    </section>
    <br />
    <br />
    <section class='row'>
        <aside class='col-md-10 col-md-offset-1'>
            <h3> Who we are: </h3>
            <hr />
        </aside> <br /> <br />
    </section>
    <section class='row'>
        <aside class='col-md-2 col-md-offset-2 col-sm-4'>
            <div class="wrapperimg jon center-block">
                <div class='onimg-items'>
                    <p class="onimg-text">"Jon, <br /> Director and  <br /> Head of Operations"</p>
                </div>
            </div>
        </aside>
        <aside class='col-md-2 col-md-offset-1 col-sm-4'>
            <div class="wrapperimg patch center-block">
                <div class='onimg-items'>
                    <p class="onimg-text">“Patch, <br /> Director and <br /> Head of Commercial”</p>
                </div>
            </div>
        </aside>
        <aside class='col-md-2 col-md-offset-1 col-sm-4'>
            <div class="wrapperimg gavin center-block">
                <div class='onimg-items'>
                    <p class="onimg-text">“Gavin,<br /> Chairman”</p>
                </div>
            </div>
        </aside>
    </section>
    <section class='row'>
        <br /> <br />
        <aside class='col-md-10 col-md-offset-1'>
            <h3> Fancy Joining? </h3>
            <hr />
        </aside> <br /> <br />
    </section>
    <section class="row">
        <aside class="col-md-10 col-md-offset-1">
            <p>
                We have a variety of internship opportunities available. If you think this is the kind of team you
                could thrive in and feel you could add real value to the company, please contact <a href="mailto:support@dividabill.com">support@dividabill.com</a> for a list of opportunities.
            </p>
        </aside>
    </section>
    <br />
    <br />

</script>