﻿@{
    ViewBag.Title = "Contact us - DividaBill - Divide house bills";
    ViewBag.SubTitle = "Contact us";
    ViewBag.Heading = "We only bill you your share of all the bills once a month.";
	ViewBag.MetaDescription = "Contact DividaBill to divide your house bills easily.";
	ViewBag.MetaKeywords = "contact us, divide house bills, DividaBill";
}

<script type="text/template" id="contactus-tpl">
<div id="page_contents">
    <section id="contact">
            <br /> <br /> <br />
            <section class="row">
                <aside class="col-sm-12">
                    <h2 class="text-center"> Contact Us </h2>
                </aside>
            </section>
            <hr />
            <section class="row">
                <aside class="col-sm-12">
                    <p class="text-center">Feel free to drop us a line. We will get back to you within one working day.</p>
                </aside>
            </section>
            <hr />
            <section class="row">    
                <div class="col-sm-12">
                    <h3 class='text-center'> Get in Touch Directly </h3><br /> <br />
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-2 col-md-offset-1 text-center ">
                        <a href="http://facebook.com/dividabill" target="_blank">
                            <img src="/Content/Images/v4/contact/FBIcon.png" width="100" height="100">
                            <h3>Facebook</h3>
                            Like us
                        </a>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1 col-md-offset-0 text-center">
                        <a href="http://twitter.com/dividabill" target="_blank">
                            <img src="/Content/Images/v4/contact/TwitterIcon.png" width="100" height="100">
                            <h3>Twitter</h3>
                            Follow us
                        </a>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1 col-md-offset-0 text-center">
                        <a href="mailto:support@dividabill.co.uk" class="text-center">
                            <img src="/Content/Images/v4/contact/EmailIcon.png" width="100" height="100">
                            <h3 class="text-center">Write us an email</h3>
                            support@dividabill.co.uk
                        </a>
                    </div>
                    <div class="col-sm-2 col-sm-offset-3 col-md-offset-0 text-center">
                        <a href="tel:02380223596">
                            <img src="/Content/Images/v4/contact/PhoneIcon.png" width="100" height="100">
                            <h3>Call us</h3>
                            02380223596
                        </a>
                    </div>
                    <div class="col-sm-2 col-sm-offset-2 col-md-offset-0 text-center">
                        <a href="javascript:void(0);" onclick="olark('api.box.expand')">
                            <img src="/Content/Images/v4/contact/LiveChatIcon.png" width="100" height="100">
                            <h3>Live Chat</h3>
                            Chat with us!
                        </a>
                    </div>
                </div>
                <hr/>
            </section>
    </section>
    <!-- contact us / -->

    <section id="map">
        <h3 class="text-center">Where to find us</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.1353101281284!2d-0.07788500000000001!3d51.529078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cbbb91f4b57%3A0xf1e49a1043f939ae!2sAccelerator+%7C+Business+Incubation+London!5e0!3m2!1sen!2suk!4v1434211191513" width="100%" height="250" frameborder="0" style="border:0"></iframe>
    </section>
</div>
    </script>
<!-- /page_contents -->
<!-- /call_to_actions -->
@* @section Scripts {
    <script>
        $(onLoad);
        function onLoad() {
            $("#thankyou-contactus").hide();
        }
        function submitContactUs() {
            $("#contactus-form").hide();
            $("#thankyou-contactus").show();
        }

        function newForm() {
            $("#contactus-form").show();
            $("#thankyou-contactus").hide();
        }
    </script>
}*@