﻿@{
    ViewBag.Title = "Partners";
    ViewBag.SubTitle = "Partners";
    ViewBag.Heading = "We only bill you your share of all the bills once a month.";
    ViewBag.MetaDescription = "Students & young professionals can now split housing bills easily. DividaBill will sort out bill payments so you can get on with the things that really matter.";
    ViewBag.MetaKeywords = "split bills, student housing bills, young professional housing bills, shared house bills, DividaBill";

}
@section Header {
    <div id="image1"></div>
}
<main>
    <section class='row'>
        <aside class='col-md-4 no-padding'>
            <div class="show-section">
                <div class="accommodation-image customer-images"></div>
                <br /><br />
                <p class="big-size align"> Shared <br />Accommodations</p>
            </div>
            <div style="opacity:0.3" class="hidden-sm hidden-xs">
                <hr style="margin-right:25%; margin-left:25%" /> <br /> <br />
                <img src="https://az754941.vo.msecnd.net/Content/Images/v4/splittingBills.jpg?width=200" class="img-circle img-aligned" width="200px" height="200px"> <br />
                <p class="cust-small-header align"> Splitting Bills With Housemates? </p> <br /> <br />
                <p class="cust-para align">Living with other people is meant to be fun,<br /> but with all of the work that goes in to running <br /> a shared house it can feel like the opposite.  </p>
                <p class="cust-para align">To make matters worse, the work can spill <br />  in to arguments and stress making it an <br /> unpleasant experience.</p> <br /><br />
                <hr style="margin-right:25%; margin-left:25%" /> <br />


                <img src="https://az754941.vo.msecnd.net/Content/Images/v4/whyworks1.jpg?width=200" class="img-circle img-aligned" width="200px" height="200px"> <br />
                <p class="cust-small-header align"> Why It Works?  </p> <br /> <br />
                <p class="cust-para align">We do all of the hard work for you.<br /> From clicking on our website you can have <br /> all of your bills under control in minutes.</p>
                <p class="cust-para align">We can even split the bill between whoever you want,<br /> all they need to do is sign up and you can change <br /> how much of the bill you pay in our portal.</p> <br /><br />
                <hr style="margin-right:25%; margin-left:25%" /><br /> <br />

                <img src="https://az754941.vo.msecnd.net/Content/Images/v4/problemSolved1.jpg?width=200" class="img-circle img-aligned" width="200px" height="200px"> <br />
                <p class="cust-small-header align"> Problem Solved </p> <br /> <br />
                <p class="cust-para align">DividaBill takes the stress and hassle away <br /> so you can enjoy being in your home. </p> <br />
                <p class="cust-para align">We are designed to make living in shared housing simpler <br /> and a better experience for everyone.</p> <br />
                <hr style="margin-right:25%; margin-left:25%" /><br />

                <a href="" type="button" class="button align-button" style="margin-bottom:40%;"> Give me a free quote</a>
            </div>
        </aside>

        <aside class='col-md-4 no-padding'>
            <div class="show-section">
                <div class="life-image customer-images"></div>
                <br /><br />
                <p class="big-size align"> Student <br />Life </p>
            </div>
            <div style="opacity:0.3" class="hidden-sm hidden-xs">
                <hr style="margin-right:25%; margin-left:25%" /> <br /> <br />
                <img src="https://az754941.vo.msecnd.net/Content/Images/v4/howBillsWork.jpg?width=200" class="img-circle img-aligned" width="200px" height="200px"> <br />
                <p class="cust-small-header align"> Not Sure How Bills Work?</p> <br /> <br />
                <p class="cust-para align">Living as a student should be the best time of your life. <br /> The new people, activities and world <br /> you enter is like nothing else.</p>
                <p class="cust-para align"> However you still have to do the difficult necessities like bills. <br />They are confusing and complex with bad consequences <br /> if you get them wrong.</p> <br /><br />
                <hr style="margin-right:25%; margin-left:25%" /> <br />

                <img src="https://az754941.vo.msecnd.net/Content/Images/v4/whyitWorks2.jpg?width=200" class="img-circle img-aligned" width="200px" height="200px"> <br />
                <p class="cust-small-header align">Why It Works? </p> <br /> <br />
                <p class="cust-para align">DividaBill is designed to make student bills easy. You sign up, choose want services you want, <br />  and we do the rest.</p>
                <p class="cust-para align">We set you up with what you choose,<br /> and can split the payments <br />between your housemates with automatic payments.</p>
                <br />
                <hr style="margin-right:25%; margin-left:25%" /> <br /><br />

                <img src="https://az754941.vo.msecnd.net/Content/Images/v4/problemSolved2.jpg?width=200" class="img-circle img-aligned" width="200px" height="200px"> <br />
                <p class="cust-small-header align"> Problem Solved </p> <br /> <br />
                <p class="cust-para align">With the bills dealt with by us, <br /> this leaves you to go and experience being a student.  </p> <br />
                <p class="cust-para align">You wont come home to finding work or problems so you can <br /> maximize your time and there wont be any fights about the bills.</p> <br />
                <hr style="margin-right:25%; margin-left:25%" /><br />

                <a href="" onclick='goTo1()' class="button align-button" style="margin-bottom:40%;"> Give me a free quote</a>
            </div>
        </aside>
        <aside class='col-md-4 no-padding'>
            <div class="show-section">
                <div class="home-image customer-images"></div>
                <br /><br />
                <p class="big-size align"> Residential <br />Home</p>
            </div>
            <div style="opacity:0.3" class="hidden-sm hidden-xs">
                <hr style="margin-right:25%; margin-left:25%" /> <br /> <br />
                <img src="https://az754941.vo.msecnd.net/Content/Images/v4/toomuchTime.jpg?width=200" class="img-circle img-aligned" width="200px" height="200px"> <br />
                <p class="cust-small-header align"> Spending Too Much Time On Bills?</p> <br /> <br />
                <p class="cust-para align">People have done bills almost the same way since when <br /> running water and electricity first started entering our homes. </p>
                <p class="cust-para align">The only thing that has really changed is <br />how many there are these days, so it wastes a lot of your time!</p> <div style="margin-bottom: 8em;"></div>
                <hr style="margin-right:25%; margin-left:25%" /> <br /> <br />


                <img src="https://az754941.vo.msecnd.net/Content/Images/v4/whyitWorks3.jpg?width=200" class="img-circle img-aligned" width="200px" height="200px"> <br />
                <p class="cust-small-header align">Why It Works? </p> <br /> <br />
                <p class="cust-para align">Signing up couldn’t be easier and <br /> there isn’t much to do after that ever again.</p>
                <p class="cust-para align">You can start with services you are ready to switch over now, <br />and add anything else later through our portal.</p><br /> <br />
                <hr style="margin-right:25%; margin-left:25%" /><br /><br />

                <img src="https://az754941.vo.msecnd.net/Content/Images/v4/problemSolved3.jpg?width=200" class="img-circle img-aligned" width="200px" height="200px"> <br />
                <p class="cust-small-header align"> Problem Solved </p> <br /> <br />
                <p class="cust-para align">DividaBill believes that it is time to make bills simpler.  </p>
                <p class="cust-para align">After you have signed up, you get to decide what to do <br />with all of your new free time.</p> <br /><br /><div style="margin-bottom: 5.5em;"></div>
                <hr style="margin-right:25%; margin-left:25%" /><br />

                <a class="button align-button" onclick='goTo1()' style="margin-bottom:40%;"> Give me a free quote</a>
            </div>
        </aside>
    </section>

</main>
<!-- /page_contents -->
@section Scripts {
    <script>

        $('.show-section').click(function () {
            $('.show-section').next().css('opacity', 0.3)
            $(this).next().css('opacity', 1);
            $(this).next().toggleClass('hidden-sm')
            $(this).next().toggleClass('hidden-xs')

        })

        $(document).ready(function () {

            $('.icons a').not('a.partners').each(function () {
                var getSection = $(this).attr('href');
                var fromTop = $("#sections").offset().top;

                $(this).click(function () {
                    $('.icons a').removeClass('selected');
                    $('.who > div').fadeOut(400);
                    $(this).addClass('selected');
                    $(getSection).delay(400).fadeIn();
                    $('html,body').animate({ scrollTop: fromTop }, 1000);
                    return false;
                });
            });

        });
    </script>
}