﻿@{
    ViewBag.Title = "Error DividaBill";
    ViewBag.SubTitle = "Ooops.. the page was not found";
    ViewBag.Heading = "Contact Us and we will solve it ASAP.";
}
<main>
    <section class='container'>
        <section class='row align'>
            <br /> <br />
            <p class='big-size '>Ooops.... the page was not found.</p> <br /><hr />
            <p class="error-text">4<img src="~/Content/Images/V4/error-face.png" width="300" height="300" />4</p>
            <p class="par align">But not to worry,<a href='~/Home/ContactUs'> CONTACT US </a>and we will solve it ASAP.</p>
        </section>
    </section>
    <div style="margin-bottom:10em"></div>
</main>