﻿@{
    ViewBag.Title = "Our prices - Student bill management";
    ViewBag.SubTitle = "Our prices";
    ViewBag.Heading = "We only bill you your share of all the bills once a month.";
	ViewBag.MetaDescription = "Prices - DividaBill provide a cost effective means of spliting your student and young professional housing bills. Find out more about our pricing.";
	ViewBag.MetaKeywords = "student bill management, student housing bill, student house bill, housing bills, divide house bills, DividaBill";
}

<div id="page_contents">
    <section id="pricing">
        <div class="grid toLeft reset padding">
            <h3>Only pay for the utilities you use + 99p a week service delivery fee.</h3>
            <p>(this lets us maintain the service!)</p>


        </div>
    </section>
    <!-- pricing / -->

    <section id="trasparency">
        <div class="grid toLeft reset">
            <div class="padding">
                <p>We’re not like some others out there with hidden costs or charges. Infact we pride ourselves on our transparency, so we’re not only going to tell you what all of our charges are, we’ll even tell you the rates we get supplied at. (we don’t add anything onto them like others do!)</p>
                <hr>
            </div>

            <div class="grid3 padding">
                <h4>Our Fees</h4>
                <p>99p a week to allow us to continue managing your utilities</p>
                <p>That’s it! We have no other fees</p>
            </div>
            <div class="grid3 padding">
                <h4>Our Charges</h4>
                <p>We don’t have any!</p>
            </div>



        </div>
    </section>
    <!-- how we bill -->

</div>
<!-- /page_contents -->

<section id="call_to_actions">
    <div class="grid toLeft reset">
        <h2>How does all this sound?</h2>
        <div class="grid3 padding">
            <p>Sound interesting!</p>
            @Html.ActionLink("Give me a free quote", "GetQuote", "Account", null, null)
        </div>
        <div class="grid3 padding">
            <p>Uhmm not sure yet..</p>
            @Html.ActionLink("Give me more information", "Questions", "Home", null, null)
        </div>
    </div>
</section>
<!-- /call_to_actions -->
