﻿@{
    Layout = null;
}
@using DividaBill.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Done!</title>
</head>
<body style="text-align:center">
    <h3>A request has been sent for the following services:</h3>

    <table border="1" align="center" style="text-align: left">
        <tr>
            <th rowspan="2">Service</th>
            <th rowspan="2">Requested?</th>
            <th colspan="2">Price per month</th>
        </tr>
        <tr>
            <th>House</th>
            <th>Tenant</th>
        </tr>
        <tr>
            <td>Electricity</td>
            <td>@(ViewBag.Services[ServiceType.Electricity] == 1 ? "Yes" : "No") </td>
            <td>@ViewBag.HousePrices[ServiceType.Electricity]</td>
            <td>@ViewBag.TenantPrices[ServiceType.Electricity]</td>
        </tr>
        <tr>
            <td>Gas</td>
            <td>@(ViewBag.Services[ServiceType.Gas] == 1 ? "Yes" : "No")</td>
            <td>@ViewBag.HousePrices[ServiceType.Gas]</td>
            <td>@ViewBag.TenantPrices[ServiceType.Gas]</td>
        </tr>
        <tr>
            <td>Water</td>
            <td>@(ViewBag.Services[ServiceType.Water] == 1 ? "Yes" : "No")</td>
            <td>@ViewBag.HousePrices[ServiceType.Water]</td>
            <td>@ViewBag.TenantPrices[ServiceType.Water]</td>
        </tr>
        <tr>
            <td>Sky</td>
            <td>@(ViewBag.Services[ServiceType.SkyTV] == 1 ? "Yes" : "No")</td>
            <td>@ViewBag.HousePrices[ServiceType.SkyTV]</td>
            <td>@ViewBag.TenantPrices[ServiceType.SkyTV]</td>
        </tr>
        <tr>
            <td>Internet</td>
            <td>@(ViewBag.Services[ServiceType.Broadband] == 2 ? "Fiber" : (ViewBag.Services[ServiceType.Broadband] == 1 ? "ADSL" : "No"))</td>
            <td>@ViewBag.HousePrices[ServiceType.Broadband]</td>
            <td>@ViewBag.TenantPrices[ServiceType.Broadband]</td>
        </tr>
        <tr>
            <td>Landline</td>
            <td>@(ViewBag.Services[ServiceType.LandlinePhone] == 2 ? "Medium" : (ViewBag.Services[ServiceType.LandlinePhone] == 1 ? "Basic" : "No"))</td>
            <td>@ViewBag.HousePrices[ServiceType.LandlinePhone]</td>
            <td>@ViewBag.TenantPrices[ServiceType.LandlinePhone]</td>
        </tr>
        <tr>
            <th colspan="2">
                Sum Total
            </th>
            <td align="right">
                @ViewBag.HouseTotal
            </td>
            <td align="right">
                @ViewBag.TenantTotal
            </td>
        </tr>
    </table>
    <form>
        <input type="submit" value="Back to client portal" formaction="/" />
    </form>
</body>
</html>
