﻿@model DividaBill.Models.Bills.HouseholdBill
@using DividaBill.Library
@using DividaBill.Models;

@{
    ViewBag.Title = "Details";
}

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-shopping-cart"></i>Bill #@Model.ID
                </div>
            </div>
            <div class="portlet-body">
                <div class="tabbable">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="portlet yellow box">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-cogs"></i>Bill Details
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    Bill #:
                                                </div>
                                                <div class="col-md-7 value">
                                                    @Model.ID
                                                    <span class="label label-info label-sm">
                                                        Email confirmation was sent
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    Start Date:
                                                </div>
                                                <div class="col-md-7 value">
                                                    @Model.StartDate.ToStringDateFormat()
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    End Date:
                                                </div>
                                                <div class="col-md-7 value">
                                                    @Model.EndDate.ToStringDateFormat()
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    Created Date:
                                                </div>
                                                <div class="col-md-7 value">
                                                    @Model.CreatedDate.ToStringDateFormat()
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    Grand Total:
                                                </div>
                                                <div class="col-md-7 value">
                                                    @Model.TotalBill
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="portlet blue box">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-cogs"></i>House Information
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    House #:
                                                </div>
                                                <div class="col-md-7 value">
                                                    @Html.ActionLink(@Model.House.ID.ToString(), "Details", "Houses", new { id = @Model.House.ID }, null)
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    Address:
                                                </div>
                                                <div class="col-md-7 value">
                                                    @Model.House.Address.ToString()
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    Tenants:
                                                </div>
                                                <div class="col-md-7 value">
                                                    @Html.Raw("Total tenant count: " + Model.House.Tenants.Count + "<br />")
                                                    @{
                                                        var i = 0;
                                                        foreach (var item in Model.House.Tenants)
                                                        {
                                                            i++;
                                                            @Html.Raw(i + ". " + item.FullName + "<br/>");
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="portlet purple box">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-cogs"></i>Composite Bills
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Bill Type
                                                            </th>
                                                            <th>
                                                                Bill Status
                                                            </th>
                                                            <th>
                                                                Start Date
                                                            </th>
                                                            <th>
                                                                End Date
                                                            </th>
                                                            <th>
                                                                Amount
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var ty in ServiceType.All)
                                                        {
                                                            var service = @Model.UtilityBills.Where(x => x.Contract.ServiceNew_ID == ty.Id).SingleOrDefault();
                                                            <tr>
                                                                <td>
                                                                    @ty.Name
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-success">

                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    @if (service != null)
                                                                    {
                                                                        var serviceStartDate = Model.StartDate;
                                                                        if (service.Contract.StartDate.HasValue
                                                                            && serviceStartDate < service.Contract.StartDate.Value)
                                                                        {
                                                                            serviceStartDate = service.Contract.StartDate.Value.DateTime;
                                                                        }
                                                                        @Html.Raw(serviceStartDate.ToStringDateFormat())
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (service != null)
                                                                    {
                                                                        var serviceEndDate = Model.EndDate;
                                                                        if (serviceEndDate > service.Contract.EndDate)
                                                                        {
                                                                            serviceEndDate = service.Contract.EndDate.DateTime;
                                                                        }
                                                                        @Html.Raw(serviceEndDate.ToStringDateFormat())
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (service != null)
                                                                    {
                                                                        @service.Ammount
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END PAGE CONTENT-->