﻿@model IEnumerable<DividaBill.ViewModels.DataTables.HouseHoldBillsViewModel>
@using DividaBill.Library
@{
    ViewBag.Title = "Bills";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>@ViewBag.Title
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="btn-group">
                        @{
                            var selectedDate = DateTime.Now;
                            if (!DateTime.TryParse(ViewData["SelectedDate"].ToString(), out selectedDate))
                            {
                                selectedDate = DateTime.Now;
                            }

                            var monthsList = System.Globalization.DateTimeFormatInfo
                                                .InvariantInfo
                                                .MonthNames
                                                .Select((monthName, index) => new SelectListItem
                                                {
                                                    Value = (index + 1).ToString(),
                                                    Text = monthName,
                                                    Selected = selectedDate.Month == (index + 1)
                                                })
                                                .Where(x => !string.IsNullOrEmpty(x.Text));
                        }
                        <div>
                            @Html.DropDownList("BillMonth", monthsList)
                            @Html.DropDownList("BillYear", (ViewData["YearsList"] as IEnumerable<SelectListItem>))
                            <button id="billsDateSelect" class="btn green">
                                Select
                            </button>
                        </div>
                    </div>


                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#">
                                    Print
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Save as PDF
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Export to Excel
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="billsTable">
                    <thead>
                        <tr>
                            <th class="table-checkbox">
                                <input type="checkbox" class="group-checkable" data-set="#billsTable .checkboxes">
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HouseID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PaymentDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalBill)
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @{var i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr class="gradeX @{ if (i % 2 == 0)
                                                         { <text> even </text>       }
                                                         else
                                                         { <text> odd </text>      }} ">
                                <td>
                                    <input type="checkbox" class="checkboxes" value="@item.ID">
                                </td>
                                <td>
                                    @Html.ActionLink(item.ID, "Details", new { id = item.ID })
                                </td>
                                <td>
                                    @Html.ActionLink(item.HouseID.ToString(), "Details", "Houses", new {id = item.HouseID}, null)
                                </td>
                                <td>
                                    @Html.Raw(item.Address.ToString().Replace(",", ",<br/>"))
                                </td>
                                <td>
                                    @item.CreatedDate.ToStringDateFormat()
                                </td>
                                <td>
                                    @item.PaymentDate.ToStringDateFormat()
                                </td>
                                <td class="center ">
                                    @item.StartDate.ToStringDateFormat()
                                </td>
                                <td class="center ">
                                    @item.EndDate.ToStringDateFormat()
                                </td>
                                <td>
                                    @item.TotalBill
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                                </td>
                            </tr>
    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>


@section Scripts {
    @Scripts.Render("~/bundles/adminTables")
    @Scripts.Render("~/bundles/admin-billsDetailsTable")
    @Styles.Render("~/Content/adminTables")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            TableManaged.init();
        });

        $('#billsDateSelect').click(
            function () {
                window.location.href = "?date=" + encodeURI("01/" + $('#BillMonth').val() + '/' + $('#BillYear').val());
            }
            );
    </script>
}