﻿@model DividaBill.ViewModels.ForgotPasswordViewModel
<!-- BEGIN FORGOT PASSWORD FORM -->
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "forget-form", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h3>Forget Password ?</h3>

    <p>

        Enter your e-mail address below to reset your password.

    </p>

    <div class="form-group">

        <div class="input-icon">

            <i class="fa fa-envelope"></i>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", @placeholder = "Email" })

        </div>

    </div>

    <div class="form-actions">

        <button type="button" id="back-btn" class="btn">

            <i class="m-icon-swapleft"></i> Back
        </button>

        <button type="submit" class="btn blue pull-right">

            Submit <i class="m-icon-swapright m-icon-white"></i>

        </button>

    </div>

}

<!-- END FORGOT PASSWORD FORM -->