﻿@model DividaBill.ViewModels.LoginViewModel

<!-- BEGIN LOGIN FORM -->
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h3 class="form-title">Login to your account</h3>

    <div class="alert alert-danger display-hide">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })


        <button class="close" data-close="alert"></button>

        <span>

            Enter any username and password.

        </span>

    </div>

    <div class="form-group">

        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        @Html.LabelFor(m => m.Email, new { @class = "control-label visible-ie8 visible-ie9" })

        <div class="input-icon">

            <i class="fa fa-user"></i>

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", @placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label visible-ie8 visible-ie9" })

        <div class="input-icon">

            <i class="fa fa-lock"></i>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

        </div>

    </div>

    <div class="form-actions">

        <label class="checkbox">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </label>

        <button type="submit" class="btn blue pull-right">

            Login <i class="m-icon-swapright m-icon-white"></i>

        </button>

    </div>
    @* @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })*@


    <div class="forget-password">

        <h4>Forgot your password ?</h4>

        <p>

            no worries, click

            <a href="javascript:;" id="forget-password">

                here

            </a>

            to reset your password.

        </p>

    </div>

        <div class="create-account">

            <p>

                Don't have an account yet ?&nbsp;

                @Html.ActionLink("Create an account", "SignUp")

            </p>

        </div>

}

<!-- END LOGIN FORM -->
