﻿@model Dividabill.Models.HouseModel

@{
    ViewBag.Title = "Edit";
}

<div class="row">

    <div class="col-md-12">

        @using (Html.BeginForm("Edit", "Houses", FormMethod.Post, new { @class = "form-horizontal form-row-seperated", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="portlet">

                <div class="portlet-title">

                    <div class="caption">

                        <i class="fa fa-pencil"></i>Edit User

                    </div>

                    <div class="actions btn-set">

                        <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-angle-left"></i> Back</a>
                        <a href="@Request.Url.PathAndQuery" class="btn default"><i class="fa fa-reply"></i> Reset</a>
                        <button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>

                    </div>

                </div>

                <div class="portlet-body">

                    <div class="tabbable">

                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_general" data-toggle="tab">Personal</a>
                            </li>
                            <li>
                                <a href="#tab_address" data-toggle="tab">Address</a>
                            </li>
                            <li>
                                <a href="#tab_notes" data-toggle="tab">Notes</a>
                            </li>
                            <li>
                                <a href="#tab_tenants" data-toggle="tab">Tenants</a>
                            </li>
                        </ul>

                        <div class="tab-content no-space">

                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.ID)

                            <div class="tab-pane active" id="tab_general">

                                <div class="form-body">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.JQueryUI().DatepickerFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.JQueryUI().DatepickerFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.RegisteredDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.JQueryUI().DatepickerFor(model => model.RegisteredDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.RegisteredDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SetUpDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.JQueryUI().DatepickerFor(model => model.SetUpDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.SetUpDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Electricity, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Electricity, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Electricity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Gas, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Gas, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Gas, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Water, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Water, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Water, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Media, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Media, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Media, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Housemates, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Housemates, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Housemates, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane" id="tab_address">

                                <div class="form-body">


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane" id="tab_notes">
                                <div class="form-body">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab_tenants">
                                <div class="form-body">

                                    @foreach (Dividabill.Models.User tenant in Model.Tenants)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-md-3">@tenant.FullName</label>
                                            <div class="col-md-4">
                                                @Ajax.ActionLink("Remove", "RemoveTenantFromHouse", new { tenantID = tenant.Id, houseID = Model.ID }, new AjaxOptions
                                           {
                                               HttpMethod = "POST",
                                               OnSuccess = "success"
                                           }, new { id = "removeTenant" })

                                            </div>
                                        </div>
                                    }


                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        }
    </div>

</div>

<!-- END PAGE CONTENT-->
@section Scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/editHouse")
    @Styles.Render("~/Content/themes/base/css")
}