﻿@model IEnumerable<Dividabill.Areas.Admin.ViewModels.ProblemHousesViewModel>

@{
    ViewBag.Title = "Merge Houses";
}



<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>@ViewBag.Title
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            @using (Ajax.BeginForm("MergeHouses", "Houses", new AjaxOptions
            {
                HttpMethod = "POST",
                AllowCache = false,
                Confirm = "Are you sure you want to merge the selected houses? This action cannot be undone.",
            }))
            {
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="btn-group pull-right">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Tools <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="#">
                                        Print
                                    </a>
                                </li>
                                <li>
                                    <input type="submit" value="Merge" />
                                </li>
                                <li>
                                    @Html.ActionLink("Export to Excel", "Export", new { Type = "ProblemHouses" })
                                </li>
                            </ul>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="problemHousesTable">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HouseAddress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RegisteredTenants)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalTenants)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RegisteredDate)
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @{var i = 0;}
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr class="gradeX @{ if (i % 2 == 0)
                                                         { <text> even </text>       }
                                                         else
                                                         { <text> odd </text>      }} " data-id="@item.ID">

                                    <td>
                                        <input type="checkbox" name="houses" value="@item.ID" />
                                    </td>
                                    <td>
                                        @item.HouseAddress
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegisteredTenants)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalTenants)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegisteredDate)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn default edit", @id = "edit" })
                                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn default details", @id = "details" })
                                        @Html.ActionLink("Archive", "", null, new { @class = "btn default archive", @id = "archive", @data_request_url = @Url.Action("Archive", "Houses") })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>


@section Scripts {
    @Scripts.Render("~/bundles/adminTables")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/admin-problemHousesDetailsTable")
    @Styles.Render("~/Content/adminTables")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            TableManaged.init();
        });
    </script>
}