﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - DividaBill</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://az754941.vo.msecnd.net/Content/Images/v4/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="https://az754941.vo.msecnd.net/Content/Images/v4/favicon.ico" />
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta name="keywords" content="@ViewBag.MetaKeywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css2")
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "5e12033f-6c09-4c4a-8079-0cfcece5ba1e"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="header-section"></header>
        <div class="main-region"></div>
        <script type="text/template" id="main-window-tpl">
            <main id="content">
            </main>
            <br /><br />
        </script>
        <footer id="footer"></footer>
               
        @{Html.RenderPartial("~/Views/Account/RegisterPartial/Bank.cshtml");}
        @{Html.RenderPartial("~/Views/Account/RegisterPartial/House.cshtml");}
        @{Html.RenderPartial("~/Views/Account/RegisterPartial/Personal.cshtml");}
        @{Html.RenderPartial("~/Views/Account/RegisterPartial/Services.cshtml");}
        @{Html.RenderPartial("~/Views/Account/SignUp.cshtml");}
        @{Html.RenderPartial("~/Views/Home/AboutUs.cshtml");}
        @{Html.RenderPartial("~/Views/Home/ContactUs.cshtml");}
        @{Html.RenderPartial("~/Views/Home/Index.cshtml");}
        @{Html.RenderPartial("~/Views/Home/Services.cshtml");}
        @{Html.RenderPartial("~/Views/Shared/Header.cshtml");}
        @{Html.RenderPartial("~/Views/Account/Confirmation.cshtml");}
        @{Html.RenderPartial("~/Views/Shared/Footer.cshtml");}


        @RenderBody()
        <div id="overlay" style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; background: #000; opacity: 0.8; filter: alpha(opacity=80); display: none; z-index: 9999;">
            <img style="width: 50px; height: 57px; position: absolute; top: 50%; left: 50%; margin: -28px 0 0 -25px;" src="/Content/Images/v4/loading4.gif">
        </div>
        <!-- Google Code for Remarketing Tag -->
        <!--------------------------------------------------
        Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
        --------------------------------------------------->
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 982393936;
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/982393936/?value=0&amp;guid=ON&amp;script=0" />
            </div>
        </noscript>

        <!-- Move to bundle after testing -->
        <!-- begin olark code -->
        <script data-cfasync="false" type='text/javascript'></script>
        <noscript><a href="https://www.olark.com/site/9470-465-10-7765/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
        <!-- end olark code -->
        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-5T86QP"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
        </script>
        <!-- End Google Tag Manager -->
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/site")
        @RenderSection("scripts", required: false)
        @Scripts.RenderFormat(@"<script type=""text/javascript"" src=""{0}"" async></script>", "~/bundles/zxcvbn")
</body>
</html>
