﻿<script id="footer-tpl" type="text/template">
    <div class="footer">
        <aside class='row'>
            <aside class="col-sm-11 col-sm-offset-1">
                <a href="/"><img src="https://az754941.vo.msecnd.net/Content/Images/v4/dividabill_logo_l.png" width="100px"></a>
            </aside>
        </aside>
        <br />
        <section class='row'>
            <aside class="col-sm-2 col-sm-offset-1 col-xs-6">
                @Html.ActionLink("About Us", "AboutUs", "Home") <br />
                @Html.ActionLink("Services", "Services", "Home") <br />
                @Html.ActionLink("Terms of Use", "TermsOfUse", "Home") <br />
            </aside>
            <aside class="col-sm-2 col-xs-6">
                <a href="http://blog.dividabill.co.uk" target="_blank">Blog</a> <br />
                @Html.ActionLink("Privacy Policy", "Privacy", "Home") <br />
                @Html.ActionLink("Contact Us", "ContactUs", "Home") <br />
            </aside>
            <aside class='col-sm-3 col-sm-offset-1 col-xs-6'>
                <p> Join Us On <p>
                <p>
                    <a href="https://www.linkedin.com/company/dividabill" target="_blank"><i class="fa fa-linkedin-square fa-2x media-icon"></i> </a>
                    <a href="http://twitter.com/dividabill/" target="_blank"><i class="fa fa-twitter-square fa-2x media-icon"></i> </a>
                    <a href="http://facebook.com/dividabill/" target="_blank"><i class="fa fa-facebook-square fa-2x media-icon"></i> </a>
                    <a href="https://plus.google.com/117719664197593106714/about" target="_blank"><i class="fa fa-google-plus-square fa-2x media-icon"></i> </a>
                </p>
            </aside>
            <aside class='col-sm-3 col-xs-6'><p>© Copyright Soleus Ltd @DateTime.Now.Year</p> <p> Phone: <a href="tel:02380223596">02380223596</a>  <br> Email: <a href="mailto:support@dividabill.co.uk" class="email-footer">support@dividabill.co.uk</a> </p></aside>
        </section>
    </div>
</script>