﻿<script type="text/template" id="header-tpl">
    <nav role="navigation" class="navi navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header navbar-left pull-left">
                <button data-target="" class="nav-button navbar-brand logo col-md-offset-1" href="/"><img src="https://az754941.vo.msecnd.net/Content/Images/logo.png" width="130px"></button>
            </div>
            <div class="navbar-header navbar-right pull-right">
                <ul class="nav pull-left">
                    <li class="dropdown drop_cart" style="display:none;" data-toggle="popover" data-trigger="manual" data-container="body" data-placement="bottom">
                        <a class="dropdown-toggle bold-link" role="button" aria-haspopup="true" aria-expanded="true" id="basket">Your Quote <i class="fa fa-angle-double-down"></i></a>
                        <ul class="dropdown-menu basket dropdown-menu-right" aria-labelledby="basket">
                            <li class="b_services">
                                <table class="table dropdown-header" style="padding:0;display: inline-table ">
                                    <tr>
                                        <td>Total Services: <span class="totalServices">0</span></td>
                                        <td>Tenants:<span class="number_tenants">0</span></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Service</td>
                                        <td>
                                            Price per <br />
                                            <input data-style="ios" class="get_price" type="checkbox" checked data-toggle="toggle" data-on="week/person" data-off="week/house" data-width="100" data-height="35">
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <li>
                                <table class="table basket_services"></table>
                            </li>
                            <li><hr /></li>
                            <li><p class="small text-center">Total per person/week: <span class="pricePerson"> 0</span></p></li>
                            <li><p class="small text-center"> Total per house/week: <span class="priceHouse"> 0</span> </p></li>
                        </ul>
                    </li>
                    <li style="font-weight: bolder;"><button type="button" data-target="Account/SignUp" class="signup-nav bold-link nav-button">Sign Up </button></li>
                </ul>
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="visible-xs-block clearfix"></div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><button class="nav-button" type="button" data-target="Home/Services"> Services </button></li>
                    <li><button class="nav-button" type="button" data-target="Home/AboutUs">About Us </button> </li>
                    <li><button class="nav-button" type="button" data-target="Home/ContactUs"> Contact Us </button></li>
                </ul>
            </div>
        </div>
    </nav>

</script>

