﻿html,
body {
    width: 100%;
    height: 100%;
    /* overflow-x: hidden;
    overflow-y: scroll;*/
    -webkit-overflow-scrolling: touch;
    padding: 0px !important;
    margin: 0px !important;
}

/* FONTS */
@font-face {
    font-family: 'HelveticaNeueLTStd UltLt';
    src: url("/Content/Fonts/HelveticaNeueLTStd-UltLt.eot");
    src: local('☺'), url('/Content/Fonts/HelveticaNeueLTStd-UltLt.woff') format('woff'), url('/Content/Fonts/HelveticaNeueLTStd-UltLt.ttf') format('truetype'), url('/Content/Fonts/HelveticaNeueLTStd-UltLt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Light';
    src: url("/Content/Fonts/Lato-Light.ttf");
   /* src: local('☺'), url('/Content/Fonts/HelveticaNeueLTStd-UltLt.woff') format('woff'), url('/Content/Fonts/HelveticaNeueLTStd-UltLt.ttf') format('truetype'), url('/Content/Fonts/HelveticaNeueLTStd-UltLt.svg') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("/Content/Fonts/Lato-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Heavy';
    src: url("/Content/Fonts/Lato-Heavy.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("/Content/Fonts/Ubuntu-R.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url("/Content/Fonts/Ubuntu-B.ttf");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Sanchez';
    src: url("/Content/Fonts/Sanchezregular.otf");
    font-weight: normal;
    font-style: normal;
}
/* ----------- */

/*TEXT ATTRIBUTES CUSTOM CSS*/
h1 {
    font-size: 48px;
    font-family: "Lato Light";
    font-variant: small-caps;
}

h2 {
    font-size: 36px;
    font-family: "Lato Light";
    font-variant: small-caps;
}

h3 {
    font-size: 24px;
    font-family: Lato;
}

h4 {
    font-size: 22px;
    font-family: Lato;
}

h5 {
    font-size: 16px;
    font-family: Lato;
}

h6 {
    font-size: 16px;
    font-family: Ubuntu;
}

p {
    font-size: 16px;
    font-family: Ubuntu;
}


.small, li {
    font-family: Ubuntu;
    font-size: 13px;
}
/* END TEXT ATTRIBUTES CSS*/

/*BASKET CSS*/
.basket {
    width: 280px !important;
    padding: 10px;
    max-height: 40em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.drop_cart, .signup-nav {
    margin-right: 1em;
}

.remove_basket {
    font-size: 18px;
    vertical-align: middle;
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
}

.basket-service {
    color: white;
    border: 1px solid;
    height: 40px;
    padding-top: 8px;
    width: 40px;
    font-size: 5px;
    border-radius: 100px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.basket-service-prices {
    margin-left: 45px;
    vertical-align: middle;
    padding-top: 5px;
}

.basket-service i {
    font-size: 25px;
    color: white;
}

.b_services > table td {
    font-family: Ubuntu;
    font-size: 14px;
    text-align: center;
}

.personp, .housep, .pricePerson, .priceHouse {
    font-family: Ubuntu;
    font-size: 15px;
}

.blinker{
    animation: blinker 1s linear 2;
}
/*END BASKET CSS*/

/*JJ CUSTOM CSS*/
@keyframes blinker {  
  50% { opacity: 0.0; }
}

.aligned {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.checkbox input[type="checkbox"], a {
    cursor: pointer;
}

.button {
    font-family: "Lato Light";
    font-variant: small-caps;
    outline: none;
}

.form-control, .bootstrap-select > .dropdown-toggle {
    font-family: Lato !important ;
}

label {
    font-family: Lato;
}

button, .button {
    font-family: "Lato Light";
    outline:0;
}

input:focus {
    background-color: #F5F5F5;
    border-color: #F5F5F5;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#check1, #check3, #BroadbandTypeADSL20, #BroadbandTypeFibre40, #LandlineTypeBasic, #LandlineTypeMedium, .change, #get_geo {
    cursor: pointer;
}

/*Custom Info Box Not Used at the moment*/
.info-box {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 1em;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.309804);
    -webkit-transition: box-shadow 3s ease-in-out;
    -moz-transition: box-shadow 3s ease-in-out;
    transition: box-shadow 3s ease-in-out;
}

.main-region {
    min-height: 76%;
    padding-top: 75px;
}

.modal-body ul {
    padding-left: 20px;
}

.pass-validate {
    margin-bottom: 0px;
}
/*END JJ CSS*/

/*BOOTSTRAP CUSTOM CSS*/
.toggle.ios, .toggle-on.ios, .toggle-off.ios 
{ 
    border-radius: 20px; 

}
.toggle.ios .toggle-handle 
{ 
    border-radius: 20px; 
}

.carousel-friends {
    bottom: -30px;
}
.change-indi-colour ol li {
    border: 1px solid gray;
}
.change-indi-colour .active {
    background-color: black;
}
.toggle-on {
    margin-bottom: 1px;
}
button.close {
    color: white;
    z-index: 1;
    opacity: 1;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.toggle-group > label {
        font-size: 12px;
        padding-top: 8px;
}

.form-group > label {
    font-family: Lato;
}

.modal-header {
    background-color: #29AAE1;
    text-align: center;
}

.modal-header > h3 {
    font-family: "Lato Light";
}

.bootstrap-select {
    padding: 0px;
}

.container-fluid {
    z-index: 0;
}

.blue-popover {
    padding: 9px 14px;
    background-color: #29AAE1;
    border-color: #29AAE1;
    color: white;
    text-align: center;
    z-index: 10;
}
.close-popover {
    position: absolute;
    top: 3px;
    right: 2px;
    cursor: pointer;
}

/*BUTTONS*/
.btn-primary {
 	background-color: #29AAE1;
}


.custom-btn {
    background-color: #29AAE1;
}


.small-button {
    font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 15px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    background-color: #29AAE1;
    border: 0px;
    border-radius: 30px;
    margin-top: 2%;
}
.small-button:hover, .small-button:focus {
    background-color: #147EAB;
    color: white;
    outline: 0;
}

/*Sidebar services active */
.Electricity.active {
    background-color: #E74B3C;
}

.Gas.active {
    background-color: #F29B11;
}

.Water.active {
    background-color: #3596DA;
}

.Internet.active, .Telephone.active {
    background-color: #19937B;
}

.Television.active {
    background-color: #7863E0;
}

.Sky {
    fill: #374F6E;
    border: 2px solid #374F6E;
}

.Electricity.active i, .Gas.active i, .Water.active i, .Internet.active i, .Telephone.active i, .Television.active i, .Telephone.active i {
    color: white;
}

/*Sidebar Services*/
.Electricity {
    color: #E74B3C;
    border: 2px solid #E74B3C;
}

.Gas {
    color: #F29B11;
    border: 2px solid #F29B11;
}

.Water {
    color: #3596DA;
    border: 2px solid #3596DA;
}

.Internet {
    color: #19937B;
    border: 2px solid #19937B;
}

.Television {
    color: #7863E0;
    border: 2px solid #7863E0;
}

.Telephone {
    color: #19937B;
    border: 2px solid #19937B;
}

.Sky.active {
    fill: white;
    background-color: #374F6E;
}
/*End BUTTONS CSS*/


/*END BOOTSTRAP CSS*/

/*Navigation Bar*/
.navi {
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid rgba(136, 136, 136, 0.35);
    box-shadow: 0px 1px 20px 0px #888888;
    background-color: white;
    border: 0px;
}

.navbar-default .navbar-nav > li > button:hover, .nav > li > a:hover, .nav > li > a:focus, .nav .open > a {
    color: #29aae1;
    border: 1px solid #29aae1 !important;
    border-radius: 20px;
    background-color: #fff;
    padding: 7px 13px 5px 13px;
    background-color: transparent !important;
    margin-top: 4px;
}

.navbar-default ul li button, .navbar-default ul li a {
    font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 16px;
    color: #4D4D4D;
    color: rgb(77, 77, 77);
    padding: 7px 14px 5px 14px;
    margin-top: 5px;
    outline: none;
    font-variant: normal;
}

.nav-button {
    border: 0px;
    background-color: transparent;
    outline: none;
}

a:hover {
    text-decoration: none;

}

.logo {
    padding: 0px;
    margin-right: 1em;
}

.navi {
    padding: 10px 0px 5px 0px;
}

.signup-link {
    font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 26px;
    color: #A6A6A6;
    cursor: pointer;
}

.bold-link {
    color: white !important;
    background-color: #29AAE1;
    border: 1px solid #29AAE1;
    border-radius: 20px;
    outline: 0;
}

.bold-link:hover, .bold-link:focus {
    color: #29AAE1 !important;
    background-color: white !important;
    outline: 0 !important;
}

.nav .open > .bold-link {
    color: #337ab7 !important;
}
/*END NAVIGATION BAR CSS*/

/*Home Page*/
.getQuoteForm {
    background-color: rgba(125, 122, 122, 0.23);
    padding: 15px 5px 0px 5px;
    border-radius: 15px;
    box-shadow: -1px 3px 4px black;
}
.header-title-onpic {

    font-size: 69px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    margin: 0px;
}
.bck {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.45);
}
.home-header {
    display: table;
    position: relative;
    width: 100%;
    height: 51em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin-bottom: 10em;
}
.move-in {
    background: url("https://az754941.vo.msecnd.net/Content/Images/v4/movein.jpg?height=525&Mode=Crop") center center;
}
.get-settled {
    background: url("https://az754941.vo.msecnd.net/Content/Images/v4/getsettled.jpg?height=525&Mode=Crop") center center;
}

.live-simple {
    background: url("https://az754941.vo.msecnd.net/Content/Images/v4/livesimply.jpg?height=525&Mode=Crop") center center;
}
.simplify-box {
    height: 525px;
    overflow: hidden;
    position: relative;
}

.simplify-title-box {
    position: absolute;
    text-align: center;
    width: 100%;
    top: -1px;
}

.simplify-box-title {
    font-size: 28px;
    font-family: "Lato Light";
    font-variant: small-caps;
}
.simplify-box-info {
    font-family: 'Helvetica Light';
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: rgba(41, 170, 225, 0.78);
    width: 100%;
    padding: 2em 1em 1em 1em;
}

.oval {
    margin: auto;
    background-color: white;
    height: 5em;
    width: 80%;
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.home-button {
    font-family: HelveticaCE Cond;
    font-size: 20px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 30px;
    padding: 12px 30px;
    background-color: #29AAE1;
}

.home-button:hover, .home-button:focus {
    background-color: #147EAB;
    color: white;
}

.grey {
    background-color: rgba(128, 128, 128, 0.08);
    border-radius: 7px;
    padding-top: 2em;
    padding-bottom: 3em;
}
video {
    width: 100%;
    position: absolute;
}

.in-img {
    z-index: 1;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}



#btn-quote {
    display: none;
}
.quote-form {
    background-color: rgba(255,255,255,0.9);
    border-radius: 6px;
    padding: 15px 0px 0px 0px;
}


#footer {
    overflow: hidden;
    width: 100%;
    position: relative;
    bottom: -20px;
}

.footer{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a,footer p {
    font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 16px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
}

.footer a i:hover {
    color: #337ab7
}
.footer a i {
    color: rgba(255, 255, 255, 0.36);
}
/*SIMPLY SCROLL CUSTOM CSS*/
.simply-scroll {
    width: 100% !important;
    height: 160px !important;
    margin-bottom: 0px !important;
}

.simply-scroll .simply-scroll-clip {
    width: 100% !important;
    padding: 20px !important;
    background-color: rgba(255, 255, 255, 0.99) !important;
    height: 160px !important;
}

.simply-scroll .simply-scroll-list li {
    width: 140px !important;
    height: 140px !important;
}

/*END OF SIMPLY SCROLL*/

/*END OF HOME PAGE CSS*/

/*Sign Up*/
.signup-header {
    font-family: "Lato Light";
    font-size: 25px;
}

.question-info {
    margin-top: 4px;
    color: rgba(242, 155, 17, 0.58);
}

.services_prices {
    border: 2px solid #19937B;
    border-radius: 100px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
    width: 75px;
    background-color: white;
    margin-top: 3px;
    font-family: Sanchez;
    font-style: normal;
    font-size: 16px;
    display: table;
    margin: 0 auto;
}

.total_price_person, .total_price_house {
    display: table-cell;
    vertical-align: middle;
}

.service-box p.small {
    margin:0;
}

.button-icon {
    font-size: 26px;
    color: #19937B;
    background-color: transparent;
    margin-top: 5%;
    border: 0px;
}

.button-icon:hover {
    color: #337ab7;
}
.third-single-img i {
    font-size: 40px;
}

.button-green {
    font-size: 15px;
    color: #8BC53F;
    border: 1px solid #8BC53F;
    border-radius: 20px;
    background-color: white;
    padding: 10px 50px;
    margin-bottom: 10px;

}

.button-green:hover {
    background-color: #8BC53F;
    color: white;
}
.button-warning {
    font-size: 15px;
    color: #C1272D;
    border: 1px solid #C1272D;
    border-radius: 20px;
    background-color: white;
    padding: 10px 40px;
    margin-bottom: 10px;
}
.button-warning:hover {
    background-color: #9B363A;
    color: white;
}
.radio > label {
    color: #29AAE1;
}

.quick-find {
    font-size: 15px;
    color: #29ABE2;
    color: rgb(41, 171, 226);
    border: 1px solid #29AAE1;
    border-radius: 20px;
    color: #29AAE1;
    background-color: white;
    padding: 7px 15px;
    outline: 0;
}

.quick-find:hover {
    color: white;
    background-color: #29AAE1;
    text-decoration: none;
}

.step-one, .step-two, .step-three, .step-four {
    position: absolute;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 50%;
    bottom: 7px;
    border: 1px solid #f5f5f5;
    color: #A5A5A5;
    transition: 1s;
}

.step-one {
    left: 0px;
}

.step-two {
    left: 30%;
}

.bar {
    background-color: #19937b !important;
}

.step-three {
    right: 30%;
    padding-left: 12px;
    padding-right: 12px;
}

.step-four {
    right: 0px;
}

.step-active {
    color: white;
    background-color: #f29b11;
    border: 0px;
}

.step-done {
    color: white;
    background-color: #19937b;
    border: 0px;
}

.error {
    color: #e74b3c;
    font-weight: normal;
    font-size: 14px;
}

.orange-info-box {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 1px solid #F7931E;
    border-radius: 1em;
}

/*NEW DESIGN SERVICES SIGNUP*/
.tv-box-text {
    font-family: Ubuntu;
    font-size: 15px;
    color: #29AAE1;
}
.right {
    float: right;
}
.service-box-icon {
    min-height: 75px;
    min-width: 75px;
}

.service-box {
    width: 100%;
    display: block;
    min-height: 75px;
    border-radius: 5px;
}

.third-single-img {
    border-radius: 100px;
    height: 75px;
    margin: 0 auto;
    padding-top: 17px;
    text-align: center;
    width: 75px;
    background-color: white;
    margin-top: 3px;
}

/*Signup Services arrows*/
.front-content:after, .back-content:after {
    position: absolute;
    right: 100%;
    top: 33px;
    border: solid rgba(0, 0, 0, 0);
    border-right-color: rgba(0,0,0,0.2);
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
    border-width: 10px;
    margin-top: -3px;
}

/* Signup Service Container */
.service-content-container {
    position: relative;
    margin-left: 90px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

/* Signup service flipper */
.flipper {
    -webkit-transform-origin: 100% 213.5px;
    -moz-transform-origin: 100% 213.5px;
    -ms-transform-origin: 100% 213.5px;
    transform-origin: 100% 213.5px;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

/* Signup service back content*/
.back-content {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

/* Signup service front content*/
.front-content {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

/*Signup service rotate back content*/
.back-transform {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

/*Signup service rotate front content*/
.front-transform {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

/*Signup service front and back content*/
.front-content, .back-content {
    width: 100%;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    min-height: 90px;
    border-radius: 1em;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.309804);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

/*SIGNUP SERVICES CSS - ACTIVE AND UNACTIVE */
.Electricity {
    color: #E74B3C;
    border: 2px solid #E74B3C;
}

.Electricity-active {
    color: white;
    background-color: #E74B3C;
}

.Gas {
    color: #F29B11;
    border: 2px solid #F29B11;
}

.Gas-active {
    color: white;
    background-color: #F29B11;
}

.Water {
    color: #3596DA;
    border: 2px solid #3596DA;
}

.Water-active {
    color: white;
    background-color: #3596DA;
}

.Internet {
    color: #19937B;
    border: 2px solid #19937B;
}


.Internet-active {
    color: white;
    background-color: #19937B;
}

.Television {
    color: #7863E0;
    border: 2px solid #7863E0;
}

.Television-active {
    color: white;
    background-color: #7863E0;
}

.Telephone {
    color: #19937B;
    border: 2px solid #19937B;
}

.Telephone-active {
    color: white;
    background-color: #19937B;
}

/*END SIGNUP SERVICES CSS*/

/*END SIGNUP CSS*/

/*VALIDATION CSS*/
#ServicesGroup-error {
    font-size: 20px;
    font-family: Lato;
}
/*END VALIDATION CSS*/

/*SERVICES PAGE CSS*/
/*Services borders with linear gradient*/

.water-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/water-service.jpg?height=500");
    background-position: 0;
}

.internet-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/internet-service.jpg?height=500");
    background-position: 0;
}

.sky-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/tv-service.jpg?height=500");
    background-position: 0;
}

.netflix-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/netflix-service.jpg?height=500");
    background-position: 0;
}

.phone-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/phone-service.jpg?height=500");
    background-repeat: round;
}

.tv-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/tvlicense-service.jpg?height=500");
    background-position: 0;
}

.gas-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/gas-service.jpg?height=500");
    background-position: 0;
}


/*---------------*/
.services-header {
    background-image: url("/Content/Images/services-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    text-align: center;
    display: table;
}

.services-header-info {
    display: table-cell;
    vertical-align: middle;
}

.services-header-icon {
    font-size: 7em;
    color: white;
}

.services-page-title {
    color: white !important;
}

.our-services {
    width: 100%;
    height: 300px;
    position: relative;
}

.services-image {
    width: 100%;
    height: 300px;
    background-size: cover;
}

.left-position {
    position: absolute;
    top: 33%;
    left: -5.5%;
}

.right-position {
    position: absolute;
    right: -5.5%;
    top: 33%;
}

.left-service {
    border-right: 0px;
}

.right-service {
    border-left: 0px;
}
.third-single-service {
    border-radius: 100px;
    height: 90px;
    padding-top: 17px;
    text-align: center;
    width: 90px;
    cursor: pointer;
}

.third-single-service i {
    font-size: 55px;
}

.service-text-container {
    display: table;
    height: 80%;
    margin-top: 3%;
}

.service-text {
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 20px;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.05);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    display: table-cell;
}


/*LEFT SIDEBAR SERVICES PAGE*/
.small-service {
    border-radius: 100px !important;
    height: 45px;
    padding-top: 5px;
    width: 45px;
    cursor: pointer;
    margin-bottom: 0.3em;
    background-color: white;
    margin-right: 1em;
}

    .small-service i {
        font-size: 25px;
    }

.services-sidebar.affix {
    top: 10%;
}

.sidebar-btn {
    display: table;
}

.service-title {
    display: table-cell;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

    .service-title.active {
        visibility: visible;
        opacity: 1;
    }

.sidebar-btn:hover .service-title {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 767px) {
    .services-sidebar {
        display: block;
        margin: 0 auto;
        width: -webkit-max-content;
        margin-bottom: 3em;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        padding: 10px 0px 10px 0px;
        background-color: white;
        text-align: center;
        z-index: 999999;
        width: 100%;
        box-shadow: 0px 1px 20px 0px #888888;
    }

    .sidebar-btn {
        display: inline-table;
    }

    .small-service {
        margin-right: 0px;
    }

    .services-sidebar.affix {
        top: 0px;
    }

    .sidebar-wrapper {
        padding: 0px;
    }

    .error-text {
        font-size: 100px;
    }

    .error-img {
        width: 100px;
        height: 100px;
    }

    .navi {
        box-shadow: 0px 1px 20px 0px #888888;
    }
}

.small-service .fa-bolt {
    color: #E74B3C;
}

.small-service .fa-tint {
    color: #428bca;
}

.small-service .fa-fire {
    color: #F29B11;
}

.small-service .fa-wifi {
    color: #19937B;
}

.small-service .fa-desktop {
    color: #7863E0;
}

.small-service .fa-phone {
    color: #19937B;
}




/*Remove bootstrap nav css */

/*-------------*/
/*End Sidebar*/

/*Sidebar services active CSS*/
.Electricity.active {
    background-color: #E74B3C;
}

.Gas.active {
    background-color: #F29B11;
}

.Water.active {
    background-color: #3596DA;
}

.Internet.active, .Telephone.active {
    background-color: #19937B;
}

.Television.active {
    background-color: #7863E0;
}

.Electricity.active i, .Gas.active i, .Water.active i, .Internet.active i, .Telephone.active i, .Television.active i, .Telephone.active i {
    color: white;
}
/*END OF SERVICES PAGE CSS*/


/*About Us CSS*/
.jon {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/Aboutus/Jon4.jpg");
}

.patch {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/Aboutus/Patch3.jpg");
}

.gavin {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/Aboutus/gavin.jpg");
    background-position: -50px;
    background-repeat: no-repeat;
}
.wrapperimg {
    width: 200px;
    height: 300px;
    background-size: cover;
    display: table;
    position: relative;
    margin-bottom: 1em;
}

.wrapperimg .onimg-items {
    z-index: 1;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

.wrapperimg .onimg-text  {
    visibility: hidden;
    color: rgba(29, 24, 24, 1);
    font-family: 'Lato';
    font-size: 20px;
}

.wrapperimg:hover .onimg-text {
    visibility: visible;
}

.wrapperimg:hover img {
    opacity: 0.6;
}

.awards {
    border: 1px solid rgb(153, 153, 153);
}

.award-year {
    font-family: "Lato Light";
    font-size: 21px;
    color: #999999;
    color: rgb(153, 153, 153);
}

.award-info {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    color: #736357;
    color: rgb(115, 99, 87);
}
/*END ABOUT US PAGE*/


/*TYPED JS CSS*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
        font-size: 40px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    }
    @keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-moz-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }


/*END TYPED JS CSS*/


/*MEDIA QUERIES*/

@media (max-width:350px) {
    .email-footer {
        font-size: 14px;
    }
}

@media (max-width:400px) {
    .carousels {
        display: none;
    }

    #container {
        margin:0px;
    }

    .third-single-img{
        width: 50px;
        height: 50px;
        padding-top: 10px;
    }

    .third-single-img i {
    font-size: 30px;
    }

    .service-box-icon {
    min-height: 50px;
    min-width: 50px;
    margin-top: 10px;
    }

    .service-content-container {
        margin-left: 63px;
    }
}

@media (max-width: 500px) {
    .btn-quote-group {
        display: none;
    }

    #btn-quote {
        display: block;
        margin-top: 15px;
    }

    #quote_postcode {
        border-radius: 0px 6px 6px 0px;
    }
}

@media (max-width: 750px) {

    .quick-find {
        margin-bottom: 0.5em;
    }
}

@media (max-width: 767px) {
    .service-box {
        margin-bottom: 2em;
    }

    .step-one, .step-two, .step-three, .step-four {
        bottom: -10px;
    }

    .s_postcode {
        margin-bottom: 15px;
    }

    #StartTime {
        margin-bottom: 15px;
    }

    .dropdown-menu > li > a {
        font-size: 12px;
    }

    .bootstrap-select.btn-group .dropdown-menu.inner {
        width: 16em;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        margin-top: 100px;
    }
}

@media (max-width: 780px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 17px;
        display: inline-block;
    }

    .header {
        height: 60em;
    }
}

@media (max-width: 900px) {
    .feel-home {
        background: url("https://az754941.vo.msecnd.net/Content/Images/v4/image-001.jpeg") no-repeat scroll;
        background-size: 150% 100%;
        background-position: 50%;
    }

    video {
        display: none;
    }
}

@media (min-width: 992px) {
    .faq-services-sidebar.affix {
        width: 23%;
    }
}

/*@media (max-width: 1100px) {
    .header {
        height: 41em;
    }
}*/

/*@media (min-width: 1200px) {
    .first {
        margin-left: 3em;
    }
}

@media (min-width: 1300px) {
    .header {
        height: 61em;
    }
}

@media (min-width: 1600px) {
    .header {
        height: 71em;
    }
}

@media (min-width: 1800px) {
    .header {
        height: 81em;
    }
}

@media (min-width: 2000px) {
    .header {
        height: 91em;
    }
}

@media (min-width: 2300px) {
    .header {
        height: 110em;
    }
}*/

@media (min-width: 1439px) {
    .right-position {
        right: -5%;
    }

    .left-position {
        left: -5%;
    }
}

@media (min-width: 1550px) {
    .right-position {
        right: -4.5%;
    }

    .left-position {
        left: -4.5%;
    }
}

@media (min-width: 1550px) {
    .right-position {
        right: -4%;
    }

    .left-position {
        left: -4%;
    }
}

@media (min-width: 1859px) {
    .right-position {
        right: -3.5%;
    }

    .left-position {
        left: -3.5%;
    }
}


/*END OF MEDIA QUERIES*/
